@{
	ViewData["Title"] = "технологии";
}

<div class="main-list">
	<h2>Список технологии</h2>


	<a class="anomaly-item" href="Technologies/AI_Vanguard">

		<strong>AI "Vanguard"</strong>(Был улучшен ИИ)
	</a>	


</div>
	