@{
    ViewData["Title"] = "   Объект-1 RU —«Предсказатель»";
}
<div class="main-anomaly">
    <h2>Объект-1 RU —«Предсказатель»</h2>

    <div class="image-block">
        <img src="~/images/1.png" alt=Объект-1 RU>
        <p style="text-align: center;"><strong>Объект-1 RU </strong><br> Объект-1 RU примерно </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-1 RU своего рода предсказатель событий.Но не всегда они будут правдивами. Мы не знаем всё то что он говорит сам или просто предсказывает то что он видит.Объект-1 RU во сне просто стоит на чёрном фоне и говорит то что (наверно)случится.Субъект который увидел его во сне врятли будет помнить предсказание.Объект-1 RU можно обнаружить спомощью мелких сейсмические толчки ,которые человек не может ощутить.Объект-34 UZ при таких сейсмические толчков немного перемещатся .Если вы заметили объект-1 RU сообщите директору зоны

    <p class="section-title">Описание:</p>
    <p>
        Примерно объект-1 RU  выглядит белыми линиями на черном фоне и состоит из следующих элементов .Глаза: два остроугольных, треугольных глаза с заострёнными верхними краями. Они наклонены внутрь, что придаёт лицу злобное выражение.Рот: широкий, волнистый, с острыми зубцами, создающий пугающую,                   ухмыляющуюся гримасу.

    </p>

    <p class="section-title">Происхождение:</p>
    <p>
        Возможно объект был создан культом "Лунных детей" Первое появление 1962 года. Год назад умер посследний из представитеоей "Лунных детей"

    </p>

    <p class="section-title">Обнаружение:</p>
    <p>
        Первое появление 1962 года. Год назад умер посследний из представитеоей "Лунных детей".Обнауржел Георгий Беверли в зоне 55.

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Условия содержания не имеют смысла

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    Объект-1 RU —«Предсказатель»
</div>