@{
    ViewData["Title"] = " ОБЪЕКТ-10 MN — «Цветок из бумаги»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-10 MN — «Цветок из бумаги»</h2>

    <div class="image-block">
        <img src="~/images/10.png" alt="Объект 10">
        <p style="text-align: center;"><strong>Объект-10 MN</strong><br>Фото объекта-10 MN </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-10 MN представляет собой бумажный цветок .Его аномальные воздействия то что при радиусе 10 м (Закрытое помещение) объект-10 MN выделяет свою пыльцу которая помогает сотрудникам переживать самые трудные времена. Объект-10 MN может размножатся, что позволяет нам использовать во зонах.Особо в зонах для тяжёлого сдерживания.Объект не впадает впячку, даже если поместить на волю.Но в зиму объект впадает у упадок , его дальность уменьшается к 5-6м и меняет цвет на жёлтый. К весне он медленно меняет цвет на розовый. Объект не может создавать гибриды. Поливать объект запрещено. При поливки объекта сам объект погибает.Объект не смотря на своё происхождение легко справляется с огнём. Его максимал +100 ,к морозу тоже.Пыльца объекта при попадания в грибок,плесень быстро устраняет их
    <p>

    </p>
    <p class="section-title">Описание:</p>
    <p>
        Объект-10 MN представляет собой искусственный  цветок сделанный  вручную из гофрированной бумаги.Стебли часто длинные,ярко зелёным цветом.На нём залепленный  «чашелистики».Лепестки крупные, розового цвета сделанные из гофрированной бумаги.Объект выглядит декоративным.


    </p>



    <p class="section-title">Происхождение:</p>
    <p>
        в 1991 году Подмосковье ██████.██.██.████. В церкви после потасовки грабителей в церковь приехала полиция .Она отбила бандитов от церкви. Они забрали всё на хранилище.На этом хранилище SIDS(мы) обнаружили объект.Поэтому логично считать что это проделки церкви семи кругов.


    </p>








    <p class="section-title">Условия содержания:</p>    
    <p>
        Объекту не надо условия содержаний. Хватает просто положить куда то туда,там где много тревожности. Часто объект используется  в вентиляционных тоннелях при отделах чо бы распылять пыльцу

    </p>
    


    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/9" class="next-button">←объект-9 RU </a>
        <a href="/Anomalies/11" class="next-button">объект-11 RU →</a>
            </a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-10 MN — «Цветок из бумаги»
</div>


