@{
    ViewData["Title"] = " ОБЪЕКТ-10 RU — «Цветок из бумаги»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-10 RU — «Цветок из бумаги»</h2>

    <div class="image-block">
        <img src="~/images/10.png" alt="Объект 10">
        <p style="text-align: center;"><strong>Объект-10 RU</strong><br>Фото объекта-10 RU </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-10 RU представляет собой бумажный цветок .Его аномальные воздействия то что при радиусе 10 м (Закрытое помещение) объект-10 RU выделяет свою пыльцу которая помогает сотрудникам переживать самые трудные времена. Объект-10 RU может размножатся, что позволяет нам использовать во зонах.Особо в зонах для тяжёлого сдерживания.Объект не впадает впячку, даже если поместить на волю.Но в зиму объект впадает у упадок , его дальность уменьшается к 5-6м и меняет цвет на жёлтый. К весне он медленно меняет цвет на розовый. Объект не может создавать гибриды. Поливать объект запрещено. При поливки объекта сам объект погибает.Объект не смотря на своё происхождение легко справляется с огнём. Его максимал +100 ,к морозу тоже.Пыльца объекта при попадания в грибок,плесень быстро устраняет их
    <p>


    </p>
      <p>
  <strong>Описание:</strong
    <p>
        Объект-10 RU представляет собой искусственный  цветок сделанный  вручную из гофрированной бумаги.Стебли часто длинные,ярко зелёным цветом.На нём залепленный  «чашелистики».Лепестки крупные, розового цвета сделанные из гофрированной бумаги.Объект выглядит декоративным.


    </p>


      <p>
    <strong>Происхождение:</strong
    <p>
        .В 1992 году  у   дверей агента в Подмосковье обнаружился  объект-10 RU c запиской "С Днём рождения  ███████.████████ от Церкви семи углов"Агента допрошывали и в том числе с использованием <a href="/Anomalies/17">объекта-16 FR </a>. Агент нечего не сказал кроме того,что он был в инциденте ████████


    </p>






      <p>

  <strong>Условия содержания:</strong
    <p>
        Объекту не надо условия содержаний. Хватает просто положить куда то туда,там где много тревожности. Часто объект используется  в вентиляционных или  в  секторах особой опасности . В случае,если сотрудники не смогут жить без объект-10 RU немедленно надо прекратить их использование

    </p>
    


    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/9" class="next-button">←объект-9 RU </a>
        <a href="/Anomalies/11" class="next-button">объект-11 RU →</a>
            </a>

    </div>
</div>

