@{
    ViewData["Title"] = "ОБЪЕКТ-100 US-«Люди в небе»";
}
<div class="main-anomaly">
    <h2>ОБЪЕКТ-100 US-«Люди в небе»</h2>

    <div class="image-block">
        
        <p style="text-align: center;"><strong>Фотки объекта-100 US были удалены </strong><br> </p>
     

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-100 US — это аномальные гуманоидные сущности, постоянно находящиеся в воздухе. Они визуально напоминают людей и находятся в состоянии непрерывного полёта, как правило, на значительной высоте, устремляя взгляд вниз, будто наблюдая за происходящим на поверхности ЗемлиВизуальный контакт с Объектом-100 US, включая фотографическое изображение, способен оказывать разрушительное воздействие на психику и нейрофизиологию человека. Зафиксированы случаи, при которых просмотр изображения объекта приводил к деградации когнитивных функций и серьёзным поражениям мозга. В связи с этим все визуальные материалы, содержащие Объект-100 US, были изъяты и уничтожены.При получении физических повреждений данные сущности начинают испытывать неконтролируемые конвульсии, предположительно вызванные болевым шоком. Установлено, что Объекты-100 US могут погибнуть в результате сильных ранений и кровопотери.

        Средняя скорость передвижения объектов составляет около 70 км/ч. Их личности неизвестный 
       
    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объекты-100 US облачены в одежду, стилистически соответствующую гражданской моде XIX века. Зарегистрированы представители как мужского, так и женского пола, с различными признаками этнической принадлежности. Лица объектов покрыты следами крови. Органы зрения (глаза) визуально пусты — отсутствует выраженная радужка и зрачки, что придаёт взгляду неестественный, мертвенный характер. На задней поверхности шеи каждого экземпляра выявляется обширная открытая рана, имеющая признаки глубокой травматической деформации. Функциональное назначение данной травмы и её роль в аномальных свойствах объекта остаются невыясненными.


    </p>

    <p class="section-title">Происхождение:</p>
    неизвестно

    <p>.
    <p class="section-title">Обнаружения:</p>
    <p>
        в 1995 году  у города  Милуоки армия  США засекли  на радарах объект-100 US  неизоткуда.В Хоутон-Лейк два F-16 прилетели и начали следовать. Армия сша связалась с SIDS. SIDS связалась с командой F-16 и приказала стрелять по объекту. Спустя уничтожения пол объекта SIDS попросила  описать объекты. Потом SIDS  приказала уничтожить весь объект  под предлогом: Мы не можем сделать условия содержания и обезопасить граждан  от объекта.


    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        нейтрализован
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/49" class="next-button">←объект-49 FR </a>
        <a href="/Anomalies/123" class="next-button">объект-123 CN →</a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-100 US-«Люди в небе»
</div>