@{
    ViewData["Title"] = "   Объект-11 RU -«Мусорка пропаданья»";
}
<div class="main-anomaly">
    <h2> Объект-11 RU -«Мусорка пропаданья»</h2>

    <div class="image-block">
        <img src="~/images/11.png" alt=Объект-11 JP>
        <p style="text-align: center;"><strong>Объект-11 RU </strong><br>  Объект-11 RU —«Мусорка пропаданья» </p>
        
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
       
        Объект-11 RU мусорка неизвестного происхождения.Если сложить в мусорку больше половины то через 17 часов всё то что сложили исчезает.Исключение только вы жидкости. Объект-11 RU  испытает удивительную функцию похожая на Неньютоновской жидкостью.Это функция работает только на  металлическую часть.Внутри объекта находится пакет. Этот пакет не исчезают ,не портится,не грязнеет и не снимается.Пакет на взгляд сделан на полиэтилен.Но на самом деле это аномальная сталь.Это аномальная сталь (аномсталь) состоит из микро полиэтилена и стали. Сталь не считая аномальных свойств сделана из высококачественной конструкционной стали.Объект-11 RU  можно разделить спомощью ключа. Но ключа не было. Копия которою SIDS(мы) сделали не работала .Объект-11 RU не стал АРХОНТОМ и за  того что SIDS(мы) незнаем куда пропадает мусор.Есть шанс что всё то что выкидывается попадает на землю,но уже в другую точку мира.








    <p>





       

 <strong>Описание:</strong>
    <p>
        Объект-11 RU это две урны .Левая секция помечена вертикальной наклейкой чёрного цвета с ярко-жёлтым рисунком: схематическая фигурка человека выбрасывает мусор в корзину. Под пиктограммой размещена надпись на русском и английском языках:"НЕСОРТИРУЕМЫЕ ОТХОДЫ / OTHERS" — что означает, что сюда выбрасываются отходы, которые не подлежат раздельному сбору.Справа на боковой панели виден жёлтый стикер с дополнительной информацией или пиктограммой уже для сотрудников SIDS(мы)  с краткой информации про объект.Внимание:сотрудникам организации,пожалуйста,не бросайте мусор в урны.
    </p>

    <div class="dialogue-block">
        <p style="text-align: center;"><strong>Эксперимент 11-2</strong><br> </p>

        <p class="section-title"> <span style="color:#b30000"></span></p>
        <p>
            <strong> Суть эксперимента:</strong>
            . З-242534 ████████ ███████ и ведущий ██████ ████████ ,последущее  имя ДОК.Задача испытуемого это проверить,телепортировается ли он когда засунет руку в урну после ожидания 17 часов.
        <p>
            Амуниция: Радиостанция,костюм  биологической защиты уровня 1,бронежилет , ПМ с 4 обоймами, Аптечка,  и немного припасов.
        <p>
            <strong> Итог:</strong>
             Испытуемого после ожидания в 17 часов разорвало всю руку с частями тела . Испытуемый погиб
        <p>
            КЛАО после инцидента  попросила сделать объект-11  RU  ОПАСНЫМ,но советник отказал решения КЛАО



    </div>

    <strong>Происхождение:</strong>
    <p>
        Неизвестно.Хозяин и другие важные персоны в авиапорте,  не под стались под <a href="/Anomalies/15"> объектом-17 FR</a>

    </p>
    <strong>Обнаружение:</strong>
    <p>
       2003 год,зима,31 декабря. Группа  ГЕРДИТ-76 которая ждала самолёт в авиапорте ЕКБ в 2003 году.Один из бойцов выпил бутылку воды и выбросил и он увидел что мусорка имеет  функцию ньютоновскую жидкость.Через день уже ГЕРДИТ-55 забрал объект-11 RU 



    </p>

    <strong>Условия содержания:</strong>
    <p>
        
       Объект-11 RU должен находится в помещение не менее 4м и до 10 м.В высоту  4м.Дверь 1 уровня защиты(смотря в какой мине зоне объект находится) объект-11 RU должен быть закрытым специально сделанным для него  закрылками которые закрывают урны.Закрылки открываются дистанционно 2 уровнем доступа.
    <p>

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/10" class="next-button">←объект- 10 RU </a>
        <a href="/Anomalies/12" class="next-button">объект-12 RU →</a>


    </div>
</div>


<div class="footer-bar">
    Объект-11 RU -«Мусорка пропаданья»
</div>



