@{
    ViewData["Title"] = "Объект-1126 FI «Магнитофон мыслей»";
}
<div class="main-anomaly">
    <h2>Объект-1126 FI «Магнитофон мыслей»</h2>

    <div class="image-block">
        <img src="~/images/1126.png" alt="Объект 1126 FI">
        <p style="text-align: center;"><strong>Объект-1126 FI</strong><br>Фото объекта-1126 FI </p>



    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности:</strong> Объект-1126 FI способен интерпретировать и транслировать эмоциональное состояние животных и иных форм жизни в речевой формат. Однако точность перевода зависит от уровня когнитивной сложности субъекта:

        При взаимодействии с низкоразумными существами (например, собаками), трансляции, как правило, достоверны.

        При попытке интерпретировать эмоции или мысли более разумных существ (например, других аномалий), устройство генерирует бессвязные или абсурдные высказывания, часто не имеющие логической структуры.

        Особенности активации:
        Для активации объекта требуется подобрать определённую частоту, при которой он начинает функционировать. Частота может изменяться при каждом новом использовании. На экране появляется полоса – при верной частоте она делится на множество мелких сегментов, что указывает на активацию.



    </p>



    <strong>Описание:</strong>
    <p>
        Описание: Описание: Аномальное устройство, внешне идентичное переносному фиолетовому магнитофону, оборудованному сенсорным экраном. Имеет ручку для переноски, встроенные колонки по бокам, панель управления снизу по центру и кассетный отсек. Присутствуют стандартные аудиоразъёмы и переключатели..
    </p>

    <strong>Происхождение:</strong>
    <p>Неизвестно ,Но мы знаем что объект был создан в Китае</p>

    <strong>Обнаружения:</strong>
    <p>
        Дата: 1998 год 17 ноября

        Место: г. Вантаа, Финляндия

        Обстоятельства: Объект-1126 FI был найден в музыкальном магазине покупателем, который попытался его приобрести. Продавец отказался от продажи, ссылаясь на "особенности устройства". После окончания рабочего дня продавец решил продать на бирже и за необычных функциях устройства  намеревался продать . Объект был впоследствии выкуплен агентами SIDS и помещён в зону содержания 79.
    </p>

    <strong>Условия содержания::</strong>
    <p>
        Объект-1126 FI должен находиться в помещении с габаритами не менее 3м x 3м x 3м.

        Объект-1126 FI содержания должна быть герметично закрыта куполом..

        Прямой контакт возможен только с разрешения кураторов зоны.


    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/923 " class="next-button">←объект-923 JP </a>
        <a href="/Anomalies/1917" class="next-button">объект-1917 RU  →</a>

    </div>
</div>

<div class="footer-bar">
    Объект-1126 FI «Магнитофон мыслей»
</div>