@{
    ViewData["Title"] = "Объект-12 RU — «Лунный камень»";
}
<div class="main-anomaly">
    <h2>Объект-12 RU — «Лунный камень»</h2>

    <div class="image-block">
        <img src="~/images/12.png" alt=Объект-12 RU>
        <p style="text-align: center;"><strong>Объект-12 RU </strong><br>Фото объекта-12             RU </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Регенеративное воздействие:
        При непосредственном контакте с повреждёнными участками тела (путём прикладывания к ране), объект стимулирует заживление тканей, устраняя повреждения неустановленным образом.

        Деградация загрязнений:
        При прикосновении к загрязнённым участкам кожи или ткани (в том числе к грязи и биологическим жидкостям), объект мгновенно устраняет загрязнение.
        При этом объект изменяет свою окраску:

        При контакте с кровью — становится красным;

        При контакте с грязью — приобретает бурый оттенок.
        Для восстановления исходного состояния требуется физическая очистка.

        Телепортационные свойства:
        Всё то что объект проглотила телепортируется в лимбо 
    </p>

    <strong>Описание:</strong>
    <p>
        Объект-12 RU представляет собой сфероидный артефакт, визуально напоминающий металлический мяч. Диаметр ~11 см, высота — 11 см. Поверхность гладкая на ощупь, с выраженными металлическими характеристиками. Масса объекта составляет приблизительно 3 кг. При визуальном наблюдении верхняя часть шара демонстрирует проекцию ясного неба без облаков, независимо от освещённости и положения в пространстве. Нижняя часть обладает зеркальной отражающей способностью.
    </p>

    <strong>Происхождение:</strong>
    <p>Согласно неподтверждённым источникам, Объект-12 RU предположительно принадлежал секте, известной как «Сектанты Лунных детей», и упал на Землю в результате неустановленного космического инцидента (район лесной зоны в Сибири). Предположительно прибыл из космоса.</p>

    <strong>Обнаружение:</strong>
    <p>Первично зафиксирован в 1943 году в особняке, использовавшемся группировкой «Лунные дети». Найден немецким солдатом, разыскивавшим медикаменты. Солдат изъял объект, однако был ликвидирован спустя 10 минут советскими войсками. Объект был изъят бойцом Красной армии, Райкуновым Фёдором Петровичем, и доставлен на территорию SIDS.</p>

    <strong>Условия содержания:</strong>
    <p>
        Объект-12 RU должен храниться в помещении размерами не менее 4.5×4.5 м. В центре расположена перевёрнутая цилиндрическая капсула из металла (наклон 90°), герметично закрытая куполом. Сам объект должен находиться в углублении, исключающем неконтролируемое перемещение.
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/11" class="next-button">←объект-11 RU </a>
        <a href="/Anomalies/13" class="next-button">объект-13 TR →</a>

    </div>
</div>
<div class="footer-bar">
    Объект-12 RU — «Лунный камень»
</div>