@{
    ViewData["Title"] = "Объект-123 CN «Листосеком»";
}

<div class="main-anomaly">
    <h2>Объект-123 CN «Листосеком»</h2>

    <div class="image-block">
        <img src="~/images/123.png" alt="Объект 123">
        <p style="text-align: center;"><strong>Объект-123 CN</strong><br>Фото Объект-123 CN сверху </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности-описание:</strong>Объект-123 CN потребляет радиоактивные отходы и нефти, что способствует его ускоренному росту и размножению.У брюшка есть паутинные бородавки. С помощью радиоактивных отходов и нефти они плетут паутину которая очень крепка. Паутина объекта-123 CN состоят из нанокристаллов. Было выявлено, что они похожи на паутину у пауков, но было добавлены минералы и иногда синтетический полимер. Есть гипотеза что синтетический полимер появляется только во время брачного периода. Возможно их гармонны действую на паутинные бородавки. При дефиците отходов объект впадает в коконоподобное состояние в течение суток. Внутри кокона содержится радиоактивная жидкость -- ПС123. Другие особи разрывают кокон и начинают высасывать ПС123 из сородича. Мясо объекта-123 CN очень питательна и имеет аномальные способности.При употребления мяса объекта-123 CN  субъект ощущает окло 8 часов сытость(что не вредит организму) ,но после употребления объект ощущает слабость и через 5-6 употреблений 1кг мяса объекта-123 CN субъект  больше не может жить без мяса объекта-123 CN

    <p>
        Объект обладает крыльями, но  они слабо развиты и не позволяют осуществлять полноценный полёт.С помощью них они прыгают . На лапках находятся щетинки, с помощью которых особи способны переносить предметы и разрывает предметы. Объект-123 CN не проявляет агрессии по отношению к другим биологическим видам и не использует их в пищу — органы защиты развиты исключительно для обороны. Глаза состоят из фасеток. С помощью антенн возможна примитивная форма коммуникации между особями.

    <p>
        Отмечено, что объект-123 CN может быть использован как еда заместо свиней для объектов.Общий внешний вид подчёркивает аномальное происхождение существа, сочетающее элементы биологии и мимикрии. Внешне он напоминает крупное насекомое, сочетающее черты кузнечика и жука, с характерными листообразными крыльями ярко-зелёного цвета. Поверхность тела и крыльев покрыта текстурой, напоминающей растительную структуру, что, предположительно, обеспечивает ему маскировку в природной среде.

    <p>
        Объект-123 CN облдает фотосинтезом,но он мало эффективный и за того что, было мало концентрации фонтосинеза

    <p>
        В случаях если не хватает для учреждения  пропитания для объекта-123 CN ,то SIDS просит у страны в которой учреждение находится отходов. В случае если их нет, то SIDS прости у других стран отходы для пропитания объекта-123 CN.
    <p>
        Из отходов объекта-123 CN получается Т-1. Т-1 это кислота предназначена для использование в уходе за помещениями.При отсчистке убирать все вещи которые задействуются в жизни человека


    <p>
         <strong>Обнаружение:</strong>
    В Китае коготь-100.Точное местонахождение (ДАННЫЕ УДАЛЕНЫ). Их нашли при проверки местности и за многих жалоб граждан Китая на экологию и на обнаружения больших насекомых. Коготь-100  при проверке на вертолёте пролетела  у маленького озера у которой находилась стада объекта-123 CN рядом с фабрикой. Через день все объекты-123 CN были взяты под контроль с помощью дротиков с сильным действующим снотворным . Все экземпляры были выведены в зону 65. Поздже после многожества экспериметов все объекты-123 CN начали предлогать как замена свиньям



    <p>

        <strong>Условия содержания:</strong>
    <p>
        Везде разное. Например, в зоне-79 это бывшие технические туннелях переоборудованные под условия для объекта-123 CN. Внизу путей туннелей расположен пруд из которого пьют объекты-79 CN. В важных местах расположены специальные технологии для отпугивания объекта-123 CN
    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/100" class="next-button">←объект-100 US </a>
        <a href="/Anomalies/155" class="next-button">объект-155 KR →</a>

    </div>
</div>


<div class="footer-bar">
    Объект-123 CN «Листосеком»
</div>