@{
    ViewData["Title"] = "Объект-123 CN «Листосеком»";
}

<div class="main-anomaly">
    <h2>Объект-123 CN «Листосеком»</h2>

    <div class="image-block">
        <img src="~/images/123.png" alt="Объект 123">
        <p style="text-align: center;"><strong>Объект-123 CN</strong><br>Фото Объект-123 CN сверху </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности-описание:</strong>бъект-123 CN потребляет радиоактивные отходы, что способствует его ускоренному росту и размножению. При дефиците отходов объект впадает в коконоподобное состояние в течение суток.Внутри которого содержится радиоактивная жидкость — питательная среда для остальных особей.

        Объект обладает крыльями, одн++  они слабо развиты и не позволяют осуществлять полноценный полёт. На лапках находятся щетинки, с помощью которых особи способны переносить предметы . Объект-123 CN не проявляет агрессии по отношению к другим биологическим видам и не использует их в пищу — органы защиты развиты исключительно для обороны. Глаза состоят из фасеток. С помощью антенн возможна примитивная форма коммуникации между особями.

        Отмечено, что объект-123 CN может быть использован как еда заместо свиней для объектов.Общий внешний вид подчёркивает аномальное происхождение существа, сочетающее элементы биологии и мимикрии. Внешне он напоминает крупное насекомое, сочетающее черты кузнечика и жука, с характерными листообразными крыльями ярко-зелёного цвета. Поверхность тела и крыльев покрыта текстурой, напоминающей растительную структуру, что, предположительно, обеспечивает ему маскировку в природной среде.



    <p>
         <strong>Обнаружение:</strong>
    В Китае коготь-100.Точное местонахождение утеряно. Их нашли на вертолёте у маленьком озере которая находилась рядом с фабрикой. Через день все объекты-123 CN были взяты под контроль. И отправлены в зону 65. Через время они были отправленный на множество зон для  мяса для объектов

    <p>
        <strong>Происхождение:</strong>
    Скорее всего мутировал из насекомого. Точный вид неизвестен
    <p>

        <strong>Условия содержания:</strong>
    <p>
        Обычная комната состоит из 12м 10 м 8м. Камера содержания на открытом воздухе с прудом . Вода должна каждую неделю менятся. Каждую неделю в камеру содержание идут два уборщика. Их кормят из кормилок .
    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/100" class="next-button">←объект-100 US </a>
        <a href="/Anomalies/155" class="next-button">объект-155 KR →</a>

    </div>
</div>


<div class="footer-bar">
    Объект-123 CN «Листосеком»
</div>