

@{
    ViewData["Title"] = "  Объект-13 TR -«Хрущёвка-отель»";
}
<div class="main-anomaly">
    <h2> Объект-13 TR -«Хрущёвка-отель»</h2>

    <div class="image-block">
        <img src="~/images/13 2.png" alt=Объект-13 TR>
        <p style="text-align: center;"><strong>Объект-13 TR </strong><br>  Объект-13 TR—1 номер </p>

    </divы
    <div class="image-block">
        <img src="~/images/13 4.png" alt=Объект-13 TR>
        <p style="text-align: center;"><strong>Объект-13 TR </strong><br>  Объект-13 TR—2 бар в лобби на второй день </p>

    </div>
     <div class="image-block">
        <img src="~/images/13 3.png" alt=Объект-13 TR>
        <p style="text-align: center;"><strong>Объект-13 TR </strong><br>  Объект-13 TR—1  . Столовая на открытом воздухе </p>

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>

    <p>
        <strong> Объект-13 TR-1:</strong>
        Объект-13 TR это сам отель .Объект-13 TR  воздействует на восприятие субъекта. Иногда  и за  объекта-13 TR можешь  видеть прозрачных дымовых  объектов-13 TR-F,которые идут за своими существующими  субъектам.Субъекты за которым двигаются  объект-13 TR-F  зараженный  объект-13 TR-B.Объект-13 TR-B воздействует и на  небо. Почему то в зоне на 10 км  облака некогда не появлялись после 2018 года.Но растения живут нормально.
    <p>
        <strong> Объект-13 TR-B:</strong>
        Первый это объект-13 TR-B вероятно меметический эффект неизвестного происхождения.Чаще всего страдают от объекта-13 TR-В  это  евреи.Заражение от объекта-13  TR-B происходит от коктейлей и  малым шансом в водоёмах.Вылечить объект-13 TR-B невозможно на данный момент.Если вы заражены объектом-13 TR-B  не медленно покиньте отель и уйдите на 100 м от отеля ради безопасности .Объект-13 TR-B воздействует только в зоне отеля и 60 м рядом с ним.Если уснуть то вы  проснётесь вы Объекте-13 TR-2. Рядом с отелем аномалия тоже работает
    <p>
        <strong> Объект-13 TR-F:</strong>
        Это существа которые находятся в фантомном мире.Они повторяют за реальными  людьми.Объект-13 TR-F не имеет лиц.Каждый день лицо будет "смываться".Вероятно и за объекта-13 TR-B мозг думает что у объектов-13 TR-F есть лица и рисует его с помощью существующих людей  . Иногда объект-13 TR-B   перепутывает лица давая лица других людей. Объект-13 TR-F опасный. Когда его лицо полностью размыто они будут пытаться убить(некоторые) .На седьмой(7) день они будут крайне агрессивный.Огнестрел крайне эффективным
    <p>
        <strong> Объект-13 TR-2:</strong>
        Объект-13 TR-2 это копия отеля.Постепенно он будет меняться.В конце концов вместо отеля который существует в реальности будет хрущёвка. Последний этаж будет уничтожен крышей.Каналы на телевизоре постепенно будут меняться на советские. Интернет исчезнет . В барах будут наливать  напитки по типу "Буратино".Если вы не будете спать то вы уснёте в 23:59  не зависит где.В попадёте на рандомный номер со своими вещами.Выйти из отеля невозможно. Вы умрёте от остановки сердца.
    <p>
        <strong> Объект-13 TR-A:</strong>
        они появляются на 6-7 день.Это голуби,кошки,крысы,тараканы и собаки.Они  гнилые, заражённые бубонной чумой и другими вирусами.Они крайне агрессивные. К ним подходить запрещено. При ране от них ваша жизнь закончится через 2 дня с адской болью

    <p>
            <strong> Первый(1) день:</strong>
    <p>
        На первый(1) день всё нормально,но после как вы уснёте в объекте-13 TR-1 вы попадёте в объект-13 TR-2.
    <p>
        <strong> Второй(2) день:</strong>
        Второй(2) день: На второй день всё нормально,но уже лица размываются. Это почти видно.
    <p>
            <strong> Третий(3) день:</strong>
        Третьи(3) день: На третьи день лица уже заметно размыты,но видно их черты.Еда и напитки становится не вкусными и будут ближе к просрочке . Их свежесть будет на три(3) дня. Интерьер уже становится более советским.
    <p>
            <strong> Четвёртый(4) день:</strong>
        Четвёртый(4) день: На четвёртый день еда становится ближе к просрочке . Уже свежесть на 1 день. Еда станет противной. Лица размыты ,уже тяжело различать. Они начнут атаковать если не быть вежливым и не мешаться.Интернет начнёт логать. Номера уже частично советские. в Море начнут появляться большие волны на 1м.50см.Купатся в море нельзя и за амёбы Неглерия Фоулера.
    <p>
        <strong> Пятый(5) день:</strong>
        Пятый(5) день: На пятый день лица полностью размыты.В бассейне повысится хлорка,появится таже амёба. Шанс словить её ОЧЕНЬ МАЛ. Номера и коридоры станут полностью советскими. Еда станет полностью советской как и напитки .Еда станет просроченой на день. Интернет исчезнет
    <p>
            <strong> Шестой(6) день:</strong>

        Шестой(6) день: В бассейне появится отходы и полностью захваченный бассейн. Объект-13 TR-A начнёт охотится на вас . Последний этаж исчезнет. Балконы станут из хрущёвок.
    <p>
            <strong> Седьмой(7) день:</strong>
        Седьмой(7) день: Объект-13 TR-F начнут охоту.   Единственный шанс выжить это закрыться в номере и спрятаться под кроватью.
    <p>
        <strong> :</strong>
        Следующие дни включают полное уничтожение отеля. Выжить невозможно







    </p>



      <strong>Происхождение:</strong>
    <p>
        Неизвестно.
    </p>

  <strong>Обнаружение:</strong>
    <p>
        в 2019 году бот "КЗК"(Космический Зонт Камерсант) зафиксировал подозрительные вещи.Над отелем уже год нету облаков.Туда направились коготь-977 через 29 дней.Они не сразу зафиксировали аномалию,только через 1 час.Они увидели фантомов и заметили что растения живут


    </p>

     <strong> Условия содержания:</strong>
    <p>
        Раньше  до уничтожения отеля в 2022 году .По отелю и блажащими 100 м проходят роботы замаскированный под людей.Все входы защищают коготь-237ход запрещён всем живым существам.От берега на 300м вход запрещён,патрулирует коготь-125
        <p>
На данный момент меметический эффект остался,но уже только в виде головокружения и усталости. Но море патрулируется до сих пор.Зона с отелем на картах SIDS размешена как участок-13




    <p>

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/12" class="next-button">←объект- 12 RU </a>
        <a href="/Anomalies/14" class="next-button">объект-14 UK →</a>


    </div>
</div>


