@{
    ViewData["Title"] = " Объект-14 UK— «Начало»";
}
<div class="main-anomaly">
    <h2> Объект-14 UK— «Начало»</h2>

    <div class="image-block">
        <img src="~/images/15.png" alt=Объект-14 JP>
        <p style="text-align: center;"><strong>Объект-14 UK </strong><br>  Объект-14 UK— «Начало»
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-14 UK   это поломанное зеркало . Зеркало по химическому исследованию показало что ей не более  350-1240 лет. Зеркало поломано но не теряет своих свойств. Объект-14 UK  показывает не выявленном способом древний мир. Этот древний мир предположительно  по эпохам мезозоя по ████████████ ████████.Вид с объекта-14 UK   может быть разным.Иногда это поле и иногда это  леса,горы.  Предположительно мы левитируем над землёй около 1м.80см.То есть с размера человека  Объект-14 UK .Зеркало объекта-14 UK пуленепробиваемая .Основа объекта-14 UK хрупкая.Объект-14 UK используется для исследований древнего и частично древнего
        






    <p>







    <p class="section-title">Описание:</p>
    <p>
        Объект-11 RU это две урны .Левая секция помечена вертикальной наклейкой чёрного цвета с ярко-жёлтым рисунком: схематическая фигурка человека выбрасывает мусор в корзину. Под пиктограммой размещена надпись на русском и английском языках:"НЕСОРТИРУЕМЫЕ ОТХОДЫ / OTHERS" — что означает, что сюда выбрасываются отходы, которые не подлежат раздельному сбору.Справа на боковой панели виден жёлтый стикер с дополнительной информацией или пиктограммой уже для сотрудников SIDS(мы)  с краткой информации про объект.Внимание:сотрудникам организации,пожалуйста,не бросайте мусор в урны.
    </p>

   


    

    <p class="section-title">Обнаружение:</p>
    <p>
        В 1956 году агенты расколотой воли нашли и изъяли из сауны в Великобритании .В 2012 году в Великобритании зоны-███ группа апаллон-54, апаллон-90 и апаллон-100 атаковала изьяв 2 объекта. Статус атаки была успешна
    </p>

    <p class="section-title">Происхождение:</p>
    <p>
    По словам агента расколотой  воли объект-14 UK  появился и за неудачного эксперимента с помощью чёрной материи.Больше информации из агента не получилось получить.Агенты были устранены успешно 


    </p>

    <p class="section-title">Условия содержания:</p>
    <p>

        Объект-11 RU должен находится в помещение не менее 4м и до 10 м.В высоту  4м.Дверь 1 уровня защиты(смотря в какой мине зоне объект находится) объект-11 RU должен быть закрытым специально сделанным для него  закрылками которые закрывают урны.Закрылки открываются дистанционно 2 уровнем доступа.
    <p>

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/13" class="next-button">←объект- 13 TR </a>
        <a href="/Anomalies/15" class="next-button">объект-15 EG →</a>


    </div>
</div>

<div class="footer-bar">
    Объект-14 UK— «Начало»  
</div>



