@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Объект-14 UK— «Начало»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/sids-embedded.css?v=1">
    <link rel="icon" type="image/x-icon" href="~/images/SIDS.png">
</head>
<body>
    <div class="sids-embedded">
        <header class="SIDS-site-header">
            <div class="SIDS-header-inner">
                <a href="/" class="logo-link">
                    <img src="~/images/ZONE1112.png" alt="SIDS Logo" style="width:150px; height:auto;">
                </a>

                <div class="SIDS-titles">
                    <h1>SECURE • INVESTIGATE • DELAY • SAVE</h1>
                    <p> <span style="color:#b30000">ЗОНА-111</span></p>

                </div>
            </div>
        </header>

        <nav class="SIDS-site-nav">
            <div class="SIDS-nav-inner">
                <a href="/Anomalies">Аномалии</a>

                <a href="/AddInfo">Доп. инфа</a>

                <a href="/Organizations">Организации</a>
            </div>
        </nav>

        <main class="SIDS-main-content">
            <h1>Объект-14 UK— «Начало»</h1>
            <p><strong>Класс объекта:</strong> <span style="color:#b30000"> МАЛООПАСНЫЙ</span></p>

          

            <p><strong>Способности:</strong> Объект-14 UK это поломанное зеркало . Зеркало по химическому исследованию показало что ей не более 300-400 лет.По архитектуре объект-14 UK года XVIII (Рококо или неорококо). Зеркало поломано но не теряет своих свойств. Объект-14 UK показывает не выявленном способом древний мир. Этот древний мир предположительно по эпохам мезозоя по ████████████ ████████.Вид с объекта-14 UK может быть разным.Иногда это поле и иногда это леса,горы. Предположительно мы левитируем над землёй около 1м.80см.То есть с размера человека Объект-14 UK .Зеркало объекта-14 UK пуленепробиваемая .Основа объекта-14 UK хрупкая.Объект-14 UK используется для исследований древнего и частично древнего
            <p>
                <strong>
                    Описание:
                </strong>
                Объект-14 UK выглядит как овальное зеркало в белой декоративной раме с рельефными цветочными узорами.
            </p>


            <p>
                <strong>
                    Обнаружения:
                </strong>
                В 1956 году по сообщениею хозяина сауны,которая находится в Великобритании полиции. Хозяин начал говорить что  он зашёл в сауну ,а там зеркало которое отражает лес.Полсе этого диспетчер сказал не беспокоится и не стал вызывать наряд,а сообщил людям выше званием.Вы итоге  прибыли агенты расколотой воли,а не люди из SIDS нашли и изъяли из сауны в Великобритании .В 2012 году в Великобритании зоны-███ группа Сеточные шотландцы-54, Сеточные шотландцы-90 и Сеточные шотландцы-100 атаковала изьяв 2 объекта. Статус атаки была успешна





            </p>
            <p>
                <strong> Происхождения:  </strong>По словам агента расколотой воли объект-14 UK появился и за неудачного эксперимента с помощью магии лунных детей. По его словам обряд проходил с помощью бывших плащов лунных детей и обычный кинжал. Дальше агент перестал говорить, а в его глазах потемнело. Было выяснено что у него взорвалась сердце. Кровь несмотря на свежесть была гнилая.

            </p>





            <p>
                <strong>
                    Условия содержания:
                </strong>
                Условия содержания: Объект-14 UK должен стоять на цилиндре. Над объектом-14 UK стоит купол с уровнем доступа 4 с разрешение директора зоны. Эксперименты с объектом-14 UK бесполезный. Ведутся ежедневное наблюдая за объектом-14 UK

            </p>
            <p>
                Каждый день прочищать от пыли объект-14 UK и поверхность на чём он стоит. Объект-14 UK должен храниться вертикально, под углом 7. Использовать мягкие прокладки и антикоррозийную бумагу для защиты стекла. Температура: +10...+25 C (без резких перепадов). Влажность: 40–60%.
            </p>


            <p>
                Каждый день проводить полную проверку объекта-14 UK и уборку. В случае нахождения изменений, сообщить директору зоны-111
            </p>




            <div class="highlightSCPP2PP">
                УРОВЕНЬ ДОСТУПА: 4
            </div>

            <div class="nav-buttons">
                <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
                <a href="/Anomalies/13" class="next-button">←объект- 13 TR </a>
                <a href="/Anomalies/15" class="next-button">объект-15 EG →</a>


            </div>
        </main>

        <footer class="SIDS-site-footer">
            © 2025 Организация SIDS — Все права засекречены
        </footer>
    </div>
</body>
</html>

