@{
    ViewData["Title"] = " Объект-14 UK— «Начало»";
}
<div class="main-anomaly">
    <h2> Объект-14 UK— «Начало»</h2>

    <div class="image-block">
        <img src="~/images/15.png" alt=Объект-14 JP>
        <p style="text-align: center;"><strong>Объект-14 UK </strong><br>  Объект-14 UK— «Начало»
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-14 UK   это поломанное зеркало . Зеркало по химическому исследованию показало что ей не более  300-400 лет.По архитектуре  объект-14 UK года XVIII (Рококо или неорококо). Зеркало поломано но не теряет своих свойств. Объект-14 UK  показывает не выявленном способом древний мир. Этот древний мир предположительно  по эпохам мезозоя по ████████████ ████████.Вид с объекта-14 UK   может быть разным.Иногда это поле и иногда это  леса,горы.  Предположительно мы левитируем над землёй около 1м.80см.То есть с размера человека  Объект-14 UK .Зеркало объекта-14 UK пуленепробиваемая .Основа объекта-14 UK хрупкая.Объект-14 UK используется для исследований древнего и частично древнего
        






    <p>







        <strong>Описание:</strong>
    <p>
        Объект-14 UK выглядит как  овальное зеркало в белой декоративной раме с рельефными цветочными узорами.
    </p>






    <strong>Обнаружение:</strong>
    <p>
        В 1956 году агенты расколотой воли нашли и изъяли из сауны в Великобритании .В 2012 году в Великобритании зоны-███ группа апаллон-54, апаллон-90 и апаллон-100 атаковала изьяв 2 объекта. Статус атаки была успешна
    </p>

    <strong>Происхождения:</strong>
    <p>
    По словам агента расколотой  воли объект-14 UK  появился и за неудачного эксперимента с помощью чёрной материи.Больше информации из агента не получилось получить.Агенты были устранены успешно 


    </p>

    <strong>Особые условия содержания:</strong>
    <p>
        Комната управления должна быть в длину 4м ширину 2м.Комната содержания  в длину 4м в ширину 4 м. Высота 3 м .Цилиндр объекта-14 UK из сплава чугун покрашенный в серый цвет.Сверху цилиндра есть купол с уровнем доступа 2. Объект-14 UK  завёрнут в защитную плёнку , запакован в  железную капсула с подставкой на которой всё это стоит.
        
    <p>

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/13" class="next-button">←объект- 13 TR </a>
        <a href="/Anomalies/15" class="next-button">объект-15 EG →</a>


    </div>
</div>

<div class="footer-bar">
    Объект-14 UK— «Начало»  
</div>



