@{
    ViewData["Title"] = "   Объект-15 EG— «Сублизуб»";
}
<div class="main-anomaly">
    <h2>   Объект-15 EG— «Сублизуб»</h2>

    <div class="image-block">
        <img src="~/images/14.png" alt=Объект-11 JP>
        <p style="text-align: center;"><strong>Объект-11 RU </strong><br>  Объект-11 RU —«Мусорка пропаданья» </p>

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">CМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Объект-15 EG :</strong>
        Объект-15 EG это 






    <p>







    <p class="section-title">Описание:</p>
    <p>

    </p>

    <div class="dialogue-block">
        <p style="text-align: center;"><strong>Эксперимент 11-2</strong><br> </p>

        <p class="section-title"> <span style="color:#b30000"></span></p>
        <p>
            <strong> Суть эксперимента:</strong>
            . З-242534 ████████ ███████ и ведущий ██████ ████████ ,последущее  имя ДОК.Задача испытуемого это проверить,телепортировается ли он когда засунет руку в урну после ожидания 17 часов.
        <p>
            Амуниция: Радиостанция,костюм  биологической защиты уровня 1,бронежилет , ПМ с 4 обоймами, Аптечка,  и немного припасов.
        <p>
            <strong> Итог:</strong>
            Испытуемого после ожидания в 17 часов разорвало всю руку с частями тела . Испытуемый погиб
        <p>
            КЛАО после инцидента  попросила сделать объект-11  RU  ОПАСНЫМ,но советник отказал решения КЛАО



    </div>

    <p class="section-title">Происхождение:</p>
    <p>
        Неизвестно.Хозяин и другие важные персоны в авиапорте,  не под стались под <a href="/Anomalies/15"> объектом-15 FR</a>

    </p>

    <p class="section-title">Обнаружение:</p>
    <p>
        2003 год,зима,31 декабря. Группа  ГЕРДИТ-76 которая ждала самолёт в авиапорте ЕКБ в 2003 году.Один из бойцов выпил бутылку воды и выбросил и он увидел что мусорка имеет  функцию ньютоновскую жидкость.Через день уже ГЕРДИТ-55 забрал объект-11 RU



    </p>

    <strong>Особые условия содержания:</strong>
    Объект-15 EG должен находиться в загоне на 1000м-1000м.Заборы загона должный быть в 5.5м с проволокой .Сами стены сделанные из бетона м армитурой в толщеной 35см.Условия должны быть  похожими для реальных  животных.По загону есть пять(5) кормичных  . На углах-четыре(4) ,по середине пятый(5).В виде еды выступают свиньи,кабаны,Крупные кошки,гиены.Если объекты-15 EG  смогут  прорвать ограждение  то в дело ступит Коготь-134,135,187,190. Днём в воздухе патрулирует вертолёты   МИ-14 два(2) и МИ-24три(3).При обнаружения объекта-15 EG  который ломает ограждения разрешено открыть огонь. В случае если




    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/14" class="next-button">←объект- 14 UK </a>
        <a href="/Anomalies/16" class="next-button">объект-16 DE →</a>


    </div>
</div>


<div class="footer-bar">
    Объект-15 EG— «Сублизуб»
</div>


