@{
    ViewData["Title"] = "   Объект-15 EG— «Сублизуб»";
}
<div class="main-anomaly">
    <h2>   Объект-15 EG—«Сублизуб»</h2>

    <div class="image-block">
        <img src="~/images/14.png" alt=Объект-15 JP>
        <p style="text-align: center;"><strong>Объект-15 EG-E </strong><br> Объект-15 EG-E-«Сублизуб» в миниатюре которая находится  в гостиной мини зоне зоны-12 </p>

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">CМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Объект-15 EG :</strong>
        Объект-15 EG это золотистая геометрическая (лоу-поли) фигура. В принципе их стиль жизни похож на реальный стиль жизни  ягуаравов на воле. Они также живут одиночкой и охотятся на крупных млекопитающих.Но они могут есть без повреждений организма пластик,метал и частично золото.Золото объекту-15 EG есть опасно смертельно. После употребления золота у объекта-15 EG это золото прилепляется к желудку и объект-15 EG погибает. Из объекта-15 EG после смерти выходит очень дорогое золото,золото 24 карата (чистое золото). Золото используется как отрава для  контроля численности .Их отходы (пищевое золото в виде целого и жидких форм) бесполезна в продаже и для других применений. Объекты-15 EG может вырастать как и все другие животные.Малый объект-15 EG далее как объект-15 EG-L (Сублизубик) .Сначала объект-15 EG-L будет сделан из пластика и постепенно  будут сделанный из золото-24 карата(чистое золото).Объекты-15 EG  видят через эхолокацию. 
    <p>
        У объекта-15 EG есть и младший брат по роду это объект-15 EG-E(Объект-15 EG остаётся общим названием для взрослых объектов-15 EG).Объект-15 EG-E это уменьшенный вид объекта-15 EG. Сделан он всю жизнь из пластика.Он ночной охотник в отличии от объекта-15 EG.Объект-15 EG-E охотится на  земноводных и птиц размером в воробья .Больше они не чем не отличаются
    <p>
        У объектов-15 EG  около 156 особей.Объект-15 EG живёт чаще всего в полях,в кустах,а объект-15 EG-E в норах.

        Объекты-15 EG крайне территориальные.В попытках защитить территорию объекты-15 EG  начинают защищать на смерть. При брачных сезонах (Весна,май) объекты-15 EG крайне опасные.Объекты-15 EG-L  растут-3 недели. После этого они уже взрослые и готовы к взрослой жизни. Мамы объектов-15 EG если опасность или объект-15 EG-L мутировал то объекты-15 EG бросают детей.



    <p>







        <strong>Описание:</strong>
    </p>
    <p>
        Объект-15 EG выглядит как золотой ягуар в стиле геометрической (лоу-поли).Кожа объектов-15 EG золотистая. Объект-15 EG размером в 3м.Самая крупная особь объекта-15 EG в 4м и 38см.Объект-15 EG-E размером  в 80см.Самая крупная особь  объекта-15 EG-E в 1м28см
    </p>




    <strong>Обнаружение:</strong>
    <p>
        в 1983 году группа коготь-892 на ми-14 заметила  золотую сущность которая испугалась и спряталась в норе.Командир по просив приземлится к земле. Вы тоге приземлились от ста(100) метров обнаружения сущности. 4 Солдата опе.группы когтя вышли из ми-14(Их основное вооружения из:4 ПМ,3 АКМ,1 укороченных АКМ). Подойдя к сущности сущность напала. Группа  начала стрелять по сущности.В итоге погиб сержант ██████ ████ и рядовой ████ ███.Передав информацию об нахождения золотого ягуара SIDS вызвала туда разведку.Разветка показала активность аномалий

    </p>

    <strong>Особые условия содержания:</strong>
    Объект-15 EG должен находиться в загоне на 1000м в квадрате.Заборы загона должный быть в 5.5м с проволокой .Сами стены сделанные из бетона м арматурой в толщеной 35см.Условия должны быть  похожими для реальных  животных.У объектов-15 EG если они живут рядом с заборами то  на них с помощью робота надевают ошейник который при  чрезвычайной ситуации убивает объект-15 EG .Через ворота в загон пускают еду для объектов-15 EG.Этих ворот около 22.Если объекты-15 EG  смогут  прорвать ограждение  то в дело ступит Коготь-134,135,187,190. Днём в воздухе патрулирует вертолёты   МИ-14 два(2) и МИ-24три(3).При обнаружения объекта-15 EG  который ломает ограждения разрешено открыть огонь. В случае если как то на технике пройдут то вертолётый ми-24 обезательной должный устранить не законую технику.На картах учреждений SIDS  загон  под обозначением участок-15
    <p>
        


    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/14" class="next-button">←объект- 14 UK </a>
        <a href="/Anomalies/16" class="next-button">объект-16 DE →</a>


    </div>
</div>


<div class="footer-bar">
    Объект-15 EG— «Сублизуб»
</div>


