@{
    ViewData["Title"] = "  Объект-155 KR «Шептун»";
}

<div class="main-anomaly">
    <h2>  Объект-155 KR «Шептун»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>
        <div class="image-block">
            <img src="~/images/155.png" alt=Объект-155 KR>
            <p style="text-align: center;"><strong>Объект-155 KR </strong><br> Вид объекта-155 KR в своей камере содержания с помощью объекта-990 US — «фотоаппарат мечты» </p>
        </div>
    <p>






        <strong>Общее описание:</strong>
    <p>


        Невидимый, автономно перемещающийся гуманоидный феномен, не имеющий анатомически наблюдаемого тела. Взаимодействие с объектом физически невозможно. При визуальном контакте с субъектом запускает специфический комплекс когнитивно-аффективных симптомов у лиц с предсуществующими признаками наркозависимости или синдрома дефицита внимания с гиперактивностью (СДВГ). Клинически проявляется навязчивыми интраперсональными голосовыми императивами и мощной деморализацией, приводящими к высокому риску аутодеструктивного поведения. Стандартные фармакологические и аномальные лечебные воздействия неэффективны.Объект-155 KR не возможно увидеть  глазами без дополнительных средтсв .Объект-155 KR  можно увидеть через тепловизор
    <p>
        Объект представляется в виде высокофигурного силуэта(2м18см), полностью облачённого в длинный чёрный плащ с капюшоном.Лица нет и другие биологические вещей нет.

        <strong>Обнаружение:</strong>
        В 2001 ██.██ году в больнице по лечению наркозависимых в Киргизии были зафиксированный резкие идеи о самоубийстве и сильная депрессия.В 2001 ██.██ В лёгком отделении началась массовая расправа.После этого SIDS  начала действовать   и исследовать  нарко больницу.По решению  командира  отряда они решили использовать тепловизор.Вы итоге они обнаружили объект-155 KR.Взяв одного человека заражённым объектом-155 KR они выманили объект-155 KR в машину ,после чего объект-155 KR с заражённым отвезли в зону-222


    <p>
        <strong>Условия содержания:</strong>
      
        Объект-155 KR должен содержаться в подземной камере в Зоне-222, . Камера представляет собой стальной кубический отсек (10×10×10 м), покрытый многослойной свинцово-керамической облицовкой для исключения непреднамеренных наблюдений при помощи тепловизоров.
    <p>
        Камера должна быть  оборудована системой дистанционного наблюдения через инфракрасные датчики движения, интегрированные с автоматизированной системой сигнализации. Любая визуализация объекта допускается исключительно с использованием сертифицированных тепловизоров и только по письменному разрешения главного иследователя,директором зоны,верхушки КЛАО .
    <p>
        Доступ к камере объекта разрешён только персоналу уровня допуска 3 и выше, при этом допускается нахождение не более одного сотрудника в шлюзовом коридоре одновременно.
    <p>
        Любые проявления суицидальной активности или нарушений дисциплины у персонала, задействованного в проекте, рассматриваются как потенциальный результат когнитивного воздействия объекта-155 KR. Такие сотрудники подлежат обязательной ротации и психологическому мониторингу каждые 72 часа или утелизация   в иследованиях объектов.
    <p>
        При попытке нарушений условия содержаний ближайщие комнаты где примерно находился объект-155 KR закрываются до психологический устойчевых сотрудников службы безопаности.
    </p>



 
  






        <div class="highlight">
            УРОВЕНЬ ДОСТУПА: 3
        </div>

        <div class="nav-buttons">
            <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/123" class="next-button">   ←Объект-123 CN
        </a>
            <a href="/Anomalies/234" class="next-button">
            Объект-234 UK →
            </a>

        </div>
</div>




<script>
    function toggleExperiment(button) {
        const container = button.closest('.experiment');
        const content = container.querySelector('.content');

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            button.textContent = "Скрыть";
        } else {
            content.style.display = "none";
            button.textContent = "Объект-890 WORLD V";
        }
    }
</script>