@{
    ViewData["Title"] = "ОБЪЕКТ-16 DE — «Вирус самоубийц»";
}

    <div class="main-anomaly">
    <h2>ОБЪЕКТ-16 DE — «Вирус самоубийц»</h2>

    <div class="image-block">
        <img src="~/images/16.png" alt="Объект 16">
        <p style="text-align: center;"><strong>Объект-16 DE</strong><br>Фото объекта-16 DE-2 Примерно </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-16 DE представляет собой биологический вирус неизвестного происхождения, обладающий крайне высокой степенью опасности. Вирус не поддаётся лечению традиционными медицинскими средствами. Его действие на заражённого человека проходит в четыре стадии:

        Стадия 1 — Начальная: вирус внедряется в мозг носителя и начинает захват нейронной активности.

        Стадия 2 — Психологическая дестабилизация: у субъекта проявляются панические атаки, паранойя и повышенная агрессия.

        Стадия 3 — Критическая: заражённый проявляет стремление нанести вред окружающим. При невозможности атаковать других, субъект совершает самоубийство.

        Стадия 4 — Репродуктивная: в теле носителя формируется органическое образование (коническая структура) длиной около 1.2 м, из которого через сутки выбрасываются споры вируса. Эти споры стремительно распространяются в воздухе, а также могут передаваться при поедании заражённых тканей.

        Общий срок от заражения до полной потери жизнеспособности составляет примерно 6 дней.
        Объект-16 DE Крайно быстро распространяется 
        Объект-16 DE способен заражать пищевые продукты. В течение 3–9 часов заражённая еда покрывается серой плесенью. При этом заражённый воспринимает вкус пищи как «божественно вкусный» и проявляет стремление к её потреблению.

        В процессе заражения у субъекта может возникнуть визуальная галлюцинация в виде светящегося гуманоидного силуэта белого цвета (Объект-16 DE-2), внешне напоминающего человека ростом от 1.9 м до 2.3 м. Пол проекции соответствует полу заражённого. Объект-16 DE-2 не взаимодействует с окружающей средой.
    </p>




    <p class="section-title">Обнаружение-происхождение:</p>
    <p>Объект-16 DE был разработан в Германской Демократической Республике при финансовой поддержке СССР в рамках проекта по созданию химико-биологического оружия. Из-за инженерной ошибки в 1986 году, 23 июля, произошло массовое заражение персонала и нарушение условий содержания. Для нейтрализации последствий был направлен отряд специального назначения ГЕРДИТ-123.SIDS узнал про это и за сообщение учёного.</p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Условия содержания:
        Объект-16 DE должен находиться в нижних уровнях комплекса в герметичной камере с абсолютной биологической изоляцией.

        Температурный режим хранения — не выше -100°C.

        Выход из зоны хранения должен быть закрыт и доступен только при аварийных экспериментах.

        В помещении обязательны автоматизированные турели.

        Все сотрудники обязаны использовать индивидуальные противочумные комплекты повышенной защиты.

        Любое нарушение условий хранения автоматически блокирует лифты и инициирует локальную стерилизацию зоны.

        Обновление (по состоянию на последнее обновление зоны-111):
        Созданы вентиляционные шахты, ведущие в три резервуара с объёмом, соответствующим 10-этажным зданиям. При зафиксированном нарушении условий содержания, все лица, находящиеся в зоне заражения, подлежат немедленной ликвидации без исключений.
    </p>

    

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/12" class="next-button">←объект-12 RU </a>
        <a href="/Anomalies/34" class="next-button">объект-34 UZ →</a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-16 DE — «Вирус самоубийц»
</div>