@{
    ViewData["Title"] = " Объект-17 FR— «Таблетка правды»";
}

<div class="main-anomaly">
    <h2>Объект-17 FR— «Таблетка правды»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-17 FR представляет собой таблетку розового цвета. Объект-17 FR твёрдый. При употребления   объекта-17 FR   в нерастворённом виде   у субъекта начинается эйфория и воспоминания про детство .Иногда эти воспоминания не правдивы.Воспоминания про детство   часто про самые лучшие  моменты до 12 лет.Плохие воспоминания начинаются с 5-10 лет  . В растворённом виде объект-17 FR  воспоминания  не производятся ,но зато более полезнее. В растворённом виде объект-17 FR   принимает свойство гипноза  .Когда субъект принимает объект-17 FR в растворённом виде он впадает  в гипноз .Теперь при вопросе например что ты делал вчера вечером  субъект принявший объект-17 FR скажет правду.Количество объекта-17 FR  около 2000 таблеток и 1232 таблеток утеряно.Использовано около 1124 таблеток  
    <p>

    </p>
    <p class="section-title">Описание:</p>
    <p>
        Объект-17 FR в не растворённом виде выглядит как розовая таблетка  суперэллип формы. Посередине сверху написана надпись Pilule de vérité(Таблетка правды) .В растворённом виде объект-17 FR выглядит как розовый кисель.Текстура объекта-17 FR  обычная но с молекулой под название неонофил.Неонофил это то что сделала объект-17 FR аномальным.
    </p>



    <p class="section-title">Происхождение:</p>
    <p>
        В 1973 году  во франции агент ████ ██████  ходил по ярмарке.Ходя по ярмарке он зашёл в аптеку. Там он нашёл фирму которая не записанная и не прошла проверку. Вызвав полицию эту аптеку закрыли и изъяли таблетки .Таблетки проверили и нашли аномальные свойства.

    </p>








    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-17 FR находится в хранилище каждых зон. Хранятся они в коробке в длину 20 см а в высоту 8см
    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/16" class="next-button">←объект-16 DE </a>
        <a href="/Anomalies/18" class="next-button">объект-18 UZ →</a>
        </a>

    </div>
</div>

<div class="footer-bar">
    Объект-17 FR— «Таблетка правды»
</div>

