@{
    ViewData["Title"] = " Объект-18 CA— «Мыло»";
}

<div class="main-anomaly">
    <h2> Объект-18 CA— «Мыло»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>

    <div class="image-block">
        <img src="~/images/18.png" alt="Объект-18 CA">
            <p style="text-align: center;"><strong> Объект-18 CA— «Мыло»</strong><br>Фото  Объектa-18 CA «Мыло» на рынке </p>

        </div>

        <p>
        <strong>Объект-18 СA-1:</strong>
        Объект-18 CA это  189  мыла разного вида.Самый частый это угольное мыло(Объект-18 СA-1).Объект-18 СA-1 по текстуре похож на мыло.Применять для гигиена запрещено . При контакте с чем либо появится слой угля.Внутри мыла есть мелкие части угля.По химическому анализу было выяснено что бы мыло состоит из древесного угля.
    <p>
        <strong>Объект-18 СA-2:</strong>
        Следующий по размеру это объект-18 СA-2 это цитрусовое мыло.Объект-18 СA-2 это оранжевое мыло со запахом цитрусов(Апельсин,мандарин,грейпфрут).Объект-18 СA-2 мыло которое хорошо убивает микробы.Объект-18 СA-2 можно растравлять в ваннах на подобие ванных бомбочек.Когда объект-18 СA-2 растравился  то он получает очень сильное расслабляет тело,но объект-18 СA-2 вызывает быстрое раздражения.
    <p>
        <strong>Объект-18 СA-3:</strong>
        Следующий по размеру это объект-18 СA-3 это кровавое мыло.Объект-18 СA-3 это красное мыло со запахом свежей крови.Объект-18 СA-3 состоит полностью из крови группы B (III).Через химический анализе в объект-18 СA-3 обнаружило геморрагический васкулит.
    <p>
        <strong>Объект-18 СA-4:</strong>
        Следующий по размеру это объект-18 СA-4 это мыла с травами.Объект-18 СA-4 это  мыло с лечебной марихуаной.При контакте с водой объект-18 СA-4  становятся карборановой кислотой
    <p>
        В объекте-18 CA бывают браки.Такие браки помечаются с дополнительной цифрой:5.
    <p>
        Два экземпляра объекта-18 CA-25 были с 60№ лимона что не было с другими экземплярами объекта-18 CA-2 и объект-18 CA-45 где было повышено марихуаны на 80№
    <p>
        <strong>Описание:</strong>
        Объект-18 СA это мыло  4 цветов-Чёрный,оранжевый,красный,светло-зелёный.В длину они в 13см ,в ширину 8см.Они  по ощущения похожи на обычное мыло.
    <p>
        <strong>Обнаружение:</strong>
        Обнаружен был и за многочисленных  жалоб на торговца по мылу.Его продукцию изъяли ,а ему дали штраф.В CFIA было выяснено что  мыло необычное.Были вызваны доктора из SIDS которые подтвердили догадки и был поставлен на содержания
    <p>
        <strong>Условия содержания:</strong>
        Ввиду не разумности и не больших размеров объект-18 CA находится в  хранилище зоны-183.Был подобран холодильник dacor.Холодильник находятся в хранилище ,отдел-3





    </p>
 
    <p>

    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/17" class="next-button">←объект-17 FR    </a>
        <a href="/Anomalies/34" class="next-button">объект-34 UZ →</a>
        </a>

    </div>
</div>

<div class="footer-bar">
    Объект-18 CA— «Мыло»
</div>

