@{
    ViewData["Title"] = "ОБЪЕКТ-1917 RU-«Эхо войны»";
}
<div class="main-anomaly">
    <h2>ОБЪЕКТ-1917 RU-«Эхо войны»</h2>

    <div class="image-block">
   
  


    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Внутри лимба отсутствует пища, вода и другие средства поддержания жизни.

        Среда влияет на психику: субъекты испытывают приступы гиперактивности, повышенную агрессию и признаки садистского поведения.

        Сон вызывает резкий переход в каталептическое состояние.

        Цикл «день-ночь» внутри лимба обновляется каждые 10 минут, при этом «день» ассоциирован с возбуждением, а «ночь» — с потерей сознания.

        Те, кто находился за пределами зоны активации 1917 RU, но рядом с ней, теряют фрагменты памяти на срок от одного часа до недели.

        Электроника в радиусе до 1 км от объекта необратимо выходит из строя.

        Письменные сообщения, переданные из лимба, проявляются в материальном мире только после гибели автора.

        Объект не оказывает воздействия на другие формы жизни (животные, растения и т. д.) — многочисленные эксперименты не подтвердили возможности их телепортации.



    </p>




    <strong>Описание:</strong>
    <p>
        Объект RU-1917 представляет собой географическую аномалию площадью примерно 320 м в длину и 460 м в ширину. Территория по углам покрыта холмами, на которых расположены по одному дубу и по три куста самшита мелколистного. Визуально объект не отличается от окружающей местности.

        Аномалия активируется в случае вооружённого столкновения с участием трёх и более человек. При активации все люди, находящиеся в зоне действия, мгновенно телепортируются в неизвестное измерение, классифицированное как лимб. Попытки покинуть лимб оказались безуспешными. Выживание в нём невозможно из-за отсутствия ресурсов и пагубного психофизического воздействия.


    </p>

    <strong>Происхождение:</strong>
    <p>Согласно данным главного сектанта "лунных детей", объект RU-1917, предположительно, был создан в результате вмешательства группы «Лунные дети» с использованием объекта-12 RU. Аномалия впервые зафиксирована во время Первой мировой войны.</p>

    <strong>Обнаружения:</strong>
    <p>
        Дата: 1917 год

        Место: Восточный фронт, район обороны Российской империи

        Во время артиллерийской перестрелки между армиями Российской и Венгерской империй вся российская боевая группа в указанной зоне исчезла. После отправки разведывательных групп обеих сторон не было обнаружено ни следов боя, ни тел, ни следов сражени.
    </p>

    <strong> Условия содержания:</strong>
    <p>
        Объект RU-1917 окружён забором с  место жительством для солдат из когтя-56,43,23,77. У коготь-77 имеется ми-24.
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/1126 " class="next-button">←объект-1126 FI </a>
        <a href="/Anomalies/2023" class="next-button">объект-2023 JP  →</a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-1917 RU-«Эхо войны»
</div>