@{
    ViewData["Title"] = "ОБЪЕКТ-2 PL — «Шкаф долгих времён»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-2 PL — «Шкаф долгих времён»</h2>

    <div class="image-block">
        <img src="~/images/2.png" alt="Объект 2 PL">
        <p style="text-align: center;"><strong>Объект-2 PL</strong><br>Фото объекта-2 PL в доме сектанта </p>

    </div>
  
    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Характеристика внутреннего мира:</strong>
        Пространство, в которое попадает субъект, содержит следующие элементы:
    <p>
        Асфальтированная дорога, тянущаяся в обе стороны. Обе стороны дороги ведут к различным катастрофическим локациям, основанным на событиях из истории человечества
    <p>
        По обе стороны дороги — открытое поле, покрытое высокой травой и плотным молочным туманом. Вход в туман невозможен: субъекты, пытавшиеся пройти за его пределы,  возвращаются на дорогу неосознанно
    <p>
        Мосты расположенные на концах дорог. Его середина обрушена, видимость за мостом ограничена плотным туманом. Другая сторона моста не визуализируется.


    <p>

    <p>
        Присутствует естественный водоём (река), вода в нём стерильна, пригодна для питья, не вызывает побочных эффектов. Лужи тоже можно   пить. Вся жидкость в объекте-2 PL автоматический становится питьевой.
    <p>
        Субъекты не ощущают голода или жажды, но могут употреблять их.
    <p>
        В пространстве не наблюдается ни одной живой формы — кроме мёртвых тел
    <p>
        <strong>Свойства аномалии:</strong>
    <p>
        Предметы кроме воды и еды не меняют функциональность кроме других предметов
    <p>
        Попытки сломать, сжечь или изменить любой элемент мира (включая саму дорогу, мост, траву и воду) оказываются безуспешными. Поверхности проявляют абсолютную устойчивость ко всем формам воздействия.
    <p>
        <strong>Катастрофы:</strong>

    <p>
        При движении вглубь дороги (вперёд или назад) наблюдается переход к сценариям разрушений, визуально и эмоционально идентичным реальным трагедиям (например, последствия ядерных взрывов, цунами,  аварии техники).
    <p>
        При возвращении назад — события не повторяются, но возникают новые или усиливающиеся катастрофические образы.


    

    </p>




    <p>
    <p class="section-title">Описание:</p>
    двустворчатый деревянный шкаф, выполненный в классическом стиле. Он изготовлен из тёмного лакированного дерева, с характерными резными прямоугольными вставками на дверцах. Верхняя часть шкафа украшена массивным карнизом с декоративными накладками по углам, что придаёт ему более монументальный и солидный вид.

    <p>
    <p class="section-title">Обнаружения:</p>
    1965 ██.██ году в доме сектанта "лунных детей "в городе Тверь,Россия. ШКаф был найден вместе с объектом-6 PL и объект-20 PL. Дом был заброшен но он был в хорошем состоянии. ГЕРДИТ обнаружиди эти аномалии и отправили на содержание в зону 79(Россия,Камчатка)


    <div class="dialogue-block">
        <p style="text-align: center;"><strong>Объект-2 PL</strong><br>Вылазка </p>

        <p class="section-title">Дата: <span style="color:#b30000">23.01.1966</span></p>


        <p>
            Амуниция: было взято противо БИО костюм,пистолет ПМ, Рюкзак с припасами и т.д. Мотоцикл Минск
        <p>
            Испытуемый: Роман Осипов,З-12342
            Ведущий:Илья Родионов,последущее имя ДОК. Уровень доступа:2. Стаж месяц. Первый эксперемент ведущим
        <p> 
            <strong>Док:</strong> Входите в объект,Осипов*Объект-2 PL открывается*
        <p>
            <strong>Осипов:</strong>
            Что ...Как вы смогли запихнуть в шкаф дорогу?
        <p>
            <strong>Док:</strong>
            Вы не имеете доступ к этой информации. Вы же читали документ для заключённых?
            <strong>Осипов:</strong>
            Да,я знаю свою задачу. Я думал что типо это , обман или что то подобное.
        <p>
            <strong>Док:</strong>
            Заходите в объект-2 PL
        <p>
            <strong>Осипов:</strong>
            Ладно ,ладно*Осипов входит в объект*  ,мне замерить воздух,док?*В объект запустили мотоцикл Минск*
        <p>
            <strong>Док:</strong>
            Не надо,я замерил. Воздух в норме. Не снимайте костюм просто так. Замеряйте  каждые 10 минут.

        <p>
            <strong>Осипов:</strong>
            *Садится на мотоцикл и завёл его*
        <p>
            Прямо?
        <p>
            <strong>Док:</strong>
            Верно,Говорите нам всё что найдёте и увидите. 




    </div>

   

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    ОБЪЕКТ-2 PL — «Шкаф долгих времён»
</div>

     

