@{
    ViewData["Title"] = "   Объект-2023 JP —«Пропавший»";
}
<div class="main-anomaly">
    <h2> Объект-2023 JP —«Пропавший»</h2>

    <div class="image-block">
        <img src="~/images/2023.png" alt=Объект-2023 JP>
        <p style="text-align: center;"><strong>Объект-2023 JP </strong><br> Объект-2023 JP —«Пропавший» при исчезновение </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>Объект-2023 JP представляет собой человекообразное существо, способное исчезать в пределах леса Аокигахара (преф. Яманаси, Япония) при визуальном контакте с наблюдателем. Процесс исчезновения сопровождается следующими признаками:

        Резкое поднятие тела вверх — визуально напоминает "подвешивание", как на соответствующем фотофиксационном материале;

        Сильные конвульсии;

        Выброс горячего пара (температура от 80°C до 110°C) — вероятно, результат мгновенного изменения давления или химического распада тканей;

        Полное исчезновение объекта, после чего он считается находящимся в пределах аномальной зоны лес Аокигахара.

        В ходе вскрытия одного из трёх известных экземпляров Объекта-2023 JP были обнаружены сгоревшие останки и фрагменты личностей, ранее числящихся пропавшими без вести в районе леса Аокигахара. Все имена засекречены, однако по официальным данным, речь идёт о гражданах Японии, Южной Кореи, США и Франции, исчезнувших в период с 2001 по 2019 гг.
   
        Существуют основания полагать, что один из экземпляров Объекта-2023 JP произошёл в результате воздействия другого аномального объекта — Объекта-666-3.

        В отчёте зафиксировано, что боец группы "Воздамиур-50" (имя удалено) подвергся воздействию красного свечения от Объекта-666-3. После физического контакта началась быстрое сгорание тела, с последующим исчезновением бойца. Через 72 часа в зоне наблюдения был зафиксирован новый экземпляр Объекта-2023 JP, идентифицированный по ДНК как бывший боец "Воздамиур-50
         
        Для ограничения передвижения и визуального контакта с объектом были разработаны так называемые "закрылки" — модифицированные шлемы с  блокирующие прямой взгляд на объект с помощью ии который  воспроизводит контур тела или инфракрасном и нейронно-фильтрованном спектре.



        Объект-2023 JP не демонстрирует агрессии в закрытом состоянии, но реагирует на визуальный контакт, вне зависимости от расстояния. Известны случаи "притягивания" взгляда, даже при периферийном наблюдении.
    <p
    <p>

        <strong>Описание:</strong>
    <p>
        На фотографии изображено гуманоидное существо,замотанное в  человекообразный пакет, визуально напоминающее забальзамированное тело, связанное верёвками. Объект лежит на земле, на фоне лесного покрова,  в районе лесного массива Аокигахара.

        Тело выглядит обугленным, частично покрытым пеплом ;

        Верхняя часть туловища и голова обмотаны, а на лице закреплён плакат “MISSING” (пропавший без вести), закрывающий лицо;

        Плакат содержит изображение человека, предположительно жертвы или прежней личности объекта;


    </p>
    <strong>Происхождение:</strong>
    <p>
        Вероятно и за  <a href="/Anomalies/666"> объекта-666.</a> 
        Когда все 3 личности приходили в центр леса они видели объект-666 3 их зомбировали  и начался процесс возгорания поверхности тела.



    </p>
    <strong>Обнаружение:</strong>
    <p>
        23.04.20██ в центральный штаб SIDS (Токио) поступила заявка от государственных служб Японии, зафиксировавших аномальные исчезновения в районе леса Аокигахара, а также появление нераспознанных фигур и следов термического испарения. В связи с повышенным риском было принято решение о направлении оперативной группы "Воздамиур-50" численностью 18 бойцов для проведения дневной разведки.

        Операция:

        В течение первых четырёх часов третий отряд группы "Воздамиур-50" обнаружил первый экземпляр Объекта-2023 JP, но спустя считанные минуты экземпляр самоустранился (визуально испарился), оставив после себя лишь обугленную почву и влажный, горячий пар.

        Группа-3 немедленно передала информацию в штаб о подтверждённой аномальной активности и продолжила разведку в зоне.

        В лесу группа находилась 16 часов. В результате операции:

        Из 18 бойцов вернулись только 7.

        Потери были связаны не только с Объектом-2023 JP, но и, по предположениям выживших, вызваны воздействием Объекта-666, который проявился в том же секторе, активировав неизвестное красное излучение, вызвавшее галлюцинации, агрессию и дезориентацию и другие аномалии которым были присвоенные кодовое название 666.

        После эвакуации выживших был проведён 6-дневный анализ, по результатам которого был разработан специализированный шлем "Закрылок", позволяющий предотвратить визуальный контакт с Объектом-2023 JP.

        Через 6 дней, при повторном входе в зону, Объект-2023 JP был успешно изолирован и задержан при помощи шлемов и термоконтейнера. На момент захвата объект находился в состоянии подъёма, сопровождаемого судорожной активностью и испарением влаги.

        Задержан был объекта 2001 году 

    </p>

    <strong>Условия содержания:</strong>
    <p>
        Условия содержания:
        Объекты 2023-JP содержатся в индивидуальных клетках, размером не менее 5 × 5 × 7 м;

        Стены — изолированные, термостойкие, покрытые антипаровой прослойкой;

        Освещение минимальное, без красных или флуоресцентных оттенков;

        Видеонаблюдение — исключительно в инфракрасном и нейронно-фильтрованном спектре.

        При приближении сотрудника к объекту — обязательное ношение "закрылков" и амнезиака в шприц-ручке в случае аномального воздействия.





    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/1917 " class="next-button">←объект-1917 RU </a>
        <a href="/Anomalies/2941" class="next-button">объект-2941 ES  →</a>

    </div>
</div>


<div class="footer-bar">
    Объект-2023 JP —«Пропавший»
</div>




