@{
    ViewData["Title"] = "Объект-234 UK - «Британская рептилия»";
}   
<div class="main-anomaly">
    <h2>Объект-234 UK - «Британская рептилия»</h2>

    <div class="image-block">
        <img src="~/images/234.png" alt="Объект 234 UK">
        <p style="text-align: center;"><strong>Объект-234 UK</strong><br>Фото объекта-234 UK у берега </p>



    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНО</span></p>
    <p>
        <strong>Способности:</strong> Ненасытный метаболизм:
        Объект демонстрирует постоянное состояние сильного голода. Пищевое поведение выражено крайне агрессивно, отсутствует насыщение даже при значительных объёмах потребляемой биомассы.

        Физические показатели:

        Скорость передвижения по суше — до 70 км/ч.

        Скорость перемещения в водной среде — до 100 км/ч.

        Сенсорные способности:
        Зрительные органы отсутствуют. Их функцию выполняют флуоресцентные оранжевые образования, выполняющие роль альтернативной оптической системы. Объект обладает обонянием, превосходящим собачье в 8 раз по чувствительности.

        Когнитивные способности:
        Объект проявляет признаки высокого интеллекта, способен к решению логических задач и паттернов, недоступных людям со стандартными когнитивными способностями. Предполагается наличие развитой нейросенсорной активности.

        



    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-234 UK представляет собой крупную хищную рептилию, внешне схожую с Гребнистый крокодил. Длина тела составляет приблизительно 21.6 м. Кожный покров — преимущественно чёрного цвета, с выраженными оранжевыми полосами вдоль тела. Чешуя чрезвычайно прочна: при сравнении с промышленной сталью C643 объект обладает чешуёй, достигающей 10 см в толщину и выдерживающей давление до 3902 МПа. Зубной ряд обновляется с высокой скоростью — до 100 раз в год. Зубы конической формы, окрашены в жёлтый цвет.
    </p>

    <p class="section-title">Происхождение:</p>
    <p>Неизвестно</p>

    <p class="section-title">Обнаружения:</p>
    <p>
        Объект был зафиксирован на территории Великобритании в 1992 году (г. Солкомб). Об инциденте сообщил очевидец, чьё имя удалено из отчёта [ДАННЫЕ УДАЛЕНЫ]. После обращения в полицию объектом заинтересовались силы быстрого реагирования:

        Отряд Апаллон-193 (Британская оперативная группа)

        Отряд Морского реагирования дивизиона-19

        Первоначально объект был временно заключён в зону-123, позднее перемещён в зону-111.
    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-234 UK содержится в специализированной камере, построенной из металлических плит толщиной не менее 1М . Камера полностью заполнена раствором лимонной кислоты, предотвращающим физическое разрушение стен вследствие воздействия когтей объекта.

        Внутренняя система доставки пищи обеспечивает регулярное поступление биомассы (объём засекречен). В случае нарушения условий содержания, система безопасности активирует экстренный протокол:

        В зону содержания проникает одна из десяти оперативных групп, обученных взаимодействию с Объектом-234 UK.

        При невозможности восстановления контроля весь отдел где находиться объект-234 UK  будет ликвидирован .
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    Объект-234 UK - «Британская рептилия»
</div>