@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Объект-2941 ES — «Со вкусом боли»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/sids-embedded.css?v=1">
    <link rel="icon" type="image/x-icon" href="~/images/SIDS.png">
</head>
<body>
    <div class="sids-embedded">
        <header class="SIDS-site-header">
            <div class="SIDS-header-inner">
                <a href="/" class="logo-link">
                    <img src="~/images/ZONE1112.png" alt="SIDS Logo" style="width:150px; height:auto;">
                </a>

                <div class="SIDS-titles">
                    <h1>SECURE • INVESTIGATE • DELAY • SAVE</h1>
                    <p> <span style="color:#b30000">ЗОНА-111</span></p>

                </div>
            </div>
        </header>

        <nav class="SIDS-site-nav">
            <div class="SIDS-nav-inner">
                <a href="/Anomalies">Аномалии</a>

                <a href="/AddInfo">Доп. инфа</a>

                <a href="/Organizations">Организации</a>
            </div>
        </nav>

        <main class="SIDS-main-content">
            <h1>Объект-2941 ES — «Со вкусом боли»</h1>
            <p><strong>Класс объекта:</strong> <span style="color:#b30000">ОПАСНЫЙ</span></p>
            <div class="image-block">
                <img src="~/images/2941.png" alt=Объект-2941>
                <p style="text-align: center;"><strong>Объект-2941 ES  </strong><br>  Объект-2941 ES при фото в телефоне заменителя директора VITIS </p>

            </div>

           

            <p><strong>Способности:</strong> Объект-2941 ES — это зубная паста, при которой взаимодействие с органикой по типу мяса человек деформируется. Объект не увеличивает размеры пораженной органики, только деформирует.Субъекты, которые нанесли на себя Объект-2941 ES через 2-3 суток погибнет от полученных повреждений. С каждой минутой зона поражения органов субъекта, увиличевается.При испытаниях на животных, например крысы, способности объекта-2941 ES не менялись Запах у пасты клубничный. При взаимодействия с органикой, запах становится тухлым. Состав объекта-2941 ES неизвестен.Учёные пытались вычислить любыми способами. И за этого, объект-2941 ES был почти израсходован. По приказу директора и участников КЛАО приказали ведущему учёному прекратить исследование объекта-2941 ES.
            <p>
                <strong>
                    Описание:
                </strong>
                Выглядит как обычный тюбик зубной пасты от компании VITIS (Испания).Ниже середины красный прямоугольник с надписью VITIS. Выше находятся надписи находятся "flavord toothpaste" ,а выше "taste of pain". Ниже 4 строки с непонятными шифрами которые мы не смогли понять. в конце красный акрас с надписью "1/10 doctors approve of the toothpaste"
            </p>
            <p>
            <strong>
                Происхождение:
                </strong> Создана в 2022 году 23 июня испанской компанией VITIS. В июне 29 заменитель компании Сообщил это полиции . Полиция сообщила SIDS об этом. По приказу █████████ ██████ на завод выдвинулись "Коготь-29" и полицейский наряд." Коготь-29" При прибытии коготь-29 и наряда, директор с учёными пытался сбежать. Коготь-29 сумела задержать их. Учёные оказались работниками по производству химического состава пасты. Учёные оказались из группировки «Расколотая воля». После чего была заменена руководство на их конкурентов, но логотип остался таким же.Объект был отвезён в зону-111
            </p>
            <p>
                <strong>
                    Условия содержания:
                </strong>
                Комната: длина: 3 м ширина: 3 м высота: 3 м В центре — железный цилиндр, закрытый куполом. Объект расположан на цилиндре. Для открытия купола нужно карта 3 уровня с потверждениям главы зоны.

                На момент 29.11.25 года, ОБЪЕКТ-2941 ES почти был нейтрализован.Эксперименты прекращены,а ОБЪЕКТ-2941 ES был отвезён на хранилище для аномалий .

            </p>

            <div class="highlightSCPP2PP">
                УРОВЕНЬ ДОСТУПА: 4
            </div>

            <div class="nav-buttons">
                <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
                <a href="/Anomalies/2023" class="next-button">←объект-2023 JP  </a>
                <a href="/Anomalies/4579" class="next-button">объект-4579 EG →</a>
            </div>
        </main>

        <footer class="SIDS-site-footer">
            © 2025 Организация SIDS — Все права засекречены
        </footer>
    </div>
</body>
</html>