@{
    ViewData["Title"] = "ОБЪЕКТ-2941 ES — «Со вкусом боли»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-2941 ES — «Со вкусом боли»</h2>

    <div class="image-block">
        <img src="~/images/2941.png" alt="Объект 2941">
        <p style="text-align: center;"><strong>Объект-2941 ES</strong><br>Фото объекта-2941-ES который был на телефоне главного создателя </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-2941 ES — зубная паста, которая деформирует ту часть органики, к которой прикасается.
        Объект не увеличивает размеры пораженной органики,только деформирует.Субъекты которые нанесли на себя  Объект-2941 ES через 3 дня умрёт от полученных повреждений ведь зона поражения объекта постоянно растёт
        Запах у пасты клубничный. Очень хорошее топливо для розжига костра
        Состав объекта-2941 ES неизвестен.Мы SIDS пытались вычеслить состав,но не получалось . Сделан объект в единственном экземпляре.

    </p>

    
    

    <p class="section-title">Описание:</p>
    <p>Выглядит как обычный тюбик зубной пасты от компании VITIS (Испания).Ниже середины красный прямоугольник с надписью VITIS. Выше находятся надписи находятся  "flavord toothpaste" ,а выше "taste of pain". Ниже 4 строки с непонятными шифрами которые мы не смогли понять. в конце  красный акрас с надписью "1/10 doctors approve of the toothpaste"</p>

    <p class="section-title">Происхождение:</p>
    <p>Создана в 2022 году  23 июня испанской компанией VITIS. В июне 29 заменитель компании Сообщил оперативной группе "Коготь-29"."Коготь-29"  расследовал и закончил производство объекта.Учёные оказались из группировки «Расколотая воля».После чего была заменена руководство компании на  сотрудника SIDS.</p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Комната:

        длина: 3 м

        ширина: 3 м

        высота: 3 м
        В центре — железный цилиндр, закрытый куполом.
        Объект стоит на подставке..
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>
    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/2023 " class="next-button">←объект-2023 JP  </a>
        <a href="/Anomalies/4579" class="next-button">объект-4579 EG →</a>

    </div>
  
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
<div class="footer-bar">
    ОБЪЕКТ-2941 ES — «Со вкусом боли»
</div>

</div>
