@{
    ViewData["Title"] = "ОБЪЕКТ-2941 ES — «Со вкусом боли»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-2941 ES — «Со вкусом боли»</h2>

    <div class="image-block">
        <img src="~/images/2941.png" alt="Объект 2941">
        <p style="text-align: center;"><strong>Объект-2941 ES</strong><br>Фото объекта-2941-ES который был на телефоне главного создателя </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-2941 ES — это зубная паста, при которой взаимодействие с органикой по типу мяса человек деформируется. Объект не увеличивает размеры пораженной органики, только деформирует.Субъекты, которые нанесли на себя Объект-2941 ES через 2-3 суток погибнет от полученных повреждений. С каждой минутой зона поражения органов субъекта, увиличевается.При испытаниях на животных, например крысы, способности объекта-2941 ES не менялись Запах у пасты клубничный. При взаимодействия с органикой, запах становится тухлым. Состав объекта-2941 ES неизвестен.Учёные пытались вычислить любыми способами. И за этого, объект-2941 ES был почти израсходован. По приказу директора и участников КЛАО приказали ведущему учёному прекратить исследование объекта-2941 ES.
    </p>




    <strong>Описание:</strong>
    <p>Выглядит как обычный тюбик зубной пасты от компании VITIS (Испания).Ниже середины красный прямоугольник с надписью VITIS. Выше находятся надписи находятся  "flavord toothpaste" ,а выше "taste of pain". Ниже 4 строки с непонятными шифрами которые мы не смогли понять. в конце  красный акрас с надписью "1/10 doctors approve of the toothpaste"</p>

    <strong>Происхождение:</strong>

        Создана в 2022 году 23 июня испанской компанией VITIS. В июне 29 заменитель компании Сообщил это полиции . Полиция сообщила SIDS об этом. По приказу █████████ ██████ на завод выдвинулись "Коготь-29" и полицейский наряд." Коготь-29" При прибытии коготь-29 и наряда, директор с учёными пытался сбежать. Коготь-29 сумела задержать их. Учёные оказались работниками по производству химического состава пасты. Учёные оказались из группировки «Расколотая воля». После чего была заменена руководство на их конкурентов, но логотип остался таким же.p>

    <strong>Условия содержания:</strong>
    <p>
        Комната:

        длина: 3 м

        ширина: 3 м

        высота: 3 м
        В центре — железный цилиндр, закрытый куполом.
        Объект расположан на цилиндре.
        Для открытия купола нужно карта 3 уровня  с потверждениям главы зоны.
    <p>
        На момент 29.11.25 года, ОБЪЕКТ-2941 ES почти был нейтрализован.Эксперименты прекращены,а ОБЪЕКТ-2941 ES был отвезён на хранилище для аномалий . 



    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>
    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/2023 " class="next-button">←объект-2023 JP  </a>
        <a href="/Anomalies/4579" class="next-button">объект-4579 EG →</a>

    </div>
  


</div>
<div class="footer-bar">
    ОБЪЕКТ-2941 ES — «Со вкусом боли»
</div>

</div>
