@{
    ViewData["Title"] = "ОБЪЕКТ-3 PL — «Невозвратимый увеличитель»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-3 PL — «Невозвратимый увеличитель»</h2>

    <div class="image-block">
        <img src="~/images/3.png" alt="Объект 3 PL">
        <p style="text-align: center;"><strong>Объект-3 PL</strong><br>Фото объекта-3 PL в доме сектанта </p>

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong> Аномальные свойства: :</strong>
        При манипуляции стрелками так, чтобы они совпали в положении "12 часов" (то есть вертикально вверх), Объект-3 PL активируется. Процесс активации сопровождается следующими фазами:

        Инициация: В течение первых нескольких секунд после правильного совмещения стрелок стрелки начинают самостоятельно двигаться, постепенно ускоряя вращение.

        Кульминация: Ровно через одну минуту после начала активации объект излучает направленный энергетический импульс, визуально схожий с лучом плазмы неизвестной природы.

        Воздействие: Все объекты в радиусе действия луча, не превышающие 5 метров в длину, ширину и высоту, увеличиваются в объёме в три раза. 

        Завершение: После активации объект самопроизвольно переходит в  состояние покоя, при котором стрелка устанавливается на случайное значение. Повторное возвращение в положение "12 часов" не зафиксировано.
    <p>
        <strong> Применение: :</strong>
        Объект активно используется в серии контролируемых экспериментов с другими аномальными артефактами. В частности, с его помощью проводился эксперимент с Объектом-2 PL, целью которого было увеличение размеров объекта до масштабов, позволяющих проезд строительной техники.Поэтому ему присволили класс АРХОНТ




    <p>
        <strong>Описание:</strong>

        На фото представлен Объект-3 PL. Он выполнен в виде наклонённого чёрного куба с аналоговым циферблатом, установленного на массивной чёрной подставке. Циферблат показывает шкалу температуры в градусах Цельсия, однако, как установлено, не является термометром. Объект выглядит неактивным, стрелка находится в положении, не соответствующем "12 часам".
   
    <p>
        <strong>Происхождение:</strong>
        Вероятно что сектанты "Лунных детей"  и сделали этот объект-3 PL

  







    <p>
    <p class="section-title">Обнаружения:</p>

    1965 ██.██ году в доме сектанта "лунных детей "в городе Гожув-Велькопольски,(СССР)На данный момент Польша. ШКаф был найден вместе с  <a href="/Anomalies/6"> объектом-6 PL</a> и <a href="/Anomalies/2"> объект-2 PL</a>. Дом был заброшен но он был в хорошем состоянии. ГЕРДИТ-100 обнаружиди эти аномалии и отправили на содержание в зону 79(Россия,Камчатка)

    <p>
    



    <p class="section-title">Условия содержания:</p>
    Камера содержания:
    Помещение должно быть выполнено из армированного бетона с внутренней антимагнитной и термостойкой облицовкой. Температурные условия в камере должны поддерживаться на уровне 22 ± 2 °C.
    Размеры камеры: не менее 6 × 6 × 4 метров.

    Контейнер:
    Объект должен храниться в прозрачном бронированном кубе из поликарбоната толщиной не менее 10 см, с возможностью дистанционного наблюдения и экранировки. Контейнер снабжён дистанционной системой блокировки для предотвращения прямого доступа.

    Ограничение взаимодействия:
    Прямой физический контакт с объектом разрешён только с письменного разрешения руководителя проекта и при участии не менее двух (2) сотрудников класса 3 и выше.
    Категорически запрещено устанавливать стрелку на положение, соответствующее 12:00, или пытаться её синхронизировать. Подобные действия рассматриваются как преднамеренная активация и приравниваются к нарушению протокола уровня «Красный».

    Наблюдение:
    Камера должна быть оборудована системой круглосуточного видеонаблюдения и датчиками движения. Любые самостоятельные изменения положения стрелки фиксируются и немедленно докладываются ответственному офицеру смены.









    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/2" class="next-button">←объект-2 PL </a>
        <a href="/Anomalies/4" class="next-button">объект-4 UK →</a>

    </div>
</div>  
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-3 PL — «Невозвратимый увеличитель»
</div>



