@{
    ViewData["Title"] = " Объект-327 KZ «Оружейный барон»";
}

<div class="main-anomaly">
    <h2>Объект-327 KZ «Оружейный барон»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>

        <div class="image-block">
            <img src="~/images/327.png" alt="Объект-327 KZ">
            <p style="text-align: center;"><strong> Объект-327 KZ— «Мыло»</strong><br>Фото объекта-327 KZ «Оружейный барон» </p>

        </div>

    <p>
        <strong>Объект-327 KZ:</strong>
        Объект-327 KZ представляет собой сундук  XVIII века.

    </p>
    <p class="section-title">Условия содержания:</p>
    <p>

    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/16" class="next-button">←объект-16 DE </a>
        <a href="/Anomalies/18" class="next-button">объект-18 UZ →</a>
        </a>

    </div>
</div>

<div class="footer-bar">
    Объект-18 CA— «Мыло»
</div>

