@{
    ViewData["Title"] = " Объект-327 KZ «Оружейный барон»";
}

<div class="main-anomaly">
    <h2>Объект-327 KZ «Оружейный барон»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>

        <div class="image-block">
            <img src="~/images/327.png" alt="Объект-327 KZ">
            <p style="text-align: center;"><strong> Объект-327 KZ— «Мыло»</strong><br>Фото объекта-327 KZ «Оружейный барон» </p>

        </div>

    <p>
        <strong>Объект-327 KZ:</strong>
        Объект-327 KZ представляет собой сундук  XVIII века.При открытия внутри объекта-327 KZ появляется различное огнестрельное ,взрывчатка и холодное оружие. Это огнестрельное,взрывчатка и холодное оружие крайне ненадежна.
        
    <p>
        В рамках исследования объекта-327 KZ по решению <a href="/AddInfo/KLAO">КЛАО</a> было предусмотрено 7 экспериментов.

    </p>
    <style>
  
        .more { display: none; }
        .dots { display: inline; }
    </style>

    <div class="experiment">
        <div class="experiment">
            <button onclick="toggleExperiment(this)">Открыть эксперимент 1.7 327</button>

            <div class="dialogue-block content">
                <div class="dialogue">
                    <p><strong>19██:</strong> начался эксперимент 1.7 327</p>
                    <p><strong>Расходник ██████.████ 3-19823:</strong></p>
                    <p><strong>Ведущий █████.███████(Док):</strong></p>
                    <p class="action">*Большая оптимизированная дверь открывается*</p>

                    <p><strong>Док:</strong> Подойдите к объекту-327 KZ и откройте его.</p>
                    <p class="action">3-19823 подошёл к объекту-327 KZ и открыл его. Внезапно появились гранаты Stielhandgranate 24.</p>

                    <p><strong>Док:</strong> Возьмите его и пройдите к тиру. Сзади слева.</p>
                    <p><strong>3-19823:</strong> Ладно, док. <span class="action">*подходит к авторизированной двери, она открывается. 3-19823 идёт к тиру.*</span></p>

                    <p><strong>3-19823:</strong> Она же снизу кольцо?</p>
                    <p><strong>Док:</strong> Да.</p>
                    <p><strong>3-19823:</strong> <span class="action">*отрывает кольцо и сразу взрывается*</span></p>

                    <p class="noe">Все другие экземпляры Stielhandgranate 24, которым выдано кодовое название объект-327 KZ-2, были утилизированы с помощью детонации.</p>
                    <p class="noe">После эксперимента 1.7 327 Советники подали приказ не использовать расходники. Взрывчатки не проверять, а детонировать.</p>
                </div>
            </div>
          
        </div>
      
    </div>

    <div class="experiment">
        <div class="experiment">
            <button onclick="toggleExperiment(this)">Открыть эксперимент 2.7 327</button>

            <div class="dialogue-block content">
                <p>

                    <strong> 19██ начался  эксперимент 2.7 327:</strong>
                <p>
                    *С помощью сапёров (НИГ-56)взрывчаток открыли сундук.В нём оказались пистолеты ТТ

                <p>
                  Сапёры проверили пистолеты ТТ.Они оказались обычными.
                <p>
                    Вместо 7,62 × 25 мм патронов в магазинах были синие, резиновые патроны с таким же размеров 7,62 × 25 мм
                <p>
                    Пистолеты вы  входе эксперимента были проверены как крайне не надёжный.Их сдали на металлолом.
                <p>
                    Все экземпляры ТТ инфицировали как объект-327 KZ-3  записи разговоров НИГ-56 не записались.
                <p>
                    Разговоры персонала не записались и за удаления архивов зоны-222






                </p>
            </div>
          
        </div>


    </div>
        <div class="experiment">
            <div class="experiment">
                <button onclick="toggleExperiment(this)">Открыть эксперимент 3.7 327</button>

            <div class="dialogue-block content">
                <p><strong>Расходник ████.████████ 3-19964:</strong></p>
                <p><strong>Ведущий █████.███████(Док):</strong></p>
                <p>

                    <strong> 19██ начался  эксперимент 3.7 327:</strong>
                <p>
                  *С помощью сапёров  открыли Объект-327 KZ.Расходник быстро убежал к углу по приказу Дока.*
                <p>
                    Внутри Объекта-327 KZ были EMP-35.Патроны подходили.
                <p>
                    С помощью 3-19964 который был рядом с НИГ-56 решили проверить EMP-35 . Вы итоге при стрельбе у 3-19964 взорвался в руках EMP-35 спустя 13 выстрелов .
                <p>
                    Все экземпляры EMP-35 инфицировали как объект-327 KZ-4
                <p>
                    Разговоры персонала не записались и за удаления архивов зоны-222
                </p>

            </div>
            </div>
        <p>
            После трёх экспериментов  советники решили отменить 7-серийную экспериментов в пользу для более важных  экспериментов в зоне-222
        </div>
        <div class="experiment">
            <div class="experiment">
            <button onclick="toggleExperiment(this)">Открыть  инцидент 2.7 327</button>

                <div class="dialogue-block content"
           
                    
                    <p>

                        <strong> Инцидент 2.7 327 :</strong>
                           <p>

                    <strong> 1978.18.6 :</strong>
                    <p>
                       Младший научный сотрудник с участвуем человека охраной безопасности в говоре решили сделать свой бизнес по продаже оружий.
                    <p>
                        Когда два сотрудника перед окончания дежурства открыли объект-327 KZ в нём появился RM-70
                    <p>
                       Сотрудники не смогли уйти с радиуса поражения.Они мертвы.Объект-327 KZ в целости
                    <p>
                   
                    <p>
                      
                    </p>
                    
                </div>

            </div>
        <p>
            <strong>Обнаружение:</strong>
                    Обнаружен объект-327 KZ в Алмате.И за Советских сил в 1949 году при  учениях нашлась заброшенная деревня.При исследованиях нашёлся дом с полностью заполненными огнестрельным,холодным и взрывчаткой. Когда солдаты нашли объект-327 KZ они доложили Сержанту.Потом Сержант сообщил прапорщику,а он в SIDS.
                    <p>

                        <strong>Особые условия содержания:</strong>
                        Вход в Объект-327 KZ в длину 3м,ширину 7м.Комната содержания в длину 8м,ширину 7м.Объект-327 KZ  был закрыт ключом .Обратитесь к директору зоны-222 для получения ключа
                    <p>
                        <strong>           ВНИМАНИЕ!С НИЗУ  АКТУАЛЬНОЕ УСЛОВИЯ СОДЕРЖАНИЯ:</strong>
                    <p>
                        Объект-327 KZ с 1980 г до нашего времени помещён в специальный второй сундук.Что бы открыть его нужно разрешение директора.  Объект-327 KZ находятся в комнате директора зоны-222







                





    </div>      

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/234" class="next-button">←объект- 234 UK </a>
        <a href="/Anomalies/457" class="next-button">объект-457 CA →</a>


    </div>
</div>

<div class="footer-bar">
    Объект-327 KZ «Оружейный барон»
</div>

<script>
    function toggleExperiment(button) {
        const container = button.closest('.experiment');
        const content = container.querySelector('.content');

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            button.textContent = "Скрыть";
        } else {
            content.style.display = "none";
            button.textContent = "Показать";
        }
    }
</script>