@{
    ViewData["Title"] = "ОБЪЕКТ-34 UZ «Карликовая планета»";
}
<div class="main-anomaly">
    <h2>ОБЪЕКТ-34 UZ «Карликовая планета»</h2>

    <div class="image-block">
        <img src="~/images/34.png" alt="Объект 34 UZ">
        <p style="text-align: center;"><strong>Объект-34 UZ</strong><br>Фото объекта-34 UZ </p>
   

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Физические свойства:</strong> -
        Состав атмосферы: Водород, гелий

        Ядро: Предположительно состоит из аномально плотного вещества, схожего по структуре с кристаллическим алмазом (неподтверждено)

        Гравитация: Сильная, но стабильная. Не представляет угрозы объектам в радиусе до 3 м

        Температура: Не поддаётся точному измерению — приборы фиксируют аномальное поглощение инфракрасного излучения

        Проникновение внутрь: Строго запрещено. Давление в нижних слоях объекта неизвестно, но предположительно разрушает любую материю на молекулярном уровне

        Агрессия/энергетика: Отсутствует. Объект не проявляет враждебности или активности, зафиксированных выбросов энергии не обнаружено.

    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-34 UZ представляет собой газовый гигант планетарного типа, внешне схожий с Ураном или Нептуном, но имеющий аномально малые размеры по сравнению с планетами подобного класса:
        Примерные габариты: 5.60 м × 5.60 м × 5.60 м.

        Атмосфера объекта состоит преимущественно из водорода и гелия, с видимыми слоями облачности, цвет которых варьируется от тёмно-бирюзового до бледно-жёлтого, с вкраплениями фиолетовых и белых полос. Визуально объект имеет систему из двух колец:

        Внешнее кольцо — преимущественно ледяное;

        Внутреннее — каменистое, содержит аномальные минеральные включения, частично идентифицированные как редкие металлы.
    </p>

    <p class="section-title">Происхождение:</p>
    <p>
        Происхождение:
        Согласно расчётам, объект не имеет планетарного происхождения в пределах Солнечной системы. Его состав и движение в пространстве позволяют предположить, что он прибыл из межзвёздного пространства, аналогично объектам типа 1I/ʻOumuamua или 2I/Borisov, но с неизвестной целью и природой.
    </p>

    <p class="section-title">Обнаружения:</p>
    <p>
        Дата: 2003 г.

        Местоположение: Окрестности города Чирчик, Узбекистан

        Обнаружен: местным охотником, который зафиксировал визуальное парение "планеты" в лесном массиве

        Реакция: Через 7 часов прибыла оперативная группа НИГ-96, объект был изолирован, свидетели — обработаны амнезиаками класса B

        После успешной транспортировки объект был размещён в Зоне-222, в специально подготовленной камере.

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Местоположение: Камера содержания размером 8 м × 8 м × 8 м

        Конструкция камеры:

        Стены — армированный бетон,

        Внутренняя поверхность покрыта демпфирующими подушками для предотвращения повреждений в случае потери левитации объекта

        Положение объекта: должен находиться на высоте не менее 2 метров от поверхности пола.

        Наблюдение: осуществляется с помощью тремор-сканеров и камер с изолированной передачей сигнала

        Проникновение в камеру без разрешения директора зоны строго запрещено


    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/16" class="next-button">←объект-16 DE </a>
        <a href="/Anomalies/49" class="next-button">объект-49 FR →</a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-34 UZ «Карликовая планета»
</div>