@{
    ViewData["Title"] = "ОБЪЕКТ-34 UZ «Карликовая планета»";
}
<div class="main-anomaly">
    <h2>ОБЪЕКТ-34 UZ «Карликовая планета»</h2>

    <div class="image-block">
        <img src="~/images/34.png" alt="Объект 34 UZ">
        <p style="text-align: center;"><strong>Объект-34 UZ</strong><br>Фото объекта-34 UZ </p>
   

    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Физические свойства:</strong> Состав: водород, гелий; ядро, вероятно, состоит из аномально плотного вещества, возможно алмазной структуры.

        Давление внутри объекта делает невозможным физическое взаимодействие — проникновение внутрь строго запрещено.

        Опасности не представляет — не проявляет признаков агрессии или энергетической активности.

        Имеет сильную гравитацию

    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-34 UZ представляет собой газовый гигант с системой колец. Его внешний вид схож с планетами типа Уран или Нептун. Цвет нижних и верхних слоёв атмосферы варьируется от тёмно-бирюзового до бледно-жёлтого с фиолетовыми и белыми оттенками. Система колец объекта состоит из двух основных слоёв: внешний слой — ледяной, внутренний — преимущественно каменистый с примесями полезных ископаемых.

        Предположительный размер объекта:
        Диаметр ≈ 5.60 м × 5.60 м × 5.60 м
    </p>

    <p class="section-title">Происхождение:</p>
    <p>Считается, что объект прибыл из глубин космоса, аналогично другим межзвёздным телам.</p>

    <p class="section-title">Обнаружения:</p>
    <p>В 2003 году объект был зафиксирован неподалёку от города Чирчик охотником. Через 7 часов на место прибыла оперативная группа НИГ-96. Объект был изолирован, а свидетели подверглись амнезиаку.Объект-34 UZ был помещён в зону-222</p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект должен находиться в изоляции на высоте не менее 2 м от поверхности.

        Камера содержания: 8 × 8 × 8 метров.

        Конструкция камеры: армированный бетон, покрытый демпфирующими подушками для предотвращения повреждений в случае потери левитации объектом..
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    ОБЪЕКТ-34 UZ «Карликовая планета»
</div>