@{
    ViewData["Title"] = "Объект-4 UK — «Телепортирующаяся будка»";
}
<div class="main-anomaly">
    <h2>Объект-4 UK — «Телепортирующаяся будка»</h2>

    <div class="image-block">
        <img src="~/images/4.png" alt="Объект 4 UK">
        <p style="text-align: center;"><strong>Объект-4 UK</strong><br>Фото объекта-4 UK  при его обнаружения </p>



    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект обладает способностью телепорти  ровать находящегося внутри человека в любую точку, где зафиксировано присутствие других людей. Для активации аномального эффекта необходимо поднять телефонную трубку, после чего трубка начинает звонить, а из неё слышны искажённые крики человеческих голосов. Через несколько секунд после этого телепортация активируется.

        Телепортация всегда направляется в сторону ближайшего скопления людей. Если поблизости таких нет, субъект остаётся внутри Объекта-4 UK. В процессе одного из тестов объект телепортировал испытуемого в воздух на высоту ~10 метров рядом со смотровой башней. Сама будка осталась невредимой, несмотря на резкий перенос в пространстве.

    </p>

    <p class="section-title">Описание:</p>
    <p>
        Объект-4 UK представляет собой телефонную будку классического британского образца, выполненную из дерева и окрашенную в ярко-красный цвет. На верхней части корпуса располагается металлическая крышка с надписью TELEPHONE. Все стороны оснащены остеклением, за исключением задней панели. Внутри размещён стандартный дисковый телефон и металлическая крутящаяся ручка. Телефонная коробка окрашена в серый цвет.
        Материалы и конструкция:
        Основной материал корпуса — древесина.

        Стеклянные панели устойчивы к повреждениям.

        Коммуникационное оборудование не подключено к внешним сетям, но продолжает функционировать автономно.

    </p>

    <p class="section-title">Происхождение:</p>
    <p>Точное происхождение объекта установить не удалось. Предположительно, будка была создана в результате неизвестного техногенного инцидента или аномального явления.</p>

    <p class="section-title">Обнаружения:</p>
    <p>Объект-4 UK был обнаружен в Лондоне на улице Гросвенор-Роуд в ночное время. Камеры наружного наблюдения зафиксировали его внезапное появление. На следующий день объект был идентифицирован специалистами SIDS и перемещён в Зону 111 для дальнейших исследований.
    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-4 UK должен храниться на изолированной площадке размерами не менее 6×6×4 метров.

        Все эксперименты с объектом на территории Зоны-111 строго запрещены.

        Разрешённые испытания проводятся исключительно в пределах временного полигона Зона-55.

        Для надёжного срабатывания аномальных свойств требуется присутствие группы людей в месте, где предполагается появление объекта после телепортации.

        Любое перемещение объекта без разрешения руководства классифицируется как серьёзное нарушение протокола безопасности.
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/3" class="next-button">←объект-3 PL </a>
        <a href="/Anomalies/5" class="next-button">объект-5 RU →</a>

    </div>
</div>


<div class="footer-bar">
    Объект-4 UK — «Телепортирующаяся будка»
</div>