@{
    ViewData["Title"] = "   Объект-4579 EG —«Руки грешников»";
}
<div class="main-anomaly">
    <h2>Объект-4579 EG —«Руки грешников»</h2>

    <div class="image-block">
        <img src="~/images/4579.png" alt=Объект-4579 RU>
        <p style="text-align: center;"><strong>Объект-4579 EG </strong><br> Объект-4579 EG при нарушений содержании </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>  Объект-4579-EG представляет собой вязкую чёрную субстанцию, внешне напоминающую нефть. Из её массы периодически появляются антропоморфные конечности различного размера, предположительно принадлежащие различным субъектам. Зафиксированы случаи, когда данные конечности демонстрировали признаки травм — в частности, открытые или закрытые переломы.

        Субстанция способна к самостоятельному передвижению по твёрдой поверхности и может совершать внезапные телепортации на расстояние до 20 метров. При физическом контакте с человеком (далее — субъект), Объект-4579-EG захватывает его и инициирует перенос в параллельное пространство, обозначенное как Объект-4579-2.

        Объект-4579-2 представляет собой альтернативную версию города Каир, полностью покрытую темной, скользкой органической массой. В этом пространстве отсутствуют доступ к питательным веществам, а также пригодный для дыхания воздух. Единственной формой защиты от удушья может служить противогаз, при наличии которого возможна кратковременная выживаемость. Известных способов покинуть Объект-4579-2 в настоящий момент не обнаружено.

        Удержание:
        Несмотря на потенциальную опасность, Объект-4579-EG может быть относительно легко задержан с помощью промышленных пылесосов или аналогичных устройств всасывающего типа.



    <p class="section-title">Происхождение:</p>
    <p>
        Во время транспортировки аномального объекта 895-IN морским путём произошёл инцидент: судно, на котором осуществлялась перевозка, потерпело бедствие, в результате чего произошло массовое разлитие нефти в прибрежной зоне. В процессе крушения контейнер с Объектом-895-IN оказался разрушен, и содержимое вступило в прямой контакт с нефтяным пятном.

        По данным наблюдения, в течение нескольких часов после инцидента произошёл масштабный возгорание нефти. Спустя приблизительно 24 часа на месте возгорания был впервые зафиксирован Объект-4579-EG. Учитывая временные и пространственные совпадения, выдвинута рабочая гипотеза о том, что Объект-4579-EG является результатом аномальной реакции между Объектом-895-IN и горящей нефтяной массой.

        Дополнительное расследование причин трансформации и природы обеих аномалий продолжается.



    
    <p class="section-title">Условия содержания:</p>
    <p>
        Условия содержания  объекта-4579 EG  сложный. Комната в размерах 7м ,7м,7м. По углам расположены устоновки электрического разряда которые задержат  объект-4579 EG. При нарушений содержаний объекта-4579 EG как можно быстре засосите объект-4579 EG пылесосом

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    Объект-4579 EG —«Руки грешников»
</div>