
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Объект-49 FR-«Безмятежность»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/sids-embedded.css?v=1">
    <link rel="icon" type="image/x-icon" href="~/images/SIDS.png">
</head>
<body>
    <div class="sids-embedded">
        <header class="SIDS-site-header">
            <div class="SIDS-header-inner">
                <a href="/" class="logo-link">
                    <img src="~/images/ZONE1112.png" alt="SIDS Logo" style="width:150px; height:auto;">
                </a>

                <div class="SIDS-titles">
                    <h1>SECURE • INVESTIGATE • DELAY • SAVE</h1>
                    <p> <span style="color:#b30000">ЗОНА-111</span></p>

                </div>
            </div>
        </header>

        <nav class="SIDS-site-nav">
            <div class="SIDS-nav-inner">
                <a href="/Anomalies">Аномалии</a>

                <a href="/AddInfo">Доп. инфа</a>

                <a href="/Organizations">Организации</a>
            </div>
        </nav>

        <main class="SIDS-main-content">
            <h1>Объект-49 FR-«Безмятежность»</h1>
            <p><strong>Класс объекта:</strong> <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
                <div class="image-block">
                    <img src="~/images/49 3.png" alt="Объект 49 FR">
                    <p style="text-align: center;"><strong>Объект-49 FR-1</strong><br>Фото объекта-49 FR 1 </p>
                    <img src="~/images/49 2.png" alt="Объект 49 FR">
                    <p style="text-align: center;"><strong>Объект-49 FR-2</strong><br>Фото объекта-49 FR 2 </p>
                    <img src="~/images/49 1.png" alt="Объект 49 FR">
                    <p style="text-align: center;"><strong>Объект-49 FR-3</strong><br>Фото объекта-49 FR 3 </p>



                </div>



                <p>
                    <strong>Способности:</strong> Объект-49 FR: Это 3 картины, которые действуют так. Если заснуть в одном и той же комнате, то вы попадёте на одну из картин. Чтобы выбраться из картины, надо подойти к гуманойду Объект-49 FR-4. Но он не всегда телепортирует вас в реальность,есть шанс что телепортирует вас в другуй картинку. В других картинках гуманойд такой же.
                    Каждые 28 сентября  на день картины сереют. Если вы уснёте и попадёте в объект-49 FR, то вы не сможете выбратся , если не настанет следующий день.Дальше всё также.

                </p>
            <p>

                    <strong>Описание:</strong>
                <p>
                    Описание: Картины в синих танах. Рамка золотая. Каждая картина показывает то что в их измерениях
                    Первая картина — это ровная поверхность из земли. В правом далеке есть огромная гора серого тона.
                    Вторая картина выглядит как множество холмов с густым голубым туманом.
                    3 картина — это дорога с лесом. Ветер там сильный, но человек не чувствует это.
                    Объект-49 FR-4 выглядел на каждых картинах по-разному.Кроме цвета,чёрного
                    На первой картине Объект-49 FR-4 стоит постоянно в стойке.
                    На второй — Объект-49 FR-4 с курткой и рюкзаком.
                    На 3 — человек в футболке и шортах.
                    Происхождение: Французский художник. Больше ничего неизвестно.
                </p>
                <strong>Происхождение:</strong>
                <p>Французский художник 20 века.Интересно то что в объекте-49 FR  есть вещи из 21 века.</p>



                <strong>Обнаружения:</strong>
                <p>Обнаружение: В 1949 году в Музее Унтерлиден. Охранник заметил, что картины посерели. На следующий день картина стала нормально.Охранник музея сообщил директору об этом.Директор был православным и  сообщил агентам SIDS .Они были под видом исследователя сверхъестественно . Агенты  объект-49 FR изъяли у директора сказав что картина демоническая .Объект-49 FR был помещён сначала в зону-40 в Бельгии потом  в 1982 году объект-49 FR перевезли в зону-111 в Британии.</p>
            <p>
                <strong>
                    Условия содержания:
                </strong>
              
                    Комната на  6м,4м,3м,. Стены из бетона. Картины повешены на стене спереди и покрыты защитной плёнкой.
               

            </p>

            <div class="highlightSCPP2PP">
                УРОВЕНЬ ДОСТУПА: 4
            </div>

                <div class="nav-buttons">
                    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
                    <a href="/Anomalies/34" class="next-button">←объект-34 UZ </a>
                    <a href="/Anomalies/67" class="next-button">объект-67 GL →</a>

                </div>
  
        </main>

        <footer class="SIDS-site-footer">
            © 2025 Организация SIDS — Все права засекречены
        </footer>
    </div>
</body>
</html>