@{
    ViewData["Title"] = "   Объект-5 RU—«Хищное болото»";
}
<div class="main-anomaly">
    <h2>Объект-5 RU—«Хищное болото»</h2>

    <div class="image-block">
        <img src="~/images/5.png" alt=Объект-5 RU>
        <p style="text-align: center;"><strong>Объект-5 RU </strong><br> Объект-5 RU перед нападением оперативника </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект-5 RU — это аномальное биоформирование, обитающее преимущественно в заболоченных, водонасыщенных илистых зонах. Внешне объект способен полностью имитировать силуэт человека как показано на прилагаемом фото. В состоянии покоя он визуально неотличим от замершего, полностью покрытого грязью человека.

        Для успешной имитации Объект-5 RU требует биологический материал человека — захват и переработка живого субъекта. В случае отсутствия пищи, объект способен создавать "копии" на основе сохранённых ранее структурных данных, однако такие копии нестабильны и теряют форму в течение 8 суток.



    <p
    <p>
    <p>
        <strong>Механизм захвата:</strong>
        Радиус активации: 3 метра.

        При входе живого субъекта в зону активации объект совершает быстрый рывок (вплоть до 2.7 м/с), напрыгивает на жертву и осуществляет удушение.

        После обездвиживания объект расползается по телу жертвы, полностью обволакивая её.

        Критически важным условием является падение жертвы в воду (илистая, болотная среда): только в этом случае запускается ускоренная фаза гниения, при которой Объект-5 RU извлекает питательные вещества и структурные данные, необходимые для имитации.

    <p>
        <strong>Особенности поведения:</strong>

        Объект нападает только при установлении зрительного контакта с жертвой.

        На свет не реагирует, но проявляет избирательный интерес к движениям и отражениям в воде.

        При наличии минимального фрагмента (от 1 мм) и достаточного количества воды, объект способен регенерировать и воспроизводить микрокопии с минимальной точностью (в том числе микромасштабные).
    <p>
        <strong>Экспериментальная история:</strong>

        В рамках эксперимента [██.██.19██] Объект-5 RU был помещён в герметичную стеклянную колбу для анализа возможности размножения. Несмотря на микроскопический объём, объект начал имитацию гуманоидной формы.Объект-5 RU может заражать  воду.Проба воды показала биологическую и патогенную заражённость на уровне ███%.

        Попытки уничтожения объекта (плазма, огонь, ультразвук,изоляции) оказались эффективными в плохом смысле. Он переместился в новое болотное формировани в окрестностях Иванова км, что, по мнению аналитиков, снизило логистические издержки на содержание.



    <p class="section-title">Описание:</p>
    <p>
        Объект-5 RU выглядит как  грязный человек который лежит,сидит. Волосы всегда не мелкие волосы а крупная весящая грязь



    </p>

   

    <p class="section-title">Обнаружение:</p>
    <p>
        Объект-5 RU был впервые зафиксирован в 1942 году немецкими войсками, находившимися на территории так называемых Иванских болот (ныне — территория Российской Федерации). Согласно рассекреченным фрагментам архивов Третьего Рейха, на этой территории было организовано временное испытательное учреждение, классифицированное как "Naturprojekt Moorlager", в переводе — "естественный болотный лагерь".

        Цель использования: применить Объект-5 RU в качестве естественного средства ликвидации заключённых с одновременным получением биологических остатков для научных нужд. Однако лагерь существовал не долго и за советских войск.В 1944 году, после отступления немецких сил, Объект-5 RU был локализован и перехвачен советским спецподразделением , позднее вошедшим в состав SIDS.

        С этого момента объект был переведён под наблюдение и охрану. В рамках исследованиях в период 1945–1947 гг.

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-5 RU не подлежит транспортировке в закрытые исследовательские комплексы. Контроль и изоляция осуществляются на месте природного проявления, в пределах заболоченной зоны радиусом 3 км, условно обозначенной как «Заражённый сектор RU-5».

        Содержательная изоляция:
        Вокруг заражённой зоны установлено двойное периметровое ограждение из армированной стали с натянутой колючей проволокой и инфракрасными датчиками движения.

        По внешнему кругу установлены сигнальные башни, реагирующие на резкое изменение уровня воды и температуры в пределах сектора.

        Внутренний контур окружён засыпанным водным рвом, глубиной не менее 2 метров, с химическим ингибитором органической активности класса К-4.

        Экологические ограничения:
        Категорически запрещается осушение территории, вывоз почвы, срез растительности или любое иное нарушение болотной экосистемы без разрешения штаба SIDS-Центр.

        Попадание дождевой воды в контейнеры с образцами объекта без стерилизации запрещено.

        Контроль и наблюдение:
        Постоянное наблюдение осуществляется с помощью беспилотных наземных зондов (модель РКР-8), оснащённых тепловизорами, датчиками влажности и камеры ночного видения.

        Внутри заражённой зоны допускается вход исключительно роботизированных дронов или персонала в защитной экипировке уровня BION-5 с разрешения Центрального Штаба SIDS (Токио)

        При любом зафиксированном появлении гуманоидной фигуры внутри сектора проводится немедленный повторный карантин зоны на 72 часа.

    </p>

    <a href="/Anomalies/neme"> Записи немецкого офицера</a>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>
                                                                                   
    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/4" class="next-button">←объект-4 UK </a>
        <a href="/Anomalies/6" class="next-button">объект-6 PL →</a>

    </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bar">
    Объект-5 RU—«Хищное болото»
</div> 

