@{
    ViewData["Title"] = "   Объект-500 PH —«Метеор импульса»";
}
<div class="main-anomaly">
    <h2>Объект-500 PH —«Метеор импульса»</h2>

   
    <p class="section-title">Класс объекта: <span style="color:#b30000">CМЕРТЕЛЬНООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-500 PH — аномальное сферическое образование диаметром около 20 метров, внешне напоминающее метеороид искусственного происхождения. Поверхность — гладкая, металлизированная, покрыта равномерно распределёнными отверстиями, из которых исходит интенсивное голубое излучение. Объект обнаруживает признаки автономной активности, включая подводные движения, гравитационные выбросы и агрессию в радиусе 3000 метров.Тем ближе тем больнее последствия

        Объект начал подводную активность с последующим выходом на поверхность, сопровождаемую подземными толчками и резкими скачками давления. Первые признаки были ошибочно приняты за тектоническую активность.
    <p
 
   

    </p>
    <p>
        <strong>СпосоАномальные свойства</strong>

        Импульсное излучение: уничтожает любые формы твёрдой материи, кроме жидкости. Тела испаряются без остатка, органика обугливается мгновенно.

        Подъём из воды: сопровождается гравитационными всплесками и ЭМИ-волнами, выводящими из строя всю технику в радиусе до 3000 м.

        Агрессия: объект вступает в активную фазу атаки при приближении летательных аппаратов и фиксирует присутствие по тепловому и волновому следу.


    </p>

    <p class="section-title">Обнаружение:</p>
    <p>
        Объект был обнаружен в процессе серии аномальных сейсмических толчков, частота которых увеличивалась каждые 3 часа.

        Разведка SIDS и Расколотой воли зафиксировала энергетический очаг в подводной котловине.
    <p>

        Хронология:
        В ответ на сейсмическую активность к объекту были направлены 3 истребителя типа J-8F, принадлежащих группировке “Расколотая воля” (враждебная военная организация).
    <p>
        Цель миссии: разведка и захват объекта.
    <p>
        Через 4 минут после контакта все три аппарата были сбиты.

        Фрагмент перехваченных переговоров:
        [Гатл-1]: КАКОГО ЧЁРТА? ДВИГАТЕЛЬ УНИЧТОЖЕН, ПАДАЮ!!!
    <p>
        [Гатл-2]: ОБЪЕКТ АТАКУЕТ НА РАДИУСЕ… ПРИЁМ… ПРИШЛИТЕ ПОДМОГУ!
    <p>
        [Гатл-3]: ГАТЛ-1 ПОТЕРЯН! КРЫЛО ОТОРВАНО! 
    <p>ё
        SIDS активировал перехват и направил 3 МиГ-29, оснащённых антиматериальным вооружением.

        В ходе боя все пилоты погибли, но объект был уничтожен  — зафиксировано мгновенное гашение всей аномальной активности и полное испарение корпуса 


    </p>

    <p class="section-title">Параллельный сценарий (реальность [D-9Z]):</p>
    <p>
        В альтернативной реальности, реконструированной по данным Объекта-1 RU, атака МиГ-29 произошла.Но не успешно
    <p>
        Объект поднялся из воды.
    <p>
        Начал ускоряться вертикально, разрушая воздушные слои.
    <p>
        При выходе на орбиту испустил серию импульсов, уничтоживших ионосферу, озоновый слой, и инициировавших глобальное испарение океанов.
    <p>
        Атмосфера планеты была полностью разрушена за 11 минут 03 секунды.
    <p>
        Все биологические формы жизни погибли. Конец цивилизации был зафиксирован в 23:41 UTC.

    <p class="section-title">Протокол безопасности:</p>
    <p>
        Любое свечение, напоминающее структуру Объект-, подлежит немедленной спутниковой фиксации и передаче в центр SIDS

        Применение оружия массового поражения разрешено без одобрения Совета.

        В случае повторного появления — активация сценария "ГАФАНДИЯ"(Подготовить все ближайшие оперативные группы ,элитные и быстрого реагирвоания) и полная эвакуация населения из зоны радиусом 1000 км.
    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/457" class="next-button">←объект-457 CA </a>
        <a href="/Anomalies/533" class="next-button">объект-533 BR →</a>

    </div>
</div>


