@{
    ViewData["Title"] = "Объект-6 PL - «Луч развала»";
}
<div class="main-anomaly">
    <h2>Объект-6 PL - «Луч развала»</h2>

    <div class="image-block">
        <img src="~/images/6.png" alt="Объект 6 PL">
        <p style="text-align: center;"><strong>Объект-6 PL</strong><br>Фото объекта-6  PL в доме сектанта </p>



    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>
        <strong>Способности:</strong> При прямом физическом контакте с внешней поверхностью объекта (включая перчатки, инструменты и любые тела, соприкасающиеся напрямую), из верхнего отверстия вазы активируется аномальный тепловой луч. Луч представляет собой направленный поток энергии, визуально напоминающий плазменное свечение бело-жёлтого цвета.

        Время действия: 5 секунд

        Температура: предположительно превышает 2400°C (экспериментально подтверждено: мгновенно прожигает металл, бетон, органику)

        Зона поражения: ширина луча 12 см, длина — до 10 м, направление строго вверх

        Эффекты: все поражённые поверхности демонстрируют полную термическую деструкцию — испарение, оплавление или мгновенное возгорание.

        После активации объект переходит в пассивное состояние. Повторное срабатывание возможно не ранее чем через 47 минут (по наблюдениям).





    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-6-PL — керамическая ваза высотой ~45 см, выполненная в восточном декоративном стиле, с ярко выраженными рельефами: фигуры людей, цветы, символические узоры. Цветовая гамма включает насыщенные зелёные, жёлтые и синие оттенки.

        На поверхности объекта отсутствуют какие-либо надписи, подписи мастеров или заводских маркировок. Предположительно, произведён в начале XX века.
    </p>

   

    <p class="section-title">Обнаружения:</p>
    <p>
        Объект-6-PL был найден в 1965 году в г. Гожув-Велькопольски (СССР) На данный момент Польша, в доме, ранее принадлежавшем религиозному культу, известному как "Лунные дети". Дом был заброшен, но находился в идеальном состоянии. В помещении также были обнаружены<a href="/Anomalies/2"> объектом-2 PL</a> и <a href="/Anomalies/3"> объектом-3 PL</a>, что позволило Фонду ГЕРДИТ-100 классифицировать место как аномальный очаг.
    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-6-PL должен содержаться в индивидуальной изолированной камере хранения размером 3×3×3 м, изготовленной из термостойкого армированного стеклобетона (класс устойчивости — не ниже G-8), установленной в Зоне-79 (Камчатка, РФ). Поверхности камеры должны быть покрыты керамической изоляцией и оборудованы автоматической системой тушения класса “ОБР-3”.

        Физический контакт с объектом строго запрещён.
        Все взаимодействия производятся только через дистанционные манипуляторы с термозащитной оболочкой. Доступ в камеру разрешён только персоналу уровня допуска 2 и выше, с предварительной проверкой на наличие ожогов и следов аномального излучения.

        Во избежание случайной активации, объект постоянно помещён на металлическую опору с диэлектрической прослойкой. Поверхность объекта должна быть изолирована слоем огнеупорного тканевого материала во время транспортировки.
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/5" class="next-button">←объект-5 RU </a>
        <a href="/Anomalies/7" class="next-button">объект-7 AR →</a>

    </div>
</div>

<div class="footer-bar">
    Объект-6 PL - «Луч развала»
</div>