@{
    ViewData["Title"] = "   Объект-666 JP —«Аокигахара»";
}
<div class="main-anomaly">
    <h2> Объект-666 JP -«Аокигахара»</h2>

    <div class="image-block">
        <img src="~/images/666.png" alt=Объект-666 JP>
        <p style="text-align: center;"><strong>Объект-666 JP </strong><br>  Объект-666 JP —«Аокигахара» Тропинка </p>
        <img src="~/images/666 2.png" alt=Объект-666 JP>
        <p style="text-align: center;"><strong>Объект-666 JP </strong><br>  Объект-666 JP —«Аокигахара» вид с дрона </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong>
        Описание:
        Объект-666-JP представляет собой комплекс аномальных феноменов, связанных с лесным массивом, напоминающим лес Аокигахара (лес самоубийц) на территории Японии. Время проявления активности — с 01:00 до 04:00 ночи.

        Феномен:
        Основной компонент Объекта-666-JP — газообразное вещество, выделяемое деревьями леса. При вдыхании данный газ вызывает у субъекта немедленную потерю сознания и последующую телепортацию в аномальное измерение, именуемое "Бесконечный Аокигахара" — параллельную пространственную реальность, полностью имитирующую внешний лес, но без временных и пространственных ограничений.

        Аномальные свойства:
        Действие газа: вызывает сильный гипнотический эффект, заставляющий субъекта уснуть. При этом, если из группы из двух и более субъектов только один подвергается воздействию, он остаётся в обычном мире без возможности телепортации, а если группа все уснули то что все одновременно попадают в "Бесконечный Аокигахара".Если вас не кто не видел то в попадёте в  "Бесконечный Аокигахара"  и вы больше некогда не увидете людей

        Деструкция фотоустройств: все устройства, фиксирующие изображения и видео (фотоаппараты, видеокамеры и т.п.) немедленно выходят из строя при попытке записи внутри аномальной зоны.




    <p>
        <strong>Среда "Бесконечного Аокигахары":</strong>
        Среда характеризуется густым туманом и постоянной атмосферой ночи.

        В пределах леса находятся зоны, населённые призраками жертв самоубийств, тела которых висят на деревьях (данные фигуры являются аномальными феноменами, вызывающими сильный психологический дискомфорт и потенциальную угрозу жизни субъектам).

        В остальных частях леса обитают аномальные животные-призраки (Объект-666-2-JP), которые обладают агрессивным поведением и могут причинить серьёзный вред или смерть.

        В центральной части леса находится аномальный источник света красного цвета (Объект-666-3-JP). При контакте с этим объектом происходит некротическая реакция кожи субъекта — поверхностные ткани сгорают, и субъект превращается в Объект-2023-JP.http://45.144.54.215/Anomalies/2023

    <p>
        <strong>Выход из аномалии:</strong>
        Субъекты могут покинуть "Бесконечный Аокигахара", следуя западному направлению. В этом случае появляется видимая тропинка, ведущая к точке выхода обратно в реальный мир.

        Любое отклонение от тропы или попытка покинуть аномальную зону иным способом приводит к попаданию на территорию горы, усеянной большим количеством противопехотных мин (аналогично танковым минам по мощности), что приводит к неминуемой гибели.


            








    <p>

    <p class="section-title">Описание:</p>
    <p>
        Описание есть в https://ru.wikipedia.org/wiki/%D0%90%D0%BE%D0%BA%D0%B8%D0%B3%D0%B0%D1%85%D0%B0%D1%80%D0%B0


    </p>

    <p class="section-title">Происхождение:</p>
    <p>
      Скорее всего и за огромного количества смертей и  верой в мистику  лес стал   аномальным



    </p>

    <p class="section-title">Обнаружение:</p>
    <p>
        Объект был  найден в поисках другого объекта, Объект-2023 JP. ЭТот текст взят из документа  про  Объект-2023 JP
        23.04.20██ в центральный штаб SIDS (Токио) поступила заявка от государственных служб Японии, зафиксировавших аномальные исчезновения в районе леса Аокигахара, а также появление нераспознанных фигур и следов термического испарения. В связи с повышенным риском было принято решение о направлении оперативной группы "Воздамиур-50" численностью 18 бойцов для проведения дневной разведки.

        Операция:

        В течение первых четырёх часов третий отряд группы "Воздамиур-50" обнаружил первый экземпляр Объекта-2023 JP, но спустя считанные минуты экземпляр самоустранился (визуально испарился), оставив после себя лишь обугленную почву и влажный, горячий пар.

        Группа-3 немедленно передала информацию в штаб о подтверждённой аномальной активности и продолжила разведку в зоне.

        В лесу группа находилась 16 часов. В результате операции:

        Из 18 бойцов вернулись только 7.

        .Через 4 дня пришли "Воздамиур-53","Воздамиур-24" Через 6 дней они пришли с "закрылками" и взяли объект-2023 JP





    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-666-JP расположен в изолированной охраняемой зоне в районе леса Аокигахара, префектура Яманаси, Япония. Территория радиусом 5 км вокруг аномальной зоны официально обозначена как запретная зона в связи с риском оползней и активностью диких животных. Въезд гражданским лицам строго запрещён.

        В периметре содержания развернуты:
    <p>
        четыре наблюдательные башни с тепловизорами, приборами ночного видения и аппаратами для фиксации изменений плотности тумана;
    <p>
        система автоматических прожекторов, активирующихся с 00:30 до 05:00 по местному времени;

        контрольно-пропускной пункт с персоналом уровня допуска не ниже 5 уровня для иследовательского и других видов деятельности кроме охраны
    <p>
        Любая попытка проникновения в аномальную часть Объекта-666-JP разрешена только:

        по прямому приказу Зоны JP-██ или Центрального Штаба SIDS (Токио),

        группами численностью не менее 6 человек,

        с обязательным сопровождением психостабилизаторов и имплантатов GPS-класса NEX-TRK и в  костюмах биологической безопасности
    <p>
        Оперативные группы, зафиксировавшие признаки галлюцинаций, внезапной сонливости или появления сильно густого тумана , должны немедленно эвакуироваться в северо-западном направлении к пункту безопасности. Нарушение ориентации или отказ от эвакуации может привести к телепортации субъектов в измерение, известное как "Бесконечный Аокигахара", из которого возвращение возможно лишь в редких случаях.
    <p>
    <p>

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    Объект-666 JP -«Аокигахара»
</div>