@{
    ViewData["Title"] = "  Объект-67 GL «Электрический огонь»";
}

<div class="main-anomaly">
    <h2> Объект-67 GL «Электрический огонь»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>
  
        <div class="image-block">
            <img src="~/images/67gtothf.png" alt=Объект-155 KR>
            <p style="text-align: center;"><strong>Пещера участка-67 </strong><br> </p>
        </div>
    <p>
        <strong>Общее описание:</strong>


        Объект-67 GL представляет собою синий огонь с голобуй плазмой.
 
    <p>
        Опасность объекта-67 GL включает себя эти критерий :

    <p>    У объекта-67 GL не имеет  высокой температуры. Температура объекта-67 GL очень низкая,-1000 по Цельсию.Воркуг объекта-67 GL   -200 по цельсию. При контакте с огнём объекта-67 GL субъет замораживается. Субъект на расстоянии 4‑м получается резкий удар электрическом.

    <p>    Вторая аномальная особенность объекта-67 GL заключается в  испарениях объекта-67 GL. При сгорании кислорода из объекта-67 Gl выходит очень ионизированный кислород.  Функционировать в таком состоянии невозможно

    <p>
        Объект-67 GL распространяется только по материалу, которые содержат более 60 процентов железа. В случае распространения на данную часть содержащее 60 процентов железа,объект-69 GL с помощью своих возгораний в виде чёрного пепла который через 3 часа оседает на сам объект-69 GL давая ему топливо и быстрому распространения на следующие зоны.
    <p>



        Угарный газ объекта-67 GL намного опасна чем у обычного огня и за пепла объекта-67 GL. Пепель объекта-67 GL  при оседании в лёгкие  вызывает рак очень быстро. Примерно за 30-90минут
    <p>
        У объекта-67 GL  есть основание , в дальнейшем корень. Оторвать корень от поверхности теоретический  можно.
    <p>
        Объектов-67 GL 3  очага

    <p>
        <strong>     Объекты-67 GL 3 :</strong>
        Самый последний Объект-67 GL имеет особеность. При контакте с огнём объетка-67 GL-3  забирает тепло от всего что прикоснётся к нему . После прикосание тепло обращается во множество взрывов у которых  около 1,2 кг в тротиловом эквиваленте
    <p> 
        <strong>   Нахождение :</strong>
    <p>
        В 1989 году Американские экстремалы решили пойти в пещеру которую они нашли при поездке . Место нахождения(ДАННЫЕ УДАЛЕНЫ). Они погибли от пепла объекта-67 GL и ионизированного воздуха
    <p>
        Спустя 2 недели родители экстремалов не смогли связаться с ними. Один из родителей экстремала находясь в Гренландии позвонил в Гренландскую полицию объяснив ситуацию. Спустя 10 дней пещеру нашли добровольцы сообщив полиции. Полиция начали поиски. В итоге полицейские, добровольцы получили рак лёгких первой степени. Самые отважные смогли дойти до первого очага объекта-67 GL и сообщив про это командующему, а он учёным SIDS .
    <p>
        <strong>   Условия содержания :</strong>

        Объекты-67 GL имеют поверхность около 5м . Помещение квадратное ,около 15м. Стены сделаны из 4 слоёв. 1-бетон с арматурой,2-стальные плиты,3-UHMWPE,4-Аэрогель. В помещениях допущены  вентиляции с Электромагнитными ловушками, Ионно-селективными барьерами и Плазменными нейтрализаторами.





    <p>
       





        

    <p>







        <div class="highlight">
            УРОВЕНЬ ДОСТУПА ИНФОРМАЦИИ: 2,МАКС.4
            
        </div>

        <div class="nav-buttons">
            <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
            <a href="/Anomalies/49" class="next-button">←Объект-49 FR  </a>
            <a href="/Anomalies/100" class="next-button"> Объект-100 US→
               
            </a>

        </div>
</div>


