@{
    ViewData["Title"] = " ОБЪЕКТ-7 AR — «Живой лебедь»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-7 AR — «Живой лебедь»</h2>

    <div class="image-block">
        <img src="~/images/7.png" alt="Объект 7">
        <p style="text-align: center;"><strong>Объект-7 AR</strong><br>Фото объекта-7 AR .Сфотографировали туристы в отеле </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
       
        ОБЪЕКТ-7 AR представляет собой одеяла белого цвета в размер 145см. Объект-7 AR может изменять себя в рамках придела,но чаще всего объект-7 AR меняет свою внешность в лебедя.Многие особи любят надевать искусственную розу.У объектов не смотря на то что есть не надо могут необъяснимым образом телепортировать куда-то. Всего особей объекта-7 AR счисляется в 13 особей.Неизвестно,как объект-7 AR  видит,возможно,  эхолокация.
        Объекту-7 AR не надо питаться,пить и другие виды деятельности необходимых для поддержания жизни.Объект-7 AR передвигается избегая тело ,перенося его вперёд.Скорость объекта-7 AR Достигает около 16 км/час.Объект передвигается только в состоянии "гусеницы".Объект крайно привезучий.Если пару раз покормить или поиграть с ним ,объект-7 AR  привязывается .Поэтому по протоколу "7 AR J-434" каждый сотрудник должен не кормить ,не играть.Объекту нужно только приятная и безопасная атмосфера.Поэтому можно ему находится только в офисной зоне и зоне лёгкого содержания.Если не смотря на протокол или случайном образом объект-7 AR войдёт в зону тяжёлого содержания немедленно надо будет доставить объект в офисную либо в лёгкую зону.  Объект-7 AR крайно пуглив, если  его напугать то есть вариант что объект и за испуга умрёт.
    </p>
    <p class="section-title">Описание:</p>

    Описание в виде гуся:Выполнен объект в технике «towel art». Из ткани сформировано овальное «тело», свернутое валиком и уложенное так, чтобы образовать плавные боковые линии. От передней части тела вверх поднимается длинная, скрученная в плотный рулон «шея», плавно изгибающаяся вперёд и слегка вниз на конце, имитируя голову птицы. В месте, где у гуся был бы клюв, вставлен яркий красный цветок с крупными зелёными листьями, создающий эффект живого акцента. Композиция лежит на идеально застеленной кровати с белым покрывалом, что подчёркивает чистоту и контраст цветов.
    <p>

    </p>




    <p class="section-title">Происхождение:</p>
    <p>
        Происхождение объекта-7 AR неизвестно. 

    </p>




    <p class="section-title">Обнаружение:</p>
    <p>
        в 2012 году в городе Сальта ,8 октября.Пара жильцов в номере ███ был обнаружен красивый гусь.Они сфотогравировали его на память. 12 октября того же года в корридоре был обнаружен объект-7 AR .29 октября после несколько сообщений и  инденцентов SIDS(мы) отправили туда диаравию-234.Спустя поиска в длинной 5 часа были обнаружены 13 объектов-7 AR .Директора отеля был подвергнут к амнезиаку и другие субъекты обнаружившие объект-7 AR
    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Условий содержания таковы. Комната должна быть в зеленью (Деревья,кусты,цветы и т.д).Для развлечений объектов-7 AR сделаны некоторые развлечения,например тарзанка.Главное что бы место содержания объекта должен быть около 7м-10м.Каждые 3 сутки персонал должен чистить объект-7 AR и проверять его на повреждения.
    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/6" class="next-button">←объект-6 PL </a>
        <a href="/Anomalies/8" class="next-button">объект-8 TR →</a>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bar">
    ОБЪЕКТ-7 AR — «Живой лебедь»
</div>