@{
    ViewData["Title"] = "ОБЪЕКТ-784 MX «Смертоносный фонарь»";
}
<div class="main-anomaly">
    <h2>ОБЪЕКТ-784 MX «Смертоносный фонарь»</h2>

    <div class="image-block">
        <img src="~/images/784.png" alt="Объект 784 MX">
        <p style="text-align: center;"><strong>Объект-784 MX</strong><br>Фото объекта-784 MX в зоне содержания </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Свет объекта оказывает деструктивное воздействие на биологические организмы.

        При достижении дистанции до 4 метров от цели, направленный свет вызывает немедленную деструкцию тканей и быстрое разложение (резкое испарение жидкостей и разрушение клеточных структур).

        Объект способен фиксировать цель с помощью сенсорных систем, после чего направляет свет на жертву.

        В случае физического контакта — объект захватывает цель, после чего наступает быстрое разложение организма.

        Установлено, что свет объекта вызывает зомби-подобное состояние у существ с низкой когнитивной активностью.
    </p>


    </p>
    <strong>ПОВЕДЕНЧЕСКИЕ ОСОБЕННОСТИ: </strong>

        
        Объект медлителен, передвигается неохотно.

        Чаще всего выбирает для пребывания тёмные помещения.

        Питается раз в неделю, пищу получает через взаимодействие с заменой свиньи объектом-123 CN.

        Основной способ охоты — засвет цели и захват.
    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-784 MX — гуманоидное существо, ростом приблизительно 3.2 метра. Его конечности непропорционально удлинены, общая ширина с разведёнными руками  достигает 5 метров. Кожа чёрного цвета, возможно синтетического происхождения. Материал тела на ощупь напоминает резину . На кистях — 5 пальцев, на стопах — 3.

        Голова представляет собой чёрную лампу неправильной формы, испускающую яркое световое излучение бело-жёлтого спектра. Свет может быть направлен в произвольные точки пространства. На данный момент механизм генерации света не изучен.
    </p>

    <p class="section-title">Происхождение:</p>
    <p>
        Происхождение объекта неизвестно. Существует гипотеза, что он был создан в результате деятельности мексиканских культов, связанных с культом смерти и верованиями в "Девочку в белом платье".

    </p>

    <p class="section-title">Обнаружения:</p>
    <p>
        Объект был найден в 2012 году двумя людьми в заброшенном отеле. Один из них успел вызвать экстренные службы.На этот вызов приехала полиция.После потери почти всего состава вызвали Группу "Коготь-193" .Они начали захват объекта. В отель добавили дополнительную  охрану. Исследование здания выявило наличие оккультной символики (пентаграммы, следы ритуалов).

        Объект был помещён в Зону-79 для изучения и содержания.
    <p class="section-title">Условия содержания:</p>
    <p>
        Камера: 20 × 20 м, высота — 5 м.

        Стены герметичные, потолок и пол — из огнеупорного армированного бетона.

        Питание подаётся через автоматизированный конвейер.

        Доступ осуществляется через двойной шлюз с усиленной защитой.

        При нарушении условий содержания требует немедленного применения огнестрельного оружия .
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    ОБЪЕКТ-784 MX «Смертоносный фонарь»
</div>