@{
    ViewData["Title"] = " ОБЪЕКТ-8 TR — «Второе солнце»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-8 TR — «Второе солнце»</h2>

    <div class="image-block">
        <img src="~/images/8 2.png" alt="Объект 8">
        <p style="text-align: center;"><strong>Объект-8 TR</strong><br>Фото объекта-8 TR при 2 этапе </p>
    </div>


    <div class="image-block">
        <img src="~/images/8.png" alt="Объект 8">
        <p style="text-align: center;"><strong>Объект-8 TR</strong><br>Фото объекта-8 TR при 1 этапе </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">CМЕРТЕЛЬНООПАСНО</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-8 TR — аномальный летающий объект, представляющий собой неоновый шар, излучающий яркий белый свет в видимом спектре.


        При контакте с излучением Объекта-8 TR любой живой организм получает ожоги третьей степени, характеризующиеся глубоким повреждением тканей.

        Даже при непрямом воздействии лучей наблюдается мгновенное поражение зрительной системы с последующим развитием тяжелой комы.

        На втором этапе воздействия фиксируются сейсмические толчки магнитудой порядка 2.1, сопровождающиеся аномальным поднятием предметов с низкой степенью фиксации в радиусе до 500 метров от эпицентра воздействия.

        Время действия аномалии — около одного часа.


        По окончании активности Объект-8 TR взрывается с разрушительной силой, приводящей к уничтожению значительной части городских территорий.

        Взрыв сопровождается вызовом цунами и землетрясением с магнитудой порядка 7.0.

        Зафиксировано полное выход из строя фотокамеры мобильного устройства, которым был запечатлен объект.

        Оперативные меры:
        Организация КЛАО подала заявку на проведение комплексного и полного исследования зоны поражения и последствий аномалии.

        Советники на данный момент выступают против развертывания масштабных исследований из-за высокого риска и




    </p>
     <strong>Описание:</strong>
    <p>
        Объект-8 TR проявляется как неестественно яркая световая эмиссия. На фотографиях и видео наблюдается эффект масштабного свечения с длинными лучами, что делает невозможным различить детали источника.Примерный размер объекта расчислятся  в 15 м во все стороны
    </p>
    .



      <strong>Происхождение:</strong>
    <p>
        Неизвестно. КЛАО предполагает что либо это космический объект, либо это  и за сектантов. Опер группа 43 коготь нашла в подвале отеля  не известные следы призывов .
    </p>


     <strong>Обнаружение:</strong>
    <p>
        Первые вызовы были в 22:23 . В 23:43 объект-8 TR ввошёл во второй этап. SIDS (Мы)  вызвали опер группу коготь 43 .Пришли они через 1час38минут. Тогда уже все умерли. Коготь 43 сообщила это  .По приказу советников они начали искать телефоны и т.д и т.п. Группа коготь-43 нашла один единственный телефон
    </p>

      <strong>Условия содержания:</strong>
    <p>
        Незачем. Если объект снова появится и не взорвётся сам, то будут задействованы ракеты.


    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/7" class="next-button">←объект-7 AR </a>
        <a href="/Anomalies/9" class="next-button">объект-9 RU →</a>

    </div>
</div>

<div class="footer-bar">
    ОБЪЕКТ-8 TR — «Второе солнце»
</div>