@{
    Layout = null;
    ViewData["Title"] = "Объект-860 WORLD - Damocles Initiative";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Шрифты оставляем в HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto+Mono:wght@300;400&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Scoped CSS: перенесён в wwwroot/css/damocles/damocles.css -->
    <link rel="stylesheet" href="~/css/damocles/damocles.css" />

    <link rel="icon" type="image/x-icon" href="~/images/SIDS.png">
</head>
<body>
    <div class="damocles">
        <div class="stars-container">
            <div class="stars" style="top:10%;left:20%"></div>
            <div class="stars" style="top:50%;left:80%"></div>
            <div class="stars" style="top:80%;left:10%"></div>
            <div class="stars" style="top:30%;left:60%"></div>
        </div>

        <div class="top-banner">
            <div class="top-banner-inner">
                <div class="logo">
                    Отдел сайта SIDS,КЗК-Космический Зонт Камерсант<span>
                        SECURE • INVESTIGATE • DELAY • SAVE
                    </span>
                </div>
                <div style="opacity:0.6">
                    DATA_LINK: ESTABLISHED | [ USER:Administrator ]
                </div>
            </div>
        </div>

        <div class="page">
            <aside class="sidebar">
                <h3>Бортовой компьютер</h3>
                <ul>
                    <li><a href="/">Хаб сайта SIDS</a></li>
                    <li><a href="/Anomalies">Навигация по объектам</a></li>

                    <li><a href="/AddInfo">Допл.инфо</a></li>
                    <li><a href="/Organizations">Организаций</a></li>
                   
                </ul>

                
            </aside>

            <main class="article">
          
                <div class="breadcrumbs">ОТДЕЛ САЙТА "КЗК</"div>
                <h1>Объект-890 WORLD</h1>

                
               

                <div class="infobox">
                        <p><b>АРТИКУЛ:</b>890</p>
                        <p><b>КЛАСС:</b> ОПАСНО</p>
                    <p><b>УРОВЕНЬ:</b> 4    </p>
                    <p><b>СЕКТОР:</b> АТМОСФЕРА</p>
                </div>

                    <div class="section-title">Общее описание:</div>
                    <p>
                        Объект-890 WORLD выглядит как облако в форме синего кита. Чаще всего длинна Объект-890 WORLD около 790м.Самый большой Объект-890 WORLD вырастал около 1268м.Предположительно у объекта-890 WORLD есть два вида.Объект-890 WORLD D(500-1000м) и объект-890 WORLD B(1000м-1268м).У объекта-890 WORLD есть рот,который иногда у старых особей может дотянутся до хвоста.В самом рту объект-890 WORLD был обнаружен объект-67 GL .У объекта-67 GL не было замечено отличий от того какой он был. Объект-890 WORLD не двигается .Объект-890 WORLD способен двигается только по воздуху.Объект-890 WORLD не слышит,ориентируется только по эхолокации .Объект-890 WORLD повреждается только фугасными снарядами.

                        Объект-890 WORLD употребляет в пищу газ.После употребления газа из дырок сверху по бокам выходит кислород. Объект-890 WORLD могут становится тучами.

                        Объект-890 WORLD может стареть .Год жизни 5 месяцев.В конце жизни они распадаются а не взрываются от <a href="/Anomalies/67">объекта-67 GL</a>
                    </p>
                    <p>
                        Столкновение на самолёте в объект-890 WORLD приведёт не только повреждениям самолёта и за <a href="/Anomalies/67">объекта-67 GL</a>,но и смерти объекта-890 WORLD.Птицы не могут нанести вред.Нанести вред могут только воздушная техника.

                    На Аляске древние люди рисовали рисунки где объекты-890 WORLD появлялись из неоткуда .В России было мало рисунковы объектов-890 WORLD и за их скрытности

                    В наше время объекты-890 WORLD представляют миру как неизученная явление природы.


                    </p>


                    <div class="image-block">
                        <img src="~/images/машрут890.png" alt="Объект 3 PL">
                        <p style="text-align: center;"><strong>МАШРУТ</strong>

                    </div>
                    <div class="section-title">Перемещение:</div>

                    <p>
                     Объекты-890 WORLD пытаются всегда не привлекать внимание.Обычно если есть облака то они переходят на верх облака.Если облака нет то они складывают свои ласты и хвост под хвост.И за этого они кажутся обычним облаком

                    </p>

                    <div class="section-title">Перевалы:</div>
                    <p>
                 Перевалы это места где объекты-890 WORLD останавливаются и парят кружа над местом перевала.
                    </p>


                    <div class="section-title"> Размножение:</div>

                    <p>
                   Объекты-890 WORLD размножаются с помощью диссипации.C Польши до Ирландии .На следующий год они снова появляются в беринговном проливе
                    </p>




                    <div class="section-title"> Объект-890 WORLD V</div>




                    <p>
                   Объекта-890 WORLD V это вирус не понятного происхождения который проявляет себя в беринговом проливе.

                    Объект-890 WORLD при заражения объектом-890 WORLD V начинаются с не заметных выпуклостей.После 3 дней выпуклости станут больше,а через 8 дней объект-890 WORLD медленно диссипирует.

                    С помощью метеозонда в беринговом проливе SIDS(мы) исследовали атмосферу.Вы итоге метеозонд не выявил нечего аномального в том ключе и объекта-890 WORLD V

                    </p>


                    <div class="section-title">Обнаружение:</div>
                    <p>
                Первым обнаружила Адская Длань на Аляске в 1928 году.Заметить объект-890 WORLD сложно.Поэтому SIDS (МЫ) заметили его в 1938 году.В 1945 году Адская Длань распалась дав SIDS (МЫ) новую информацию
                    </p>


                    <div class="section-title">Условия содержание:</div>


                    <p>
                     Объекты-890 WORLD имеют только контроль миграции.По пути миграции летают истребители что бы уничтожать объекты-890 WORLD которые вышли из пути миграции что бы сохранять местонахождения объектов-890 WORLD
                    </p>



                    <div class="nav-buttons">
                        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
                        <a href="/Anomalies/784" class="next-button">←Объект-784 MX </a>
                        <a href="/Anomalies/895" class="next-button">Объект-895 IN →</a>


                    </div>

            </main>
        </div>
    </div>
</body>
</html>





