@{
    ViewData["Title"] = "  Объект-890 WORLD «Облачный монстр»";
}

<div class="main-anomaly">
    <h2> Объект-890 WORLD «Облачный монстр»</h2>
    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНО</span></p>
    <p>


       <strong>Общее описание:</strong>
    <p>
        Объект-890 WORLD выглядит как облако в форме синего кита. Чаще всего длинна   Объект-890 WORLD около 790м.Самый большой   Объект-890 WORLD вырастал около 1268м.Предположительно  у объекта-890 WORLD  есть два вида.Объект-890 WORLD D(500-1000м) и объект-890 WORLD B(1000м-1268м).У  объекта-890 WORLD есть рот,который иногда у старых особей   может дотянутся до  хвоста.В самом рту  объект-890 WORLD был обнаружен объект-67 GL .У объекта-67 GL не было замечено отличий от того какой он был. Объект-890 WORLD не двигается .Объект-890 WORLD способен двигается только по воздуху.Объект-890 WORLD не слышит,ориентируется только по эхолокации .Объект-890 WORLD повреждается только фугасными снарядами.
    <p>
        Объект-890 WORLD употребляет в пищу газ.После употребления газа из дырок сверху по бокам выходит кислород. Объект-890 WORLD могут становится тучами.
    <p>
        Объект-890 WORLD может стареть .Год жизни 5 месяцев.В конце жизни они распадаются а не взрываются от    <a href="/Anomalies/67">объекта-67 GL</a>.

    <p>
        Столкновение на самолёте в   объект-890 WORLD приведёт  не только повреждениям самолёта и за <a href="/Anomalies/67">объекта-67 GL</a>.,но и смерти  объекта-890 WORLD.Птицы не  могут нанести вред.Нанести вред могут только воздушная техника.
           <p>
        На Аляске древние люди рисовали рисунки где объекты-890 WORLD появлялись из неоткуда .В России было мало рисунковы объектов-890 WORLD и за их скрытности
    <p>
        В наше время объекты-890 WORLD  представляют миру как неизученная явление природы.
    </p>

       

    <div class="image-block2">
        <img src="~/images/машрут890.png" alt="">
        <p style="text-align: center;"><strong> </strong><br>Карта Машрута </p>

    </div>
    
    <p>
        <strong>Перемещение:</strong>
        Объекты-890 WORLD пытаются всегда не привлекать внимание.Обычно если есть облака то они переходят на верх облака.Если облака нет то они складывают свои ласты и хвост под хвост.И за этого они кажутся обычним облаком
    <p>

        <strong>Перевалы:</strong>
        Перевалы это места где объекты-890 WORLD останавливаются  и парят кружа над местом перевала.
    <p>
   
        <strong>Размножение:</strong> 
        Объекты-890 WORLD размножаются с помощью диссипации.C Польши до Ирландии .На следующий год они снова появляются в  беринговном проливе
    <p>


    <strong>Объект-890 WORLD V:</strong>
        Объекта-890 WORLD V это вирус не понятного происхождения который проявляет себя в беринговом проливе.
    <p>
        Объект-890 WORLD при заражения объектом-890 WORLD V начинаются с не заметных выпуклостей.После 3 дней выпуклости станут больше,а через 8 дней объект-890 WORLD медленно диссипирует.
    <p>
        С помощью метеозонда в беринговом проливе SIDS(мы) исследовали атмосферу.Вы итоге метеозонд не выявил нечего аномального в том ключе и объекта-890 WORLD V
    <p>
        <strong>Обнаружение:</strong>
        Первым обнаружила Адская Длань на Аляске в 1928 году.Заметить объект-890 WORLD сложно.Поэтому SIDS (МЫ) заметили его в 1938 году.В 1945 году Адская Длань распалась дав SIDS (МЫ) новую информацию
    <p>
        <strong>Условия содержание:</strong>
        Объекты-890 WORLD имеют только контроль миграции.По пути миграции  летают истребители что бы уничтожать    объекты-890 WORLD которые вышли из пути миграции что бы сохранять местонахождения объектов-890 WORLD










        <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 4
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
            <a href="/Anomalies/784" class="next-button">←Объект-784 MX  </a>
            <a href="/Anomalies/895" class="next-button">Объект-895 IN →
            </a>

    </div>
</div>


<div class="footer-bar">
    Объект-890 WORLD «Облачный монстр»
</div>


<script>
    function toggleExperiment(button) {
        const container = button.closest('.experiment');
        const content = container.querySelector('.content');

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            button.textContent = "Скрыть";
        } else {
            content.style.display = "none";
            button.textContent = "Объект-890 WORLD V";
        }
    }
</script>