@{
    ViewData["Title"] = "Объект-9 RU — «Энергетик силы»";
}
<div class="main-anomaly">
    <h2>Объект-9 RU — «Энергетик силы»</h2>

    <div class="image-block">
        <img src="~/images/9.png" alt="Объект 9 RU">
        <p style="text-align: center;"><strong>Объект-9 RU</strong><br>Фото объекта-9 RU  </p>


    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> При употреблении содержимого Объекта-9 RU ежедневно (не более одной банки в сутки), через 7 дней наблюдается существенное увеличение мышечной силы у человека. В зафиксированных случаях испытуемые демонстрировали возможность поднимать грузы массой до 350 кг без дополнительной тренировки.
    <p>
        
        <strong> Внимание:</strong>
        Употребление более трёх банок в течение 24 часов вызывает острые негативные эффекты вплоть до летального исхода. Использование объекта допускается только в строго контролируемых условиях и исключительно при наличии критической необходимости.
        Также зафиксировано, что Объекты-9 RU не портятся со временем, независимо от условий хранения. Механизм «консервации» на данный момент не установлен.





    </p>





    <strong> Описание:</strong>
    <p>
        Объект-9 RU представляет собой серию алюминиевых банок чёрного цвета с фиолетовой верхней частью и надписью «ГОЛУБИКА-ГРАНАТ». На фронтальной части тары указано название — VOLT, в нижней части изображён провод. Напиток внутри прозрачный, слабо газированный, имеет светлый оттенок. Вкус — ягодный (голубика-гранат). Состав схож с составом традиционных энергетических напитков, однако проявляет выраженные аномальные свойства..
    </p>



    <strong>Происхождение-обнаружение:</strong>
    <p>Поставка Объекта-9 RU была осуществлена из города Иваново. Согласно документам, партия состояла из 100 единиц. Все экземпляры были транспортированы в Тюмень. В результате приёмки было найдено 87 банок. Местонахождение остальных 13 экземпляров — неизвестно.Объеки-9 RU был отвезён в зону-19</p>

    <strong> Условия содержания:</strong>
    <p>
        Объект-9 RU должен храниться в охлаждаемом помещении размерами не менее 6×4×2,5 м. Объекты-9 RU  находятся в холодильнике. Доступ к объекту ограничен, все эксперименты проводятся по предварительному разрешению с участием медицинского персонала.
    </p>    

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/8" class="next-button">←объект-8 TR </a>
        <a href="/Anomalies/10" class="next-button">объект-10 RU →</a>
    </div>
</div>


