@{
    ViewData["Title"] = "Объект-923 JP-«Поезд катастроф прошлого»";
}
<div class="main-anomaly">
    <h2>Объект-923 JP-«Поезд катастроф прошлого»</h2>

    <div class="image-block">
        <img src="~/images/923.png" alt="Объект-923 JP">
        <p style="text-align: center;"><strong>Объект-923 JP</strong><br>Фото Объект-923 JP </p>


    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">ОПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> Объект способен менять внешний облик, подражая поездам, попадавшим в катастрофы.

        При пролёте мимо объекта у человека может начаться тахикардия и кратковременное чувство бодрости, сменяющееся сильной усталостью.

        Объект невозможно отслеживать через обычные средства мониторинга в реальном времени.

        Возможно определение его положения лишь в момент проявления в метро – часто объект движется по маршруту, идентичному обычному поезду.
    </p>
    <p>
        <strong></strong>Визуально объект идентичен обычному поезду, однако его структура полностью полупрозрачна и светится голубоватым оттенком.

        На ощупь материал корпуса напоминает шлифованный металл.

        Находиться внутри объекта возможно, однако последствия неизвестны – ни один из участников экспедиций не вернулся, связь с ними потеряна.
    </p>




    <p class="section-title">Описание:</p>
    <p>
        Объект-923 JP представляет собой аномальную сущность, ежегодно проявляющуюся в форме поезда. Аномалия появляется строго 1 января в 00:00 на одной из станций метро и принимает облик состава, ранее участвовавшего в крупной железнодорожной катастрофе.

        Последнее проявление:
        3 февраля 2023 года, Огайо – авария с участием состава, впоследствии ставшего моделью внешности объекта-923 JP.
    </p>

    <p class="section-title">Происхождение:</p>
    <p>Неизвестно</p>

    <p class="section-title">Обнаружения:</p>
    <p>
        1 января 2000 года, Токио, 00:00 – сотрудник службы охраны зафиксировал по камерам появление неизвестного состава. Через 30 минут на место прибыла оперативная группа «Воздамиур-29».


    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Перемещение объекта в другие зоны невозможно – объект-923 JP  исчезает в депо

        Содержится исключительно на месте первоначального появления.

        В момент появления (23:50 – 00:00) на станциях должно быть без лишних лиц.В метро обязано находиться не менее шести оперативных групп: «Воздамиур-25», «-26», «-27», «-28», «-29», «-30» (иногда также группы «-31» и «-32»).
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/895 " class="next-button">←объект-895 IN </a>
        <a href="/Anomalies/1126" class="next-button">объект-1126 FI  →</a>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bar">
    Объект-923 JP-«Поезд катастроф прошлого»
</div>