@{
    ViewData["Title"] = " ОБЪЕКТ-990 US — «фотоаппарат мечты»";
}

<div class="main-anomaly">
    <h2>ОБЪЕКТ-990 US — «фотоаппарат мечты»</h2>

    <div class="image-block">
        <img src="~/images/990.png" alt="Объект 990">
        <p style="text-align: center;"><strong>Объект-990 US</strong><br>Фото объекта-990 US </p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">АРХОНТ</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-990 US представляет собой стандартную цифровую фотокамеру марки Sony Cyber-shot DSC-W830, физически и технически идентичную серийным экземплярам, за исключением одного параметра: аномальные свойства проявляются только при взаимодействии с живыми субъектами.

        Активация аномалии происходит после того, как камера делает одиночный снимок субъекта, после чего устройство необходимо перевести в режим видеосъёмки. Во время записи экран камеры начинает транслировать реальное визуальное восприятие сфотографированного субъекта — то есть то, что он видит в данный момент.Снятое видео не содержит этой визуальной информации — эффект существует только в режиме реального отображения и не записывается.

        В попытке изъятия аномального компонента инженеры SIDS извлекли объектив камеры и вмонтировали его в другие устройства с цифровым зеркалом (Canon, Nikon, Sony Alpha и др.). Во всех случаях аномальные свойства не проявились, что указывает на:

        либо комплексную сборку камеры как причину аномалии,

        либо неидентифицированный внутренний элемент, реагирующий только в оригинальной сборке.

        Дополнительное исследование с использованием заражённого Объектом-16 DE субъекта показало, что даже при тяжёлос состоянии человека, Объект-990 US продолжал передавать то что видел субъект, включая меметические образы, не воспринимаемые наблюдателями напрямую.


        В настоящее время Объект-990 US активно используется для:
    <p>
        наблюдения за заражёнными другими объектами, в особенности с визуально-меметическим воздействием;
    <p>
        диагностики галлюцинаторных состояний;
    <p>
        контроля сознания испытуемых без внешнего вмешательства.
    <p>
        Проверка персонала


        Угроза:
        Хотя объект сам по себе не обладает атакующими свойствами, возможность наблюдения субъективной реальности может стать критически опасной при взаимодействии с другими меметическими или психоактивными объектами. Особенно это касается взаимодействия с мемагентами


    </p>
  
    </p>




    <p class="section-title">Происхождение:</p>
    <p>
        Есть информация что он был купен в Китае. Возможно там есть аномальный завод. 
    </p>




    <p class="section-title">Обнаружение:</p>
    <p>
        Впервые камера была приобретена в 2016 году через онлайн-магазин Amazon пользователем ███ ███████, известным на форуме 4chan. Через год он обнаружил эту аномальную активность и написал тред в форчан . Пустя 5 тредов  которые стали довольно популярным SIDS заинтересовалась и пришли к нему .Субъект оказался с 4 судимости в Великобритании. Он стал заключенным .

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-990 US должен храниться в герметичном защитном кейсе класса «Бета», оснащённом системой подавления электромагнитных импульсов (EMP).

        Камера помещается в изолированный ящик из свинцового сплава с амортизаторами для предотвращения механических повреждений.

        Контейнер должен храниться в помещении с температурой от 18 до 22°C, влажностью не выше 40%.

        Доступ к объекту разрешён только персоналу с уровнем допуска 3 и выше с письменным разрешением Главы сектора наблюдения.


    </p>



    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 3
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/12" class="next-button">←объект-12 RU </a>
        <a href="/Anomalies/34" class="next-button">объект-34 UZ →</a>

    </div>
</div>
