@{
	ViewData["Title"] = "Аномалии";
}

<div class="main-list">
    <h2>Список аномалий</h2>
	<div class="anomaly-list">
		<a class="anomaly-item" href="Anomalies/4">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-4 UK</strong> — «Телепортная будка»
		</a>

		<a class="anomaly-item" href="Anomalies/9">
			<span class="anomaly-dot green"></span>
			<strong>Объект-9 RU</strong> — «Энергетик силы»
		</a>

		<a class="anomaly-item" href="Anomalies/12">
			<span class="anomaly-dot green"></span>
			<strong>Объект-12 RU</strong> — «Лунный камень»
		</a>

		<a class="anomaly-item" href="Anomalies/16">
			<span class="anomaly-dot red"></span>
			<strong>Объект-16 DE</strong> — «Вирус самоубийц»
		</a>
		<a class="anomaly-item" href="Anomalies/34">
			<span class="anomaly-dot green"></span>
			<strong>Объект-34 UZ</strong> — «Карликовая планета»
		</a>

		<a class="anomaly-item" href="Anomalies/49">
			<span class="anomaly-dot green"></span>
			<strong>Объект-49 FR</strong> — «Безмятежность»
		</a>

		<a class="anomaly-item" href="Anomalies/234">
			<span class="anomaly-dot red"></span>
			<strong>Объект-234 UK </strong> — «Британская рептилия»
		</a>
		<a class="anomaly-item" href="Anomalies/784">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-784 MX </strong> — «Смертоносный фонарь»
		</a>

        <a class="anomaly-item" href="Anomalies/2941">
            <span class="anomaly-dot yellow"></span>
            <strong>Объект-2941 ES</strong> — «Со вкусом боли» 
        </a>

		
    </div>
</div>
