@{
	ViewData["Title"] = "Аномалии";
}

<div class="main-list">
    <h2>Список аномалий</h2>
	<div class="anomaly-list">

		<a class="anomaly-item" href="Anomalies/1">
			<span class="anomaly-dot green"></span>
			<strong>Объект-1 RU</strong> —«Предсказатель»
		</a>

		<a class="anomaly-item" href="Anomalies/4">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-4 UK</strong> — «Телепортная будка»
		</a>


		<a class="anomaly-item" href="Anomalies/9">
			<span class="anomaly-dot green"></span>
			<strong>Объект-9 RU</strong> — «Энергетик силы»
		</a>

		<a class="anomaly-item" href="Anomalies/12">
			<span class="anomaly-dot green"></span>
			<strong>Объект-12 RU</strong> — «Лунный камень»
		</a>

		<a class="anomaly-item" href="Anomalies/16">
			<span class="anomaly-dot red"></span>
			<strong>Объект-16 DE</strong> — «Вирус самоубийц»
		</a>
		<a class="anomaly-item" href="Anomalies/34">
			<span class="anomaly-dot green"></span>
			<strong>Объект-34 UZ</strong> — «Карликовая планета»
		</a>

		<a class="anomaly-item" href="Anomalies/49">
			<span class="anomaly-dot green"></span>
			<strong>Объект-49 FR</strong> — «Безмятежность»
		</a>

		<a class="anomaly-item" href="Anomalies/100">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-100 US</strong> —«Люди в небе» (Нейтрализован)
		</a>
		<a class="anomaly-item" href="Anomalies/123">
			<span class="anomaly-dot green"></span>
			<strong>Объект-123 CN</strong> —«Листосеком»
		</a>

		<a class="anomaly-item" href="Anomalies/234">
			<span class="anomaly-dot red"></span>	
			<strong>Объект-234 UK </strong> — «Британская рептилия»

			<a class="anomaly-item" href="Anomalies/457">
				<span class="anomaly-dot red"></span>	
				<strong>Объект-457 CA</strong> —«VIR»
			</a>
			
		</a>
		<a class="anomaly-item" href="Anomalies/784">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-784 MX </strong> — «Смертоносный фонарь»
		</a>
		<a class="anomaly-item" href="Anomalies/923">
			<span class="anomaly-dot yellow"></span>
			<strong>Объект-923 JP</strong> — «Поезд катастроф прошлого»
		</a>

		<a class="anomaly-item" href="Anomalies/1126">
			<span class="anomaly-dot green"></span>
			<strong>Объект-1126 FI</strong> — «Магнитофон мыслей»
		</a>

		 <a class="anomaly-item" href="Anomalies/1917">
            <span class="anomaly-dot yellow"></span>
            <strong>Объект-1917 RU</strong> — «Эхо войны» 
        </a>

        <a class="anomaly-item" href="Anomalies/2941">
            <span class="anomaly-dot yellow"></span>
            <strong>Объект-2941 ES</strong> — «Со вкусом боли» 
        </a>

		<a class="anomaly-item" href="Anomalies/4579">
			<span class="anomaly-dot red"></span>
			<strong>Объект-4579 EG</strong> — «Руки грешников»
		</a>

		
    </div>
</div>
