@{
    ViewData["Title"] = "Аномалии";
}

<div class="main-list">
    <h2>Список аномалий</h2>

    <div class="anomaly-grid">

        <a class="anomaly-card" href="Anomalies/1">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-1 RU</strong>
                <p>«Предсказатель»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/2">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-2 PL</strong>
                <p>«Шкаф долгих времён»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/3">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-3 PL</strong>
                <p>«Невозвратимый увеличитель»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/4">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-4 UK</strong>
                <p>«Телепортная будка» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/5">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-5 RU</strong>
                <p>«Хищное болото» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/6">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-6 PL</strong>
                <p>«Луч развала»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/7">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-7 AR</strong>
                <p>«Живой лебедь»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/8">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-8 TR</strong>
                <p>«Второе солнце» (Нейтрализован)</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/9">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-9 RU</strong>
                <p>«Энергетик силы» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/10">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-10 MN</strong>
                <p>«Цветок из бумаги»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/11">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-11 RU</strong>
                <p>«Мусорка пропаданья»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/12">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-12 RU</strong>
                <p>«Лунный камень» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/13">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-13 TR</strong>
                <p>«Хрущёвка-отель»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/14">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-14 UK</strong>
                <p>«Начало»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/15">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-15 EG</strong>
                <p>«Сублизуб»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/16">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-16 DE</strong>
                <p>«Вирус самоубийц» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/17">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-17 FR</strong>
                <p>«Таблетка правды»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/18">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-18 CA</strong>
                <p>«Мыло»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/34">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-34 UZ</strong>
                <p>«Карликовая планета»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/49">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-49 FR</strong>
                <p>«Безмятежность»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/67">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-67 GL</strong>
                <p>«Электрический огонь»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/100">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-100 US</strong>
                <p>«Люди в небе» (Нейтрализован)</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/123">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-123 CN</strong>
                <p>«Листосеком»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/155">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-155 KR</strong>
                <p>«Шептун»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/234">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-234 UK</strong>
                <p>«Британская рептилия» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/327">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-327 KZ</strong>
                <p>«Оружейный барон»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/457">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-457 CA</strong>
                <p>«VIR» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/500">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-500 PH</strong>
                <p>«Метеорит импульса» (Нейтрализован)</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/533">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-533 BR</strong>
                <p>«BODI» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/666">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-666 JP</strong>
                <p>«Аокигахара» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/784">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-784 MX</strong>
                <p>«Смертоносный фонарь»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/890">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-890 WORLD</strong>
                <p>«Облачный монстр»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/895">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-895 IN</strong>
                <p>«Адский камень» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/923">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-923 JP</strong>
                <p>«Поезд катастроф прошлого» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/990">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-990 US</strong>
                <p>«Фотоаппарат мечты» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/1126">
            <div class="anomaly-dot blue"></div>
            <div class="anomaly-info">
                <strong>Объект-1126 FI</strong>
                <p>«Магнитофон мыслей» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/1917">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-1917 RU</strong>
                <p>«Эхо войны» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/2023">
            <div class="anomaly-dot green"></div>
            <div class="anomaly-info">
                <strong>Объект-2023 JP</strong>
                <p>«Пропавший» </p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/2941">
            <div class="anomaly-dot yellow"></div>
            <div class="anomaly-info">
                <strong>Объект-2941 ES</strong>
                <p>«Со вкусом боли»</p>
            </div>
        </a>

        <a class="anomaly-card" href="Anomalies/4579">
            <div class="anomaly-dot red"></div>
            <div class="anomaly-info">
                <strong>Объект-4579 EG</strong>
                <p>«Руки грешников» </p>
            </div>
        </a>




    </div>
</div>

