@{
    Layout = "_LayoutAlt";
}

@{

    ViewData["Title"] = "Записи немецкого офицера";
}

<div class="main-anomaly">
    <h2>Записи немецкого офицера</h2>

    

   
    <p>
        <strong>[Запись №1 — 03.09.1942]:</strong>
        Мы прибыли на объект "Moorlager" согласно приказу управления Abteilung XXV. Местность болотистая, мрачная и труднопроходимая. Установлен временный лагерь. Секция научного надзора обнаружила странную гуманоидную массу, напоминающую сидящего человека, покрытого слоем ила и грязи. Объект неподвижен, однако не разлагается.

        Распоряжение: изолировать зону радиусом 100 метров, не приближаться без приказа. Лагерный комендант Хольцман предлагает использовать "это" для естественной утилизации подопытных.


    <p
    <p>


  <strong>[Запись №2 — 5.09.1942]:</strong>
   
        Первый "тест" проведён. Один заключённый приведён в радиус действия объекта. Он установил зрительный контакт, спустя 3 секунды "фигура" пришла в движение. Нападение произошло молниеносно. Жертва была сбита с ног и утянута в воду.

        Через 15 минут — на поверхности болота появился новый силуэт, идентичный внешне c убитым. Движения — нет. Учёные утверждают: это не человек, а "копия". Визуально — один в один.

    </p>

 <strong>[Запись №3 — 8.09.1942]:</strong>

    Существенная проблема: копии исчезают спустя неделю. Масса распадается, погружается в ил. Учёные в панике — объект "питается" телами. Было зафиксировано, что если жертва не упала в воду, имитации не формируются. Всё зависит от болотной среды.

    Доктор Вернер предложил перенести фрагмент объекта в стеклянную колбу — результат: даже капля ила размером с ноготь, при добавлении воды, сформировала миниатюрную "фигуру" человека. Регенерация пугает.


    </p>
    <p>
   <strong>[Запись №4 — 10.09.1942]:</strong>
    Ночное ЧП. Один из охранников заявил, что грязь перешла к входу в болото и убила трёх солдат.  Периметр укрепили, но объект, похоже, начал расползаться. Запасы воды в лагере теперь под охраной. Подтверждено заражение: одна проба показала аномальное биозаражение — вода мутнеет, двигается.
       
    </p>

 <strong>[ПОСЛЕДНЯЯ ЗАПИСЬ — 13.09.1942]:</strong>

    Если кто-то читает это — уходите.

    Это не оружие. Это паразит, разумный или нет — не важно. Он копирует нас, имитирует, смотрит через нас, он учится.

    Вся болотная зона — один организм. Всё, что мы сделали, только накормили его. Мы думали, он в клетке. Оказалось — мы в клетке.

    Да поможет вам Бог.
    — K. Rehmann

    <p class="section-title">Результат:</p>
    В Итоге  дождя объект-5 RU быстро захватил всё. Офицер закрылся в кладовке.Объект-5 Ru не смог зайти в кладовке ,но офицер умер от голода.ЗАМЕЧАНИЕ. Объект может ломать бетон и другие строительные материалы

    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/5" class="next-button">←объект-5 RU </a>


    </div>
</div>


<div class="footer-bar-second">
    Записи немецкого офицера
</div>

