@{
    Layout = "_LayoutAlt";
}

 @{

    ViewData["Title"] = "Разговор об объекте без нумерации";
}


<div class="main-anomaly">

   


        <div class="dialogue-block">
        <p style="text-align: center;"><strong></strong><br> </p>

        <p class="section-title">: <span style="color#b30000"></span></p>

        <p>
            <strong>Телефон звонит:</strong> 
        <p>
            <strong>Джордж Смилерс :</strong>
            Ало? Это советник-███ ,да?
        <p>
            <strong>Советник-███:</strong>
            Да,это  советник-███.Что вам нужно  Джордж Смилерс?
        <p>
            <strong>Джордж Смилерс:</strong>
           У меня вопрос про  то-что было в 2001 году 21 сентября 
        <p>
            <strong>Советник-███:</strong>
           МММ,Щас посмотрю архивы совета на эту дату.
        <p>
            <strong>Советник-███:</strong>
            "через 1 минуту и 28 секунд" Вы не имеете доступ к этой дате и последующих 3 дням. Откуда вы узнали про это?
        <p>
            <strong>Джордж Смилерс:</strong>
            Я заметил что в 2001-2002 годам было упомянуто про некую зону-██ в ████████ ███.Мне предложить  запись?
        <p>
            <strong>Советник-███:</strong>
            Молодцы что нашли,это показывает на что вы способный Джордж Смилерс.Предложите запись,пожалуйста
        <p>
            <strong>Джордж Смилерс:</strong>
            Выполняю
        <p>
            <strong>Запись:</strong>
            SOS,это зона  ██, просим помощи ,повторяю это зона-██. Код опасности красный!
        <p>
            <strong>Советник-███:</strong>
       Удивлён как вы нашли в архивов КЛАО удалённое сообщение
        <p>
            <strong>Джордж Смилерс:</strong>
         Удалёное? Всё же я наверно имею доступ к не полной информации?
        <p>
            <strong>Советник-███:</strong>
           Да,зона была уничтожена и за объекта
        <p>
            <strong>Джордж Смилерс:</strong>
            И кто это?
        <p>
            <strong>Советник-███:</strong>
            Кстати,. Только управляющий SIDSом может посмотреть полный документ.
        <p>
            <strong>Джордж Смилерс:</strong>
           Вы видели полный документ?
        <p>
            <strong>Советник-███:</strong>
            Я видел весь документ и ещё два высших учёных с 3 советниками.
        <p>
            <strong>Джордж Смилерс:</strong>
            Понятно
        <p>
            <strong>Советник-███:</strong>
           Давайте Джордж Смилерс по порядку.
        <p>
            <strong>Джордж Смилерс:</strong>
            Давайте советник-███
        <p>
            <strong>Советник-███:</strong>
            Я и другие советники имею  доступ только базовой информации про объект. Будем называть его объект без нумерации.
        <p>
            <strong>Джордж Смилерс:</strong>
            Сразу вопрос советник-███ . Почему без нумерации?
        <p>
            <strong>Советник-███:</strong>
          И за того что аномалия при любом упоминаний даже косвенным разозлится .Точное безопасное количества  знающих про объект неизвестно
        <p>
            <strong>Джордж Смилерс:</strong>
       Продолжайте.
        <p>
            <strong>Советник-███:</strong>
       Я увидел его локумент в 2001 году.В 2002 году мне приказали выпить амнезиак класса L.
        <p>
            <strong>Советник-███:</strong>
            Наверно вы поняли на что способен объект.




        <p>
  
            <strong>Советник-███:</strong>
            А теперь примените таблетку класса D ради безопасности вас и других.
        <p>
            <strong>Джордж Смилерс:</strong>
            Так точно советник-███. 
        <p> 
            <strong>Советник-███:</strong>
            Удачи с  аномалиями Джордж Смилерс
        <p> 
            <strong>Звонок положен:</strong>



    </div>



   

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/█" class="next-button">←Назад к объекту-████ WORLD </a>
        

    </div>
</div>



