@{
    Layout = "_LayoutAlt";
}

 @{

    ViewData["Title"] = "Разговор об объекте без нумерации";
}


<div class="main-anomaly">

   


        <div class="dialogue-block">
        <p style="text-align: center;"><strong></strong><br> </p>

        <p class="section-title">: <span style="color#b30000"></span></p>

        <p>
            <strong>Телефон звонит:</strong> 
        <p>
            <strong>Джордж Смилерс :</strong>
            Ало? Это советник-███ ,да?
        <p>
            <strong>Советник-███:</strong>
            Да,это  советник-███.Что вам нужно  Джордж Смилерс?
        <p>
            <strong>Джордж Смилерс:</strong>
           У меня вопрос про  то-что было в 2001 году 21 сентября 
        <p>
            <strong>Советник-███:</strong>
           МММ,Щас посмотрю архивы совета на эту дату.
        <p>
            "через 1 минуту и 28 секунд" Вы не имеете доступ к этой дате и последующих 3 дням. Откуда вы узнали про это?
        <p>
            <strong>Джордж Смилерс:</strong>
            Я заметил что в 2001-2002 годам было упомянуто про некую зону-██ в ████████ ███.Мне предложить  запись?
        <p>
            <strong>Советник-███:</strong>
            Молодцы что нашли,это показывает на что вы способный Джордж Смилерс.Предложите запись,пожалуйста
        <p>
            <strong>Джордж Смилерс:</strong>
            Выполняю
        <p>
            <strong>Запись:</strong>
            SOS,это зона  ██, просим помощи ,повторяю это зона-██. Код опасности красный!
        <p>
            <strong>Советник-███:</strong>
         Так....и что ? просто очередная зона,у нас таких много.

        <p>
            <strong>Джордж Смилерс:</strong>
            Проблема в том что это единственная запись про эту зону,больше нет никаких упоминаний про эту зону.
        <p>
            <strong>Советник-███:</strong>
            Это ...и за объекта класса смертельноопасно.
        <p>
            <strong>Джордж Смилерс:</strong>
            Ииии кто это?
        <p>
            <strong>Советник-███:</strong>
            Вы имеете доступ к не полной информации. Только управляющий SUDSом может посмотреть полную.
        <p>
            <strong>Джордж Смилерс:</strong>
            Вы тоже имеете не полную информацию:
        <p>
            <strong>Советник-███:</strong>
            Я видел весь документ и ещё два высших учёных с 3 советниками.
        <p>
            <strong>Джордж Смилерс:</strong>
            Так  вы же сказали что не имеете доступ?
        <p>
            <strong>Советник-███:</strong>
            Эх...давайте Джордж Смилерс по порядку.
        <p>
            <strong>Джордж Смилерс:</strong>
            Давайте советник-███
        <p>
            <strong>Советник-███:</strong>
            Я и другие советники имею  доступ только базовой информации про объект. Будем называть его объект без нумерации.
        <p>
            <strong>Джордж Смилерс:</strong>
            Сразу вопрос советник-███ . Почему без нумерации?
        <p>
            <strong>Советник-███:</strong>
            Что-ж....потому что Джордж Смилерс ,если бы бла нумерация объекта, то все знали что есть такой объект. Доступ имеет только управляющий.По регламенту обозначения классов объектов  не ту чисто для управляющего. Объект под высоким секретом. И ещё это...если была нумерация то нас уже завали вопросами про это.
        <p>
            <strong>Джордж Смилерс:</strong>
            Тупо...вы просто не можете изменить регламент?
        <p>
            <strong>Советник-███:</strong>
            Стоп! Я не успел ответить откуда я увидел документ.Я увидел его в 2001 году.В 2002 году мне приказали выпить амнезиак класса L.Объект без нумерации это что-то вроде меметического эффекта. Если много людей знают про объект то будет то что произошло с зоной-██.Коротко полное уничтожения.
        <p>
            <strong>Джордж Смилерс:</strong>
            Это работает его нумерация или упоминания?
        <p>
            <strong>Советник-███:</strong>
            Конечно,примените таблетку класса D
        <p>
            <strong>Джордж Смилерс:</strong>
            Ладно,удалите запись зоны-██.
        <p>
            <strong>Советник-███:</strong>
            Конечно,Джордж Смилерс
        <p>
            <strong>Звонок положен:</strong>



    </div>



   

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/█" class="next-button">←Назад к объекту-████ WORLD </a>
        

    </div>
</div>


<div class="footer-bar-second">
  Звонок
</div>


