@{
    ViewData["Title"] = "   Объект-████ WORLD —«Cилуэт конца»";
}
<div class="main-anomaly">
    <h2>Объект-████ WORLD —«Cилуэт конца»</h2>

    <div class="image-block">
        <img src="~/images/████.png" alt=Объект-████ WORLD>
        <p style="text-align: center;"><strong>Объект-████ WORLD </strong><br> Объект-████ WORLD Рядом с  башнями близнецами в США.</p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">СМЕРТЕЛЬНООПАСНО</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-████ WORLD — аномальная сущность, представляющая собой двумерную фигуру, визуально напоминающую нарисованного человека. Объект появляется спонтанно и существует вне законов трёхмерной геометрии — независимо от угла обзора, наблюдается как плоское изображение, будто встроенное в само пространство. При изменении освещения, положения наблюдателя и попытках записи — не теряет качества, но вызывает искажения в восприятии.
    <p
    <p>


    <p class="section-title">Особенности проявления:</p>
    Появляется только в радиусе 2 км от места, где в течение 72 часов произойдут массовые кровавые события (теракты, войны, катастрофы, ритуальные убийства и др.).
    <p>
    Видим только людьми с расстройствами восприятия (шизофрения, тяжёлое ПТСР, соматоформные психозы, иногда — дети).
    <p>
    При попытке приблизиться — исчезает мгновенно.
    <p>
    Находит "наблюдателя" сам. После контакта — никогда не появляется снова (в этом теле).
    <p>
    Обладает меметическим переносом — даже простое изображение вызывает реакции.







    




    </p>

    <p class="section-title">Меметический эффект:</p>
    <p>
        Наблюдение (даже через цифровые средства) вызывает в 68% случаев:

        ощущение "наблюдаемости";

        появление чёрной фигуры во снах (особенно в зеркалах, водных поверхностях, стекле);

        прогрессирующую утрату ориентации во времени;

        появление ощущения предопределённой гибели ("он уже видел твою смерть").

        Передача визуального образа — доказана.
        Даже несовершенные попытки зарисовать/описать Объект вызывают появление его теневого отпечатка у автора в течение 3 суток.

        Все зафиксированные случаи контакта с оригинальной визуализацией (до её удаления Объектом-990US) заканчивались:
        суицидом,

        внезапной смертью от сердечного коллапса,

        или исчезновением субъекта со следующей массовой трагедией.

        (В конце света объект может уничтожить всех если он захочет с помощью захвата разума)




    </p>

    <p class="section-title">События 2022 года: (СОБЫТИЕ КОНЦА СВЕТА):</p>
    <p>
        Запись из архива SIDS зоны 79 (Россия,Камчатка), перед самоуничтожением
        «Фигуры начали двигаться.
        Они появились там, где ещё ничего не случилось.
        Мы думали, они предупреждали...
        Они писали сценарий.
        Они больше не наблюдают. Они решают.
        Все войны, все взрывы, все катастрофы — это их подпись.»



    

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
       Невозможно
    <p>
        <a href="/Anomalies/razgovorcobenfathvcvbhktc">Доп. инфа</a>
    </p>
    
        <p>
        

        <div class="highlight">
            УРОВЕНЬ ДОСТУПА: Доступ только  управляющему 
        </div>

        <div class="nav-buttons">
            <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
            <a href="/Anomalies/1" class="next-button">←объект-1 RU </a>


        </div>
</div>

<div class="footer-bar">
    Объект-████ WORLD —«Cилуэт конца»
</div>
