@{
    ViewData["Title"] = "   Объект-████ WORLD —«Cилуэт конца»";
}
<div class="main-anomaly">
    <h2>Объект-████ WORLD —«Cилуэт конца» ВНИМАНИЕ :СТРАНИЦА СЛОМАННА РАДИ БЕЗОПАСНОСТИ ПО ПРИКАЗУ СОВЕТА ДИРЕКТОРОВ SIDS</h2>

    <div class="image-block">
        <img src="~/images/██.png" alt=Объект-████ WORLD>
        <p style="text-align: center;"><strong>Объект-████ WORLD </strong><br> Объект-████ WORLD Рядом с  башнями близнецами в США</p>
    </div>

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНО</span></p>
    <p>
        <strong>Способности:</strong>
        Объект-████ WORLD существо которое предуприждает  самые кроравыве события в каждом году.Он не опасен . Появляется только у тех которых шизофрения и только там где событие ближе всего.Если субъект приблизится то объект будет пропадать.У Объекта-████ WORLD тектсура такая что человеку кажется что он нарисован. Стоит он всегда как на картинке.Меметический эфект маловероятный,но для безопасности фотка спомощью объект-990 US cкрыта(Объект-990 US работает так. Надо сфоткать человека и начать видеозапись ,потом навести на то место где человек щас что то видет)
    <p
    <p>


    <p class="section-title">Описание:</p>
    Объект-████ WORLD выглядит как высокое чёрное существо (Примерно 6 м)Ноги,руки толстые.Туловище не большое,примерно как мньше половины ноги.Шея мелкая.
    <p>
      



    </p>

    <p class="section-title">Происхождение:</p>
    <p>
       Возможно это один из  умерших сектант "лунных детей"

    </p>

    <p class="section-title">Обнаружение:</p>
    <p>
        обнаружения было 1999 году при ███████ ███████

    </p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Незачем 


    </p>

    <p>
        <a href="/Anomalies/█"> Взломанный устоновлённый документ</a>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <div class="nav-buttons">
        <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
        <a href="/Anomalies/1" class="next-button">←объект-1 RU </a>
     

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bar">
    Объект-████ WORLD —«Cилуэт конца»
</div>
