@{
	ViewData["Title"] = "Оперативные группы";
}

<div class="main-list">
	<h2>Список оперативных групп</h2>


	<a class="anomaly-item" href="Groups/Task_Force_Claw">

		<strong>Оперативнные группы коготь</strong>(Был улучшен ИИ)
	</a>

	<a class="anomaly-item" href="Groups/Hellhounds">

		<strong>Адские гончии</strong>(Был улучшен ИИ)
	</a>


</div>
