@{
    ViewData["Title"] = "   Hellhounds";
}
<div class="main-anomaly">
    <h2> Адская гончия</h2>


    <div class="image-block">
      
    </div>

    

    <p class="section-title">Статус: <span style="color:#b30000">АКТИВНО-СЕКРЕТНО</span></p>
    <p>
        <strong>Общее описание:</strong>

        Оперативная группа «Адская Гончия» — это строго засекреченное подразделение SIDS, предназначенное для выполнения грязной работы, которую официальные структуры фонда не могут себе позволить. Считается «невидимой рукой» организации, действующей вне протоколов, вне морали и зачастую — вне закона.

        В задачи группы входит:
    <p>
        Устранение персон, ставших помехой работе SIDS (включая учёных, агентов, политиков, свидетелей и перебежчиков);
    <p>
        Диверсии и подрывные действия против правительств, организаций и структур, чья деятельность потенциально угрожает секретности или интересам SIDS;
    <p>
        Подмога при осадах зон
    <p>
        Поддержание страха и дезинформации в общественном или враждебном инфополе.


    </p>




    <p class="section-title">Организация и состав:</p> 

    О точном количестве бойцов в составе «Адской Гончии» данных нет. Предположительно, от 9 до 12 основных операторов, разбитых на ячейки по 2–3 человека. Существуют неподтверждённые сведения о наличии отдельных «спящих агентов», внедрённых в государственные структуры по всему миру.

    Каждый оператор обучен методам:

    Контртеррористической войны

    Психологических операций

    Тактической нейтрализации аномалий

    Чистки следов на месте инцидента
    <p>
        Официально не существует ни одного публичного упоминания о группе в открытых или засекреченных отчётах. Все действия проходят под легендами несвязанных аварий, самоубийств, стихийных бедствий и террористических актов.

    </p>

    <p class="section-title">Тактика и методы:</p>
    <p>
    Устранение свидетелей на месте без подтверждения личности

    Манипуляция цифровыми следами и записью с камер

    Проведение операций под чужими флагами

    Полное уничтожение тел, записей, следов пребывания
    <p class="section-title">Отношение SIDS:</p>
    Руководство SIDS официально отрицает существование оперативной группы «Адская Гончия». Внутри структуры она обозначается как «Рекурсивная Контрольная Группа R-0» — термин, не имеющий смысла вне закрытых каналов связи.

    Большинство сотрудников SIDS не знает об их существовании. Те, кто сталкивался с ними, либо исчезали, либо переводились в другие зоны с полной потерей доступа.



    <p class="section-title">появление:</p>
    <p>
        Первая оперативная группа коготь появилась 1945 года при конференции Ялтинская конференция.Она охраняла президентов
    </p>


    <p>

    </p>

    <div class="highlight">
        Уровень опасности: ВЫСШАЯ
    </div>

    <div class="nav-buttons">
        <a href="/Groups" class="back-button">← Назад к списку оперативных группы</a>
        <a href="/Groups/Task_Force_Claw" class="next-button">←Опер.Группа коготь </a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bar">
    Hellhounds
</div>  
