@{
    ViewData["Title"] = "    Task Force Claw";
}
<div class="main-anomaly">
    <h2> Task Force Claw</h2>


    <div class="image-block">
        <img src="~/images/ceruy.png" alt=ceruy>
        <p style="text-align: center;"><strong>Солдат когтья  </strong><br>Примерный вид солдата группы коготь </p>
    </div>

    <div class="image-block">
        
    </div>

    <p class="section-title">Статус <span style="color:#b30000">АКТВНО</span></p>
    <p>
        <strong>Общее описание:</strong>   Оперативные группы типа «Коготь» (далее — группы «Коготь» или MTF-C) представляют собой особое подразделение быстрого реагирования, действующее в рамках глобальной аномальной юрисдикции. Они специализируются на:

        Захвате, нейтрализации и транспортировке аномальных объектов;

        Подавлении и локализации инцидентов нарушения условий содержания (NUS — Нарушение Условий Содержания) в зонах любого уровня;

        Работе в нестабильных, слабо контролируемых или враждебных к присутствию спецструктур странах;

        Экстренном реагировании в условиях отсутствия локальных оперативных единиц.

        Все бойцы групп «Коготь» проходят обязательную процедуру нейромеметической изоляции перед и после каждой операции.

        Использование групп в гражданской среде требует одобрения Глобального командования или директора региональной зоны.






    </p>




    <p class="section-title">Обычный состав:</p> Состав и подготовка:
    Каждая группа «Коготь» состоит из:

    6–12 бойцов, прошедших подготовку по борьбе с аномалиями, психологической устойчивости, работе в заражённых/психоактивных/меметических зонах;

    1–2 специалистов по захвату и содержанию (владение оборудованием: сдерживающие капсулы, термоконтейнеры, полиморфные ловушки);

    При необходимости — сопровождающий научный сотрудник для полевой идентификации объекта.

    Снаряжение:
    Стандартное вооружение включает в себя:

    Адаптивную защиту (антиаэрозольные, меметически-изолированные шлемы);

    Полевые пылесосные системы (используются, например, для захвата типа 4579-EG);

    Тактические ингибиторы, светошумовые подавители, огнеупорные капсулы.

    Но не забывай что есть и разные виды. Танковые группы,самолётные группы


    <p>


    </p>

    <p class="section-title">задача:</p>  
    <p>.</p> Статус и доверие:
    Группы «Коготь» обладают расширенными полномочиями и высоким уровнем допуска (4 и выше). Их присутствие в зоне инцидента означает, что событие рассматривается как угрожающее на глобальном или трансъюнкциональном уровне.

    <p class="section-title">появление:</p> 
    <p>
        Первая оперативная группа коготь появилась 1945 года при конференции Ялтинская конференция.Она охраняла президентов
    </p>

   
    <p>

    </p>

    <div class="highlight">
       Уровень опасности: ВЫСШАЯ
    </div>

    <div class="nav-buttons">
        <a href="/Groups" class="back-button">← Назад к списку оперативных группы</a>
        
        <a href="/Groups/Hellhounds" class="next-button">Адская Гончия→</a>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bar">
    Task Force Claw
</div>  