@{
    ViewData["Title"] = "Организация SIDS";
}

<main>
    <h2>Добро пожаловать в базу данных организации SIDS</h2>
    <p>Выберите раздел из меню выше для просмотра информации об аномалиях, зонах, оперативных группах и других деталях.</p>
                                                       <p>ВНИМАНИЕ</p>
    <p>Этот сайт был сделан "Расколотой волей" которая расшировала секретные данные организации "SIDS". Сайт  предназначен для известий опер.групп расколотой воли и для работ учёных </p>
</main>


<div class="main-anomaly">
    <h2>Список статьей</h2>

    <div class="image-block">
  

    </div>
    <p class="section-title">Статьи:</p>
    <p>
        Статьи:31



    </p>

   

       
    <p class="section-title">Аномалии:</p>
    Аномалии: 23
    <p>

     Малоопасных:10

    <p>
    Опасных:8
    <p>
    Смертельноопасно:5
    <p>
    Нейтрализовано:1


    <p>
     


    </p>

    <p class="section-title">Список зон:</p>
    <p>
       Зон:1
    <p>
       Малые зоны:0
    <p>
       Средние зоны:0
    <p>
       Гигазоны:1
    <p>


    </p>

    <p class="section-title">Список опер.групп:</p>
    Опер.групп: 2
    <p>
    Региональные опер.группы:0
    <p>
    Всемирные опер группы:2
    <p>
     
    </p>

    <p class="section-title">Список допл инф:</p>
    
    <p>
        
        Допл инф:2

    </p>
    <p class="section-title">Технологии SIDS:</p>
    Технологии SIDS:1
    <p class="section-title">Организации:</p>
    Организации:2
    <p>
    Вражеские:1
    <p>
    Дружелюбные:1
    <p>
    Государственные:2

</div>