@{
    ViewData["Title"] = "Организация SIDS";
}

<main>
    <h2>Добро пожаловать в базу данных организации SIDS</h2>
    <p>Выберите раздел из меню выше для просмотра информации об аномалиях, зонах, оперативных группах и других деталях.</p>
</main>
