@{
    ViewData["Title"] = "Организация SIDS";
}

<main>
    <h2>Добро пожаловать в базу данных организации SIDS</h2>
    <p>Выберите раздел из меню выше для просмотра информации об аномалиях, зонах, оперативных группах и других деталях.</p>
                                                       <p>ВНИМАНИЕ</p>
    <p>Этот сайт был сделан "Расколотой волей" которая расшировала секретные данные организации "SIDS". Сайт  предназначен для известий опер.групп расколотой воли и для работ учёных </p>
</main>


<div class="main-anomaly">
    <h2>Список статьей</h2>

    <div class="image-block">
  

    </div>
    <p class="section-title">Статьи:</p>
    <p>
        Статьи:22



    </p>

   

       
    <p class="section-title">Аномалии:</p>
    Аномалии: 19
    <p>

     Малоопасных:9

    <p>
    Опасных:7
    <p>
    Смертельноопасно:4
    <p>
    Нейтрализовано:1


    <p>
     


    </p>

    <p class="section-title">Список зон:</p>
    <p>
       Зон:1
    <p>
       Малые зоны:0
    <p>
       Средние зоны:0
    <p>
       Гигазоны:1
    <p>


    </p>

    <p class="section-title">Список опер.групп:</p>
    Опер.групп: 1
    <p>
    Региональные опер.группы:0
    <p>
    Всемирные опер группы:1
    <p>
     
    </p>

    <p class="section-title">Список допл инф:</p>
    
    <p>
        
        Допл инф:0

    </p>
    <p class="section-title">Технологии SIDS:</p>
    Технологии SIDS:0
    <p class="section-title">Организации:</p>
    Организации:0
    <p>
    Вражеские:0
    <p>
    Дружелюбные:0
    <p>
    Государственные:0

</div>