<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.css?v=20">
    <link rel="icon" type="image/x-icon" href="~/images/SIDS.png">
</head>
<body>
    <header>
        <img src="~/images/SIDS.png" alt="Логотип SIDS">
        <div>
            <h1>
                SECURE. INVESTIGATE. DELAY. SAVE.
            </h1>
            <h1>
                Мы видим то-что вам не суждено
            </h1>
            <p>
                ~Джордж Смилерс ,гл.КЛАО
            </p>
        </div>
    </header>

    <nav>
        <a href="/Anomalies">Аномалии</a>
        <a href="/Zones">Зоны</a>
        <a href="/Groups">Оперативные группы</a>
        <a href="/AddInfo">Доп.инфа</a>
        <a href="/Technologies">Технологии SIDS</a>
        <a href="/Organizations">Организации</a>
    </nav>

    <div class="main-content">
        @RenderBody()
    </div>

    <footer>
        © 2025 Организация SIDS. Все права защищены.
    </footer>
</body>
</html>
