@{
    ViewData["Title"] = "Хаб сайта SIDS";
}




<div class="main-content">

    <main>
        <h2>Добро пожаловать в базу данных организации SIDS</h2>
        <p>Выберите раздел из меню выше для просмотра информации об аномалиях, зонах, оперативных группах и других деталях.</p>
        <p>ВНИМАНИЕ</p>
        <p>При попытке взлома сайта  или рассекречивания сайта предназначена учесть в перевод к испытуемым или растрел наместе </p>
    </main>


    <div class="main-anomaly">

       
        <div class="image-block2">
            <img src="~/images/cartatttt3.png" alt="">   
            <p style="text-align: center;"><strong> </strong><br>Карта размещения  учреждений SIDS </p>

        </div>
         

        <main>
        <h2>Нововедения</h2>
        </main>

        <!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Статьи и Изменения сайта</title>
            <style>
  
            
              
            </style>
        </head>
        <body>

            <div class="container">
                <div class="column">
                    <h5>Статьи</h5>
                    <div class="content">
                        <p>Изменённые:</p>
                        <p>
                             Хаб SIDS
                        </p>
                        <p>
                           ОБЪЕКТ-11 RU (Убран баг про переход на предыдущую статью)
                        </p>
                        <p>
                            Доделана статья "Военная структура SIDS"
                        </p>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="column">
                    <h5>Изменения сайта</h5>
                    <div class="content">
                        <p>
                            Удалено вкладка технологии
                        </p>
                        <p>
                            зменён стиль сайта
                        </p>
                    </div>
                </div>
            </div>

        </body>
    </html>


    </div>
</div>


