@{
	ViewData["Title"] = "Доп.инф";
}

<div class="main-list">
	<h2>Список доп.инфа</h2>
	

	<a class="anomaly-item" href="AddInfo/Phenomenon_not_significant_anomalies">

		<strong>Феномен не знатительных аномалии </strong>(Был улучшен ИИ)
	</a>

	<a class="anomaly-item" href="AddInfo/Siege_of_Zone_111">

		<strong>Осада зоны-111 </strong>(Был улучшен ИИ)
	</a>

	<a class="anomaly-item" href="AddInfo/KLAO">

		<strong>КЛАО </strong>
	</a>

	<a class="anomaly-item" href="AddInfo/Rankingsystem">

		<strong>Система рангов </strong>
	</a>


	<a class="anomaly-item" href="AddInfo/armiasids">

		<strong>Военная структура SIDS </strong>
	</a>

</div>