@{
	ViewData["Title"] = "Доп.инфа";
}

<div class="main-list">
	<h2>Доп.инфа</h2>

	<div class="anomaly-grid">


		<a class="anomaly-card" href="AddInfo/Phenomenon_not_significant_anomalies">

			<div class="anomaly-info">
				<strong>Феномен не знатительных аномалии </strong>

			</div>
		</a>


		<a class="anomaly-card" href="AddInfo/AI_Vanguard">

		<div class="anomaly-info">
			<strong>AI "Vanguard</strong>

		</div>
	</a>

		<a class="anomaly-card" href="AddInfo/KLAO">

			<div class="anomaly-info">
				<strong>КЛАО </strong>

			</div>
		</a>

		<a class="anomaly-card" href="AddInfo/Rankingsystem">

			<div class="anomaly-info">
				<strong>Система рангов </strong>

			</div>
		</a>

		<a class="anomaly-card" href="AddInfo/armiasids">

			<div class="anomaly-info">
				<strong>Военная структура SIDS </strong>

			</div>
		</a>



	