
@{

    ViewData["Title"] = "Военная структура SIDS";

}
<div class="main-anomaly">

    <h2> Военная структура SIDS</h2>





    <p>

        <strong>Вооружение:</strong>

        Звание в армии SIDS состоят из Американского типа,но для региональных отрядов это не  обезательно.

        Вооружение состоит  у основной армии SIDS из новейшого вооружения.  В исклучениях  иногда используется старые виды вооружения,потипу АК-74 у  отряд Африки и у отрядов  у пехоты которые состоят в программе ПА (подпольные армии).

    <p>

        У SIDS имеется разные воиска.

    <p>

        <strong>Сухопутные войска:</strong> (Пехота (мотострелки, механизированная пехота ,танковые войска ,артиллерия (буксируемая, самоходная, реактивная) разведка,инженерные войска,ракетные войска (ОТРК, ПВО сухопутных войск) спецназ сухопутных войск,десантные части арми)

    <p>

        <strong>ВВС:</strong>  ( Истребительной авиации ,бомбардировочной авиации ,штурмовой авиации,разведывательной авиации,транспортной авиации,армейской авиации (вертолёты).

    <p>

        <strong>ВМС:</strong>  (Надводный флот (разрушители, фрегаты, корветы),подводный флот (ПЛАРБ, ПЛАТ, дизельные лодки),морская авиация,морская пехота,береговые войска и артиллерия

    <p>

        <strong>ВДВ:</strong>  (десантно-штурмовые бригады ,парашютно-десантные полки ,спецподразделения ВДВ)

    <p>

        <strong>РВСН:</strong> (шахтные комплексы,мобильные ракетные комплексы) . У SIDS мало РВСН на вооружении.  В откртых данных SIDS их около 10 единиц.

    <p>

        <strong>Кибервойска или войска информационных операци:</strong>   (Киберзащита,электронная борьба (РЭБ),радиотехническая разведка). Они  занимаются за зачисткой в интернете за аномалиями.Также некоторые специалисты состоят в отделе изучений SIDS.

    <p>

        <strong>МОО:</strong>

        Также у SIDS имеется МОО(МОБИЛЬНЫЕ ОТРЯДЫ ОХРАНЫ).Они используются как охрана для учреждений SIDS. Они имею тяжёлую тенхику, мотострелковые и т.д.











    <p>

        <strong>Региональные воиска:</strong> Региональные воиска: Региональные войско занимаются работой только в определённых для них местах. Например, Афинские войны занимающая места:Российская Федерация, Украина,беларусь, Литва,Эстония, Литвия, восточная чать польши, Чехия,Словакия, Венгрия,Румыния, Болгария,Сербия, Черногория,Босния и Герцеговина, Северная Македония.

    <p>Сеточные шотландцы: Германия, Бельгия,Нидерланды, Люксембург,Швейцария, Австрия,Лихтенштейн, Монако,Ирландия, Великобритания.



    <p>

        Адам Патейан:Ирак, Сирию, Иран, Израиль, Саудовскую Аравию,Казахстан, Узбекистан, Туркменистан, Таджикистан, Киргизия

    <p>

        Часто региональные отряды используют оборудование своей страны где она находится. В случаях если из другой страны надо срочно выдвинуться в другую страну, то в не которых случая они используют оборудование из первоначальной страны. Региональным войскам запрещено нести нашивки SIDS и другие обозначения созывающая с SIDS.



    <p>

        <strong>Всемирные воиска:</strong>

        Всемирные войско: Всемирные воиска занимаются работой по всему миру. В составе всемирных войск SIDS состоят КОГОТЬ, АДСКИЕ ГОНЧИИ, СЛИЗНИ,ДОБИВАЛЬЩИКИ, НЕБЕСНЫЕ СТРАЖЫ.Им разрешено надевать нашивки SIDS, но и икслючителльно с разрешением высшее званием в исключениях ниже старшего сержанта

    </p>





    <p>

        <main>



            <h2>Корпус:Коготь</h2>

        </main>

    </p>



    <div class="image-block">

        <img src="~/images/Imblema cogot2.png" alt=Коготь>

        <p style="text-align: center;">  </p>

    </div>



    <p>

        Коготь: Первоначально это была общее обозначение всех солдат ОРЗС до 1945 года. Задача у когтя было то же, что и в наше время. Во времена ОРЗС коготь занимался легальной деятельностью в приделах СССР и нелегальной в (ДАННЫЕ УДАЛЕНЫ).

     
        Обычно экипировка отрядов когтя одета под страны или под местность.Экипировка некоторых отрядов коготь была сделана в серый цвет.Их название было Тета, а их количество 20 отрядов (200-228ЧЕЛ). Некоторые отряды были в пятнистый серый-серочёрный цвет.Их назвали Пятен-тета Около 14 отрядов (130-150ЧЕЛ). Были отряды расположенный в районах Франции, Германии, Бельгии, Италии. Основной цвет был чёрный. Справа или на шлемах были оранжевый повязки. Разрешено использовать черепа на головном уборе(2400-2800ЧЕЛ).Их назвали ганторы. Есть спец-отряды у границ Расколотой Воли . Они не отличаются не чем ,кроме более лучше оборудование(6000-8000ЧЕЛ). В общей сумме около 40 000 чел.

    </p>

    <p>

        Для вступления в корпус коготь нужный выполенены эти требования. Иметь службу в армии начиная с 2 лет. Хорошую психическую и физическую подготовку. Уметь сопротивляться когнитивным эффектам. Знать хорошо как минимум 3 языка (обязательный английский и если вы находитесь на востоке, юго-востоке,северо-востоке должный знать Китайский язык). Иметь хорошую репутацию.



    </p>

    <p>

        Отряды выступающие в захвате аномалий

    <p>

        Коготь 43-<a href="/Anomalies/8">Объект-8 TR</a>. — «Второе солнце»

    </p>

    Коготь-977-элита ганторы-<a href="/Anomalies/13">Объект-13 TR</a> -«Хрущёвка-отель»,  Коготь-237,коготь-125-патрулирует местоность.

    </p>



    <p>

        Коготь-892-<a href="/Anomalies/15">Объект-15 EG</a>—«Сублизуб»

    </p>

    Коготь-50-<a href="/Anomalies/533">Объект-533 BR</a>-«BODI»

    <p>

        Коготь-891-Уничтожен,<a href="/Anomalies/13">Объект-895 IN</a>-«Адский камень»

    </p>

    Коготь-56,43,23,77-элита-<a href="/Anomalies/1917">Объект-1917 RU</a>-«Эхо войны»

    <p>

        Коготь-29-<a href="/Anomalies/2941">Объект-2941 ES</a> — «Со вкусом боли»

    </p>



    <p>

        <main>



            <h2>Корпус:Адские гончий</h2>

        </main>

    </p>



    <div class="image-block">

        <img src="~/images/Imblema adgon.png" alt=Гончий>

        <p style="text-align: center;">  </p>

    </div>

    <p>

        Адские гончий изначально были как телохранители до 17.06.1953 года. Первое их появление было на тегеранской конференции 28 ноября — 1 декабря 1943 г.Также они были на ялтинской конференции   4—11 февраля 1945. 17 июня 1953 во восточной Германии началась крупнейшая забастовка народа. Тогда адские гончий и за того что советские танки задавили агента 4-доступа . Тогда 2 танка Т-34-85 перепутали их как вооружённых бунтовщиков и командиры танков начала залпы по сотрудникам. Солдаты начали ответный огонь. На выстрелы пришли советские солдаты которые получили потери при атаке на солдат. Только один выживший солдат адских гончий сдался солдатам СССР.

    <p>

        SIDS с помощью (ДАННЫЕ УДАЛЕНЫ) смогла зачистить всё что связанно с адскими гончиями. В политики СССР в те года не доверяли организации. И за этого советники приняли такое решение

    </p>

    <p>



        В 03.10.1958 году, советники запросили у министерства обороны SIDS специальные подозрения для проведений операций в точках военных действиях. Советники решили возвратить адских гончий, но уже как элитных ,мощных солдат. В наше время адские гончий выполняли не только особо опасные миссии, но и защита кого-то или чего-то.На момент 2025 года многие отряды адских гончий  расположены на границах расколтой воли

    </p>

    <p>

        Обычно, отряды одеваются по погоде и по странам где они находиться. Около 3.000 чел работают в камуфляжах с красными ставками  с разными цветами часто в двух танах. Примерное количество бойцов около 5000 чел.









    </p>



    <p>

        <main>



                <h2>Корпус:Афинкские войны</h2>

        </main>

    </p>






        <div class="image-block">

        <img src="~/images/Imblema olivik.png" alt=оливки>

            <p style="text-align: center;">  </p>

        </div>




    <p>

        Афинские войны:В 03.10.1958 г. советники отправили приказ министерству обороны SIDS создать региональный корпус. В итоге был создан корпус афинские войны. ██████1960 году в городе Воронеж был основа штаб Афинских войнов и одновременно были сделаны 10 отрядов афинских войнов.К 19.03.1989 году афинские войны достилшли до 7 000 чел. В наше время их численость отчилсяется коло  29.349 чел.У афинских войнов нету общего одеяния. Все отряды испольщуют разный камуфляж  и оборудования ,и за своего большого финансирования со стороны SIDS. Для SIDS корпус афинских войнов  важен и за того что,он находится  рядом со границами расколотой воли .Афинские войны защищают и зону-79 от атак расколотой воли.Афинские войны часто атакуют  расколотую волю.    </p>
    </p>

    <p>
        Что бы вступить в корпус афинких войнов  нужно иметь службу в армии начиная с 2 лет. Хорошую психическую и физическую подготовку. Уметь сопротивляться когнитивным эффектам. Знать хорошо как минимум 3 языка(английский обезательно,для  штурмовиков в районе юга-востока знать китайский язык Иметь хорошую репутацию.
    </p>


    <p>

        <main>



            <h2>Корпус:Сеточные шотландцы</h2>

        </main>

    </p>



    <div class="image-block">

        <img src="~/images/imblema cetocnix.png" alt=шотландцы>

        <p style="text-align: center;">  </p>

    </div>



    <p>

        Сеточные шотландцы:  03.10.1958 г. советники отправили приказ министерству обороны SIDS создать региональный корпус в районах западной европы.Первое их появления было в 09.10.1959 году в городе(ДАННЫЕ УДАЛЕНЫ) в Шотландии.В 06.02.1994 году  ██████████████ вместе с взоводом-42. Ровно 06:30 утра взвод-42 с  ██████████████ начала диверсию в зоне-40 . И за диверсии по неизвестныи причинам в зоне-40 вырвался объект (ДАННЫЕ УДАЛЕНЫ). В 8:50 прилетела на вертолётную площадку А взвод-53 которые попытался сдержать аномалию ,но не смог. В 9:45 на вертолётную площадку А был приземлён взвод-35 и взвод-41.В итоге взовд-42 и  ██████████████ были ликвидированы аномалией. Аномалия была  снова задержана и переведена в зону-111 в тяжёлый отсек зажержания
    </p>

















































        <div class="highlight">

            УРОВЕНЬ ДОСТУПА: 2

        </div>

        <div class="nav-buttons">

            <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>

            <a href="/Anomalies/10" class="next-button">←объект- 10 RU </a>

            <a href="/Anomalies/12" class="next-button">объект-12 RU →</a>





        </div>

</div>


