

@{
    ViewData["Title"] = "КЛАО";
}

<div class="main-anomaly">
    <h2>КЛАО</h2>

    <p>
        <strong>описание:</strong>
        КЛАО - Комитет Ликвидации и Анализа Объектов.Комитет действует как первый отдел по решениям.Если запрос был не опасный или было запрещено не много припасов то запрос пройдёт только в КЛАО и к советникам обращается не надо.При опасном или много затратном запросе КЛАО передаёт советникам после чего идёт  по составления голосов решения принимаются.КЛАО имеет свои группы учёных которые по запросам вышки КЛАО может делать эксперименты.

    <p>
        <strong> происхождения:</strong>
        Происхождение произошло в 1967 году на базе исследовательской базы зоны-79 страны в составе деятельности SIDS,глава SIDS,главы главных зон 111,222,79 и 5 агентов .Вы итоге   сделали КЛАО и поставили  на главную должность поставили Фабриса Лепажа(в 1978 году он оказался предателем и был уничтожен при эксперимента с объектом-██ SE).
    <p>
        На данный момент на главной должности КЛАО поставлен Джордж Смилерс(Родился в США,38 лет,химик,биолог,политик)
    <p>
        КЛАО имеет  мелкие отряды вооружённых сил под названием ФА-1 до ФА-10.КЛАО имеет людей для своих исследованиях без соглашения советников .По приказу главного по КЛАО доктора могут приехать в зону и начать свои следования с дополнительными уполномоченными
    <p>
        Оперативные группы ФА это хорошо вооружённые бойцы с большим опытом военных действиях. Часто в них вступают наёмники.Их обычный камуфляж в основном чёрных танах с чёрно-жёлтым цветом.ФА-1,ФА-2,ФА-3,ФА-4 это  оперативные группы для сопровождения состава КЛАО.ФА-5,ФА-6,ФА-7 это  оперативные группы состоящих из 7 бойцов для химической опасности.ФА-8,ФА-9,ФА-10 это спец оперативные группы с самыми лучшими видами вооружением в SIDS.Предназначены эти спец оперативные группы для освобождения лиц из КЛАО.
    <p>
        У КЛАО нету  тяжёлой и вооружённое воздушной техники,только бтр и машины.
    <p>
   

        <div class="highlight">
            УРОВЕНЬ ДОСТУПА: 1
        </div>


        <div class="nav-buttons">
            <a href="/AddInfo" class="back-button">← Назад к списку доп.инф</a>

          
            <a href="/AddInfo/AI_Vanguard" class="next-button">←AI Vanguard</a>
            <a href="/AddInfo/Rankingsystem" class="next-button">Система рангов→</a>

        </div>
        
</div>
