@{
    ViewData["Title"] = "Система рангов";
}

<div class="main-anomaly">
    <h2>Система рангов</h2>


    <p>
        <strong></strong>
        Карты доступа через  QR-код по приказу директоров зон могут разрешать доступ к  определённым дверям.Чаще всего это используют для того что бы доктора могли заходить в помещения 
        <strong>Потеря карты </strong>
        При потере карты  вам нужно обратится к  директору зоны или его помощникам и вам выдадут карту




    <p>
        <strong>Виды карт(не все виды и виды работ) </strong>
    <p>
        <strong>Доступ доступных карт</strong>
    <p>
        <strong>Расходник:</strong> Уровень карты Р(Имеет доступ исключительно  к отведённых для этого мест(Столовая,туалет и другие необходимые помещения для жизнедеятельности))
    <p>
        <strong> Уборщик и повар:</strong> Уровень карты УП(Имеет доступ исключительно к отведённых для этого мест для выполнения работы и необходимых помещения для жизнедеятельности )

    <p>
        <strong> Технический отдел и  строительный отдел:</strong> Уровень карты Т(Имеет доступ исключительно к отведённых для этого мест для выполнения.Людям из Техничесокого отдела можно входить без проверки в тунели обслуживания и другие технические помещения. Имеет доступ к необходимых помещений для жизнедеятельности)
    <p>
        <strong>Медицинский отдел: </strong>  Уровень карты М,М2 и М3. М Имеет доступ к медицинским помещениям и имеет доступ к необходимых помещений для жизнедеятельности . М2 имеет доступ к расширенным архивам и повышенной должности.М3 имеет доступ ко всем медицинским архивам кроме совершено секретным и доступ ко всем экспериментам в учереждении)
    <p>
        <strong>Научный отдел: </strong> Уровень карты зависит от звания(Ассистент,управляющий экспериментом,руководитель экспериментов минизон,руководитель экспериментов зон,доктор КЛАО) У докторов есть 5 видов карт.Тем выше цифра ,тем выше доступ.

    <p>
        <strong> Армия SIDS:</strong> Уровень карты  зависит от звания(Рядовой,ефрейтор,младший сержант,сержант,старший сержант,старшина,прапорщик,старший прапорщик,младший лейтенант,лейтенант,старший лейтенант,майор,подполковник,полковник,генерал майор,генерал лейтенант,генерал полковник,генерал армии,маршал армии SIDS.)Силы SIDS не имеет доступ к аномалиям.


        <div class="highlight">
            УРОВЕНЬ ДОСТУПА: 0
        </div>


        <div class="nav-buttons">
            <a href="/AddInfo" class="back-button">← Назад к списку доп.инф</a>

            <a href="/AddInfo/KLAO" class="next-button">←КЛАО </a>
            <a href="/AddInfo/armiasids" class="next-button">  Военная структура SIDS   →  </a>


        </div>
</div>




