@{
    ViewData["Title"] = "Осада зоны-111";
}

<div class="main-anomaly">
    <h2>Осада зоны-111</h2>

   

    
    <p>
        <strong>Оперативный отчёт: Осада Зоны-111</strong>
    <p>
        Дата инцидента: ██.██.2023
    <p>
        Время начала: 04:13 (UTC+0)
    <p>
        Время завершения: 21:57 (UTC+0)
    <p>
        Продолжительность: ~18 часов
    <p>
        Классификация: Крупно масштабное военное столкновение
    <p>
        Статус зоны после окончания  столкновения: Условно стабилизирован. 45% инфраструктуры повреждено. Потери тяжёлые.
    <p>
        Статус зоны на сегодняший день:  Стабилизирован. 
    </p>




    <p class="section-title">Атакующая сторона:</p>
    <p>
        Наименование: Расколотая Воля
        Поддержка: Подтверждённые поставки вооружений, БПЛА ,техники и шифрованной логистики со стороны военных структур Китая и Индии возможно и РФ
    <p>
        Структура ударного ядра:

        2 бронегруппы (легкая техника)

        5 мобильных групп вторжения (до 80 человек каждая)

        8 БПЛА класса MALE с ударными модулями

        Радиоэлектронные средства подавления (глушение внешней связи и подавление дронов SIDS)

        Биологический модуль (использование аномального газа в тоннелях метро — не подтверждено)

        4 ZTZ96 (основные боевые танки)

        1 Т-80У(Командирский боевой танк)

        3 ZLT11 с опер.группами из 6 людей 

    </p>

    <p class="section-title">Нарушений содержаний:</p>
    <p>Крупное нарушение содержаний объект-16 DE,объект-234 UK. Вы попытках содержаний были потерены основа охранной безопасности внутринной зоны</p>

    <p class="section-title">Этапы вторжения:</p>
    I. Прорыв внешнего периметра (04:13–06:00)
    <p>
    Первая атака обрушилась на Наружную зону. Аппараты «Аполлон-10–15» вступили в бой, нанеся урон технике противника.
    <p>
    Потеряно: 2 HMMWV, повреждены 3 сторожевых поста.
    <p>
    Один Су-25 успел подняться в воздух и сбил два вражеских дрона до уничтожения ПВО ударом с земли.
    <p>
    В тоже время Объект-16 DE и обхект-234 UK нарушили условии содержания
    <p>
        II. Удар по верхнему комплексу (06:15–08:40)
    <p>
        Группы вторжения прорвались в зону офисов и начали зачистку персонала 
    <p>
        «Аполлон-16–18» были уничтожены артиллерийским огнём. Система AI Vanguard временно перешла в аварийный режим.
    <p>
        AI Vanguard включает протокол «Защитный» 
    <p>
        III. Бой за вход  в реактор через тунель (09:00–14:30)
    <p>
        Основные силы противника попытались захватить второй отдел ядерного реактора.
    <p>
        T-72БЗ вступили в бой в коридоре D-5. Один танк уничтожен, два — повреждены.


    <p>
        AI Vanguard включает газ в тунель
    <p>
        IV. Прорыв обороны:  (14:30–17:00)
    <p>
        Расколотая воля вошла внутрь зоны
    <p>
        Объект-16 DE  был восстановлен
    <p>
        Объект-234 UK выходит к  переходу в ангар и комната технического обслуживания
    <p>
        V. Масштабные столкновения:  (14:30–17:00)
    <p>
        Объект-234 UK  был усыплён в ангарах пулемётами AI Vanguard
    <p>
        Расколотая воля  поражена Апаллоном и охранной
    <p>
        <strong>Итоги и потери</strong>
    <p>
        Потери SIDS:Личный состав:

        156 убито

        96 ранено

        11 пропало без вести.Техника:

        3 HMMWV уничтожены

        2 Т-72БЗ повреждены

        2 Су-25 сбиты

        Разрушения:

        Зона офисов — 80% повреждена

        Лаборатория — частично сожжена

        Метро — 50% завалено

        Первый реактор — окончательно разрушен
    <p>
        Потери противника: ~160 бойцов уничтожено

        6 единиц техники подбито

        8 БПЛА сбито

        Погибшие 10% имеют принадлежность к ЧВК под китайским и индийским флагом (вышито вручную, без маркировки)


    <p>
        <a href="/Zones/111"> Зона-111</a>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 2
    </div>

        <div class="nav-buttons">
            <a href="/AddInfo" class="back-button">← Назад к списку доп инф</a>
            <a href="/AddInfo/Phenomenon_not_significant_anomalies" class="next-button">←Феномен не знатительных аномалии </a>
            <a href="/AddInfo/KLAO" class="next-button">КЛАО →</a>

        </div>
</div>

<div class="footer-bar">
    Осада зоны-111
</div>