@{
	ViewData["Title"] = "Организации";
}

<div class="main-list">
	<h2>Список Организации</h2>
	<div class="Organization-list">

		<a class="anomaly-item" href="	Organizations/SIDS">

			<strong>SIDS</strong>
		</a>

		<a class="anomaly-item" href="	Organizations/Split_Will">

			<strong>Расколотая воля</strong>
		</a>

		
	</div>
</div>
