@{
	ViewData["Title"] = "Организации";
}

<div class="main-list">
	<h2>Список Организации</h2>
	<div class="Organization-list">

		<a class="anomaly-item" href="Anomalies/1">
		
			<strong></strong>« SIDS»
		</a>

	</div>
</div>
