
@{
	ViewData["Title"] = "Организации";
}

		<div class="main-list">
			<h2>Список Организации</h2>

			<div class="anomaly-grid">

	
		<a class="anomaly-card" href="	Organizations/SIDS">
		
			<div class="anomaly-info">
				<strong>SIDS</strong>

			</div>
		</a>
		
		<a class="anomaly-card" href="	Organizations/Split_Will">

			<div class="anomaly-info">
				<strong>Расколотая воля</strong>
			
			</div>
		</a>


</div>
