@{
    ViewData["Title"] = "SIDS";
}
<div class="main-anomaly">
    <h2>SIDS</h2>

    <div class="image-block">
        <img src="~/images/SIDS.png" alt=SIDS>
        <p style="text-align: center;"><strong>SIDS </strong><br>Эмблема SIDS </p>
    </div>



    <p class="section-title">Класс опасности: <span style="color:#b30000">В случае войны группировок вероятность выжить мал</span></p>
    <p>
        <strong>Смысл организации:</strong> SIDS — международная сверхсекретная организация, занимающаяся выявлением, сдерживанием и исследованием аномальных явлений, объектов и существ, представляющих угрозу для человечества, глобальной стабильности и физической реальности.

        В отличие от более жёсткой и изолированной структуры, подобной бывшей Американской службе "Адская длань"которая действила 1920-1945 годах, SIDS ориентирована не только на сдерживание, но и на отсрочку распространения опасности до нахождения безопасного способа нейтрализации (отсюда принцип DELAY), а также на максимальное сохранение человеческих жизней даже в условиях катастрофического уровня угрозы

        Организация действует официально в ряде государств, где имеет доступ к инфраструктуре, правительственным каналам и спецслужбам.
    </p>

    <p class="section-title">Официальная юрисдикция:</p>
    <p>
        SIDS ведёт деятельность в следующих странах:
    <p>
        Российская Федерация
    <p>
        США
    <p>
        Канада
    <p>
        Финляндия
    <p>
        Швеция


    <p>
        Япония
    <p>
        Европейский союз (отдельные страны по двусторонним соглашениям)
    <p>
        NATO
    <p>
        Африка(По ограниченным срокам кроме Египта,Объединенные Арабские Эмираты)
    <p>
        Саудовская Аравия
    <p>
        СНГ
    <p>
        Турция
    <p class="section-title">Запрещена на территории:
        Китайская Народная Республика (с 2013 года)

        Индия (с 2013 года)
    <p>
        После официального запрета деятельности в этих регионах, контроль над аномалиями в Китае и Индии был передан в руки враждебной конкурирующей организации — «Расколотая Воля». Последняя известна более агрессивными методами и идеологией прямого подчинения аномалий человеку, что неоднократно приводило к катастрофическим последствиям.
    <p>
    <p class="section-title">Основные принципы:
    <p>

        SECURE (Обезопасить):
        Обнаружить и немедленно локализовать угрозу. Задействовать протоколы зачистки и укрытия от общественности.

        INVESTIGATE (Исследовать):
        Проводить тщательные и многоуровневые исследования аномалии, как в полевых условиях, так и в лабораторных центрах.

        DELAY (Сдержать/отсрочить):
        Сдерживать развитие угрозы и последствия воздействия до момента нахождения стабильного решения или протокола ликвидации. Приоритет — избежать эскалации.

        SAVE (Спасти):
        Максимально обеспечить выживание гражданского населения и личного состава. В случае провала, проводить эвакуацию и экстренную нейтрализацию с минимальными потерями.

    <p class="section-title">  Создание организации:
    <p>
        Дата: 1917 год Место: Восточный фронт, район обороны Российской империи Во время артиллерийской перестрелки между армиями Российской и Венгерской империй вся российская боевая группа в указанной зоне исчезла. После отправки разведывательных групп обеих сторон не было обнаружено ни следов боя, ни тел, ни следов сражени. После октябрьской революции в 1920 Ленин подал указ на создания SIDS(Изначальное название комитет аномалии(1920-1937)старая название ОРЗС(1937-1950))



    </p>


        <div class="hihlight">
            
        </div>

    <div class="nav-buttons">
        <a href="/Organizations" class="back-button">← Назад к списку Организации</a>
      
        <a href="/Organizations/Split_Will" class="next-button">Расколотая воля →</a>

    </div>
</div>

<div class="footer-bar">
    SIDS
</div>