@{
    ViewData["Title"] = "Расколотая воля";
}
<div class="main-anomaly">
    <h2>Расколотая воля</h2>

    <div class="image-block">
        <img src="~/images/VOLA.png" alt=Расколотая воля>
        <p style="text-align: center;"><strong>Расколотая воля </strong><br>Эмблема Расколотой воли </p>
    </div>

    <p class="section-title">Класс опасности: <span style="color:#b30000">В случае войны группировок вероятность выжить мал</span></p>
    <p>
    <strong>«Расколотая Воля»:</strong>
    Классификация: Аномально-паравоенная группировка уровня -Высшая
    <p>
    Первая регистрация: 2013 год,Китай,Индия
    <p>
        Зона активности на 2025 год: Половина Лаоса, Камбоджа, частично Малайзия,Мьянма,Индия и китай.Возможно и Россия ,но к 2025 году это маловероятно 
  

    <p>
        <strong>Смысл организации:</strong> «Расколотая Воля» — это высокоорганизованная вооружённая группировка с радикальной идеологией, выступает за контроль аномалий и исользовании в военных силах Китая и Индии. против существования организаций  SIDS.

    <p>
        Организация провозглашает себя «освободительным движением человечества от технократической диктатуры». Главная цель — полное разрушение компаний , занимающихся контролем, сдерживанием и изучением аномальных объектов. «Расколотая Воля» рассматривает любую аномалию как «естественное право людей» и стремится распространить их использование.
    <p>
        <strong>Вооружение и снабжение:</strong>

        Группировка имеет стабильные поставки вооружений китайского ,индийского и постсоветского производства.

        Примеры образцов:

        QBZ-95, Type-81, Нора-Б52

        Советские РСЗО «Град», Т-55, Т-72А (модернизированные)

        ПЗРК «Игла», FN-6, артиллерия времён СССР

        И секретно Российские разработки 

        Также зафиксировано применение аномально модифицированной техники — включая «самообучающиеся» дроны и нестабильные энергетические элементы.

        По неподтверждённым данным, часть оборудования добывается через чёрный рынок Мьянмы и Южного Китая.
    <p>
        <strong>Структура и идеология:</strong>
        Группировка имеет децентрализованную структуру, каждая оперативная ячейка обладает значительной автономией. Основные звенья включают:

        Ударные боевые отряды

        Научно-экспериментальные бригады (изучают захваченные аномалии)

        Агентурные группы в странах-мишенях

        Информационные подразделения (занимаются пропагандой и кибероперациями)

        Скрктных агентов для нахождений аномалий

      


    </p>

    <strong>Попытки международного контакта: РФ:</strong>
    В 2016 году группа агентов "Расколотой Воли" была выявлена в структурах власти Российской Федерации.
    Некоторые радикальные элементы внутри РФ рассматривали возможность неформального альянса с группировкой, полагая, что это усилит давление на  SIDS.

    Однако после того, как SIDS предоставила прямые доказательства:

    Вмешательства "Расколотой Воли" в госучреждения РФ

    Террористических актов на территории Центральной Азии

    Попыток создания нестабильных порталов в Якутии и под Новосибирском

    Российская Федерация отказалась от какого-либо сближения с группировкой.
    Было принято молчаливое соглашение с SIDS:
    Россия не вступает в союз с группировкой, но и не высылает SIDS со своей территории, сохраняя нейтральный статус наблюдения.

    В 2025 году была обноружена группировка красная звезда с оружием РФ . В государстве нашли только одного человека который  был в госдуме и управлял красной звездой ██████ ██████████


    <p>
        
 

        <strong>Особые инциденты, связанные с группировкой:</strong>
    <p>
        2020 — нападение на исследовательский корабль SIDS у побережья Южного Китая
    <p>
        2022 — теракт в лаборатории SIDS-Германия (погибло 20 сотрудника)
    <p>
        2024 — масштабная осада Зоны-54 на территории Индонезии (совместно с неизвестной группой из Южной Индии)

        2024-Предположительно группировка красная звезда

    



    </p>

    <main>
        <p> Возможные наследники Расколотой воли</p>
        <h2>СТАТУС:ЛИКВИДИРОВАН</h2>
    </main>
    <p>
    <div class="image-block">
            <img src="~/images/red star1.png" alt=Красная звезда>
            <p style="text-align: center;">    </p>
    </div>
    <p>
        <strong>Описание:</strong>
        Красная звезда-Это возможно организация-наследник,тоесть управляется расколотой волей,но это не официально. Собрана она из наёмников и солдат из расколотой воли. Цель организаций была в диверсиях учреждений SIDS, что в не которых ситуациях было успешно. Вооружение было из постсоветского, российского и китайского пространства. Финансировал компанию губернатор ██████ ██████████ и расколотая воля.
    </p>

    <p>
        Часто при рейдах баз под Новосибирском и на Якути обнаружали символы анархии на разных поверхностях. Красная звезда сражалась за то, что бы использовать аномалии ради пользы людей, например в медицине. Они думали, что расколотая воля сражалась за мир с аномалиями и только в мирных использованиях. Неоднократно находились нашивки со флагом РФ и эмблемой красной звезды.
    </p>

    <p>
        Красная звезда около 5 месяцев успешно скрывала влияние на государство. Но когда офицер-предатель ████████ █████████  сообщил SIDS про базу под Новосибриском 01.12.24 года. К базе выдвинулись 10 отрядов спец.назн  по 7 человек. Коготь-100 до коготь-110. Одеты были в камуфляжную одежду для снайперов.Управлял  операцией офицер  из коготь-110 Алексей Иванович
    </p>
       
    <p>
        Под Якутией были около 4 внушительных учреждений и 17 малых баз. Операция была под названием *Искоренение хаоса* и была исполнена ротой *Афинские войны* в количестве 180 солдат.
        <p>
            <strong>Справка:</strong>
            Алексей Иванович был убит при Индийской войне за аномалиями ████████ .Он был награждён посмертно медалю за мужество и были выплачено родным около 2 000 000 рублей.
        </p>
    </p>   
    <p>
        <main>
         
            <h2>СТАТУС:НЕИЗВЕСТНО</h2>
        </main>

    </p>
    <div class="image-block">
            <img src="~/images/KANGARCKIE VOINI1.png" alt=Красная звезда>
        <p style="text-align: center;">  </p>
    </div>
    <p>
        Кангарские войны- Это две ротты которые в 2006 году учавствули во иранской гражданской войне 2006 года и занимались нахождением аномалий.Они действовли в особо-аномальном месте Ирака ███████.В 07.06.2007  ротта адских гончий начала активные дейсвтия в зоне действия  этих рот.В  итоге под конец гражданской войны  в Ираке адские гончии победили их и взяли в плен.Рядовых отправили в тюрму,а высокопоставленных отправили в плен .Но не которые сумели сбежать от заключения и в 2014 году расколотая предложила им  шанс отомстить и дать новые паспорта,деньги и жильё. В итоге дебатов ,они решили,что лучше всего объеденится  к расколотой воле. В 2017-2018 годах неоднократно  обнаружали эмблемы в Ирландии и в северной Ирландии.██████2019 года в городе Дроэда в районе ███████ █ обнаружили █████████ . Тогда полиция начала  раследование . Вы итоге 2020 году дело закрыли и за того,что было мало данных.В 2023 году Кангарские Войны обнаружены  при осаде зоны-54. В следущий раз была серия обнаружений в 2024 году в разных геологических  точках в Ирландии , Северной Ирландии и Южной Индии. В ирландии полиция их обнаружало в 11.2.24 по 27.8.24 . Они провезили контрабанту в виде оружия и с нароктиками. В южной индии их обнаружали как охрана для некоторых учреждений Расколотой Воли. ПА в 12.8.24 осадила одно из точек снабжения Кангарских Войнов.В итоге они получили много оружия и друигх припасов ,что позволило действовать  более эфективнее. При осаде были найдены пленеки и учёные Расколотой Воли. Их судьба засекречена по приказу главы КЛАО Джордж Смилерс.В 03.21.2025  году  глава полка слизни попросил дать ему документы про плеников Расоклотой Воли.

    </p>







    <div class="hihlight">
        <p class="section-title">    </p>
    </div>
    <a href="/Organizations" class="back-button">← Назад к списку Организации</a>
</div>

