@{
    ViewData["Title"] = "Объект-123 CN «Листосеком»";
}

<div class="main-anomaly">
    <h2>Объект-123 CN «Листосеком»</h2>

    <div class="image-block">
       
    </div>

    <p class="section-title">Класс зоны: <span style="color:#b30000">ГИГАЗОНА</span></p>
    <p>
        <strong>Способности-описание:</strong> 




    <p class="section-title">Обнаружение:</p>
    В Китае коготь-100.Точное местонахождение утеряно. Их нашли на вертолёте у маленьком озере которая находилась рядом с фабрикой. Через день все объекты-123 CN были взяты под контроль. И отправлены в зону 65. Через время они были отправленный на множество зон для  мяса для объектов

    <p>
    <p class="section-title">Происхождение:</p>
    Скорее всего мутировал из насекомого. Точный вид неизвестен
    <p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Обычная комната состоит из 12м 10 м 8м. Камера содержания на открытом воздухе с прудом . Вода должна каждую неделю менятся. Каждую неделю в камеру содержание идут два уборщика. Их кормят из кормилок .
    </p>



  

    <a href="/zones" class="back-button">← Назад к списку зон</a>
</div>

<div class="footer-bar">
   Зона-111
</div>