@{
    ViewData["Title"] = " Зона-111";
}
<div class="main-anomaly">
    <h2> Зона-111</h2>

    <div class="image-block">
    </div>

    <p class="section-title">Класс зоны: <span style="color:#b30000">ГИГАЗОНА</span></p>
    <p>
        <strong>:</strong> Зона-111 одна из самых больших зон. В неё входят 7 зон(Наружная зона,Зона офисов,зона лёгкого содержания,зона тяжёлого,зона технического обслуживания, Первый отдел ядерного реактора , Второй отдел ядерного реактора,лаборатория) Есть и второстепенные зоны(Ангар,авиапорт,парк,Метро,шахты,зона отдыха, зона серверов,отдел исследовании технологии) Объектов около: (ДАННЫЕ УДАЛЕНЫ) . Есть AI Vanguard который контролирует систему и может активировать протокол"ВР"Находится зона-111 между Лидс,Манчестер,Шеффрид.Есть протокол "смерть зоны" и "Защитный протокол". Электричество появляется и за ядерного реактора . Который был сделан в 1989 году. В 2018 первый ядерный реактор отключили и сделали новое помещение для нового второго реактора.

        
    </p>




    <p class="section-title">Охрана:</p> Охрана зоны-111 жёсткая. Патрулирует всю округу зоны-111 аполлон-10,аполлон-11,аполлон-12,аполлон-13,аполлон-14,аполлон-15. Верхнюю часть комплекса сторожит аполлон-16,аполлон-17,аполлон-18. Внутреннюю часть охраны неизвестно. Есть протокол безопасности "Свинец" . Есть протокол "16" который обезвреживает зону действия объект-16 DE. При нарушений условий содержаний весь персонал должен пройти в убежище по протоколу "ЖВС" При воздушной опасности есть два экземпляра Osa-AK. В зоне-111 есть 3 экземпляра т-72БЗ. Есть 8 экземпляра HMMWV.Есть 5 Су-25 .Для тяжёлой зоны есть мини экскаваторы для переноски вещей. В метро есть только два поезда . 
    <p>
      

    </p>

    <p class="section-title">появление:</p>  Зона-111 была изначально как помощь Британии от Советского союза в 1946 году. В 1959 году Британия объявила про  масштабную перестройку зоны-111. 
    <p>.</p>

    <p class="section-title">сооснователи:</p>  Сооснователи неизвестный. Известно что  их было 3. Два из Советского союза. 1 из Британии
    <p>
       
      
    </p>

   
    <p>
        <a href="/AddInfo/Siege_of_Zone_111">  Осада зоны-111</a>
    </p>

    <div class="highlight">
      Количество работинков примерно 350
    </div>

    <a href="/Zones" class="back-button">← Назад к списку зон</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bar">
   Зона-111
</div>