@{
    ViewData["Title"] = "ЗОНА-111";
}
<div class="main-anomaly">
    <h2>ЗОНА-111</h2>

    

    <p class="section-title">Класс объекта: <span style="color:#b30000">МАЛООПАСНЫЙ</span></p>
    <p>
        <strong>Способности:</strong> 
    </p>

    <p class="section-title">Описание:</p>
    <p>
        Объект-12 RU представляет собой сфероидный артефакт, визуально напоминающий металлический мяч. Диаметр ~11 см, высота — 11 см. Поверхность гладкая на ощупь, с выраженными металлическими характеристиками. Масса объекта составляет приблизительно 3 кг. При визуальном наблюдении верхняя часть шара демонстрирует проекцию ясного неба без облаков, независимо от освещённости и положения в пространстве. Нижняя часть обладает зеркальной отражающей способностью.
    </p>

    <p class="section-title">Происхождение:</p>
    <p>Согласно неподтверждённым источникам, Объект-12 RU предположительно принадлежал секте, известной как «Сектанты Лунных детей», и упал на Землю в результате неустановленного космического инцидента (район лесной зоны в Сибири). Предположительно прибыл из космоса.</p>

    <p class="section-title">Обнаружения:</p>
    <p>Первично зафиксирован в 1943 году в особняке, использовавшемся группировкой «Лунные дети». Найден немецким солдатом, разыскивавшим медикаменты. Солдат изъял объект, однако был ликвидирован спустя 10 минут советскими войсками. Объект был изъят бойцом Красной армии, Райкуновым Фёдором Петровичем, и доставлен на территорию SIDS.</p>

    <p class="section-title">Условия содержания:</p>
    <p>
        Объект-12 RU должен храниться в помещении размерами не менее 4.5×4.5 м. В центре расположена перевёрнутая цилиндрическая капсула из металла (наклон 90°), герметично закрытая куполом. Сам объект должен находиться в углублении, исключающем неконтролируемое перемещение.
    </p>

    <div class="highlight">
        УРОВЕНЬ ДОСТУПА: 5
    </div>

    <a href="/Anomalies" class="back-button">← Назад к списку аномалий</a>
</div>

<div class="footer-bar">
    ЗОНА-111
</div>