@{
	ViewData["Title"] = "Зоны";
}

<div class="main-list">
	<h2>Список зон</h2>
	<div class="	Zone-list">

		<a class="anomaly-item" href="	Zone/111">
			<span class="anomaly-dot red"></span>
			<strong>Зона 111</strong> 
		</a>

	</div>
</div>
